{
  // Use babel-recommended settings, and don't convert to CommonJS modules
  "presets": ["env", "es2015", "stage-0"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
    ],
  "env": {
  }
}
