{
  // Use babel-recommended settings, and don't convert to CommonJS modules
  "presets": [["env", { "modules": false }]],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
    ],
  "env": {
    "test": {
      // Reset exclude paramter as Istanbul ignores coverage for tests by default
      "plugins": [["istanbul", {"exclude": ["node_modules"]}]]
    }
  }
}
