.container {
	padding:3%;
	margin-right:auto;
	margin-left:auto;
}

.hard-right {
	float:right;
}

.spacer {
	width:10px;
	height:10px;
}

.inline-left {
	float:left;
	display:inline;
	width: 49%;
}

.inline-right {
	float:right;
	display:inline;
	width: 49%
}

.tri {
	margin-left:2%;
	margin-right:2%;
	width:30%;
}

.quad {
	margin-left:2%;
	margin-right:2%;
	width:22%;
}
