<div class="panel panel-default bio">
  <div class="panel-body">
    <div class="row" data-bind="click: openModal, with: abilityScores"
         title="Click to edit Ability Scores.">
      <table class="table table-responsive table-hover table-no-margin">
        <thead>
          <tr class="clickable">
            <th width="16%" class="text-center">Strength</th>
            <th width="16%" class="text-center">Dexterity</th>
            <th width="16%" class="text-center">Constitution</th>
            <th width="16%" class="text-center">Intelligence</th>
            <th width="16%" class="text-center">Wisdom</th>
            <th width="16%" class="text-center">Charisma</th>
          </tr>
        </thead>
        <tbody>
          <tr class="clickable">
            <td class="text-center">
              <span data-bind='text: str'></span>
              <sup>
                <span class="badge" data-bind="text: strModifier"></span>
              </sup>
            </td>
            <td class="text-center">
              <span data-bind='text: dex'></span>
              <sup>
                <span class="badge" data-bind="text: dexModifier"></span>
              </sup>
            </td>
            <td class="text-center">
              <span data-bind='text: con'></span>
              <sup>
                <span class="badge" data-bind="text: conModifier"></span>
              </sup>
            </td>
            <td class="text-center">
              <span data-bind='text: int'></span>
              <sup>
                <span class="badge" data-bind="text: intModifier"></span>
              </sup>
            </td>
            <td class="text-center">
              <span data-bind='text: wis'></span>
              <sup>
                <span class="badge" data-bind="text: wisModifier"></span>
              </sup>
            </td>
            <td class="text-center">
              <span data-bind='text: cha'></span>
              <sup>
                <span class="badge" data-bind="text: chaModifier"></span>
              </sup>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Add Modal -->
<div class="modal fade" tabindex="-1" role="dialog"
   data-bind="modal: {
      open: modalStatus,
      onopen: modalFinishedAnimating
    }, with: abilityScores">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"> <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          Edit Ability Scores
        </h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-xs-7 pull-left">Strength</label>
            <div class="col-xs-5">
              <input type="number"
                     class="form-control ability-score-input pull-left"
                     min="0"
                     data-bind='value: str,
                      hasFocus: $parent.firstModalElementHasFocus'>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-7 pull-left">Dexterity</label>
            <div class="col-xs-5">
              <input type="number"
                     class="form-control ability-score-input"
                     min="0"
                     data-bind='value: dex'>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-7 pull-left">Constitution</label>
            <div class="col-xs-5">
              <input type="number"
                     class="form-control ability-score-input"
                     min="0"
                     data-bind='value: con'>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-7 pull-left">Intelligence</label>
            <div class="col-xs-5">
              <input type="number"
                     class="form-control ability-score-input"
                     min="0"
                     data-bind='value: int'>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-7 pull-left">Wisdom</label>
            <div class="col-xs-5">
              <input type="number"
                     class="form-control ability-score-input"
                     min="0"
                     data-bind='value: wis'>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-7 pull-left">Charisma</label>
            <div class="col-xs-5">
              <input type="number"
                     class="form-control ability-score-input"
                     min="0"
                     data-bind='value: cha'>
            </div>
          </div>
          <div class="modal-footer-ability-scores">
            <div class="form-group">
              <div class="col-xs-offset-7 col-xs-5">
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal">Done</button>
              </div>
             </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
