<div class="panel panel-default">
  <div class="panel-body" data-bind="with: appearance">
  	<!-- Names -->
	  <div class="row">
      <div class="col-md-6 col-padded">
    	  <div class="input-group">
	      	<span class="input-group-addon" id="basic-addon2">Height</span>
      		<input type="text" class="form-control" aria-describedby="basic-addon2"
		      	data-bind='textInput: height'>
  	    </div>
	    </div>
      <div class="col-md-6 col-padded">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Weight</span>
          <input type="number"
                 class="form-control"
                 aria-describedby="basic-addon2"
                 min="1"
                 max="1500"
                 data-bind='textInput: weight'>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-padded">
    	  <div class="input-group">
	      	<span class="input-group-addon" id="basic-addon2">Hair Color</span>
      		<input type="text" class="form-control" aria-describedby="basic-addon2"
		      	data-bind='textInput: hairColor'>
  	    </div>
	    </div>
      <div class="col-md-6 col-padded">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Eye Color</span>
          <input type="text" class="form-control" aria-describedby="basic-addon2"
            data-bind='textInput: eyeColor'>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-padded">
    	  <div class="input-group">
	      	<span class="input-group-addon" id="basic-addon2">Skin Color</span>
      		<input type="text" class="form-control" aria-describedby="basic-addon2"
		      	data-bind='textInput: skinColor'>
  	    </div>
	    </div>
	  </div>
	</div>
</div>
