<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-responsive table-ac-bordered table-hover">
      <thead>
        <tr>
          <th data-bind="click: function(){sortBy('armorEquipped');}">
            <span data-bind="css: sortArrow('armorEquipped')"></span>
          </th>
          <th data-bind="click: function(){sortBy('armorName');}">
            Armor
            <span data-bind="css: sortArrow('armorName')"></span>
          </th>
          <th class="hidden-sm hidden-xs" data-bind="click: function(){sortBy('armorType');}">
            Type
            <span data-bind="css: sortArrow('armorType')"></span>
          </th>
          <th class="hidden-sm hidden-xs">
            Armor Class
          </th>
          <th>
            <a data-toggle="modal"
               data-target="#addArmor" href="#">
              <i class="fa fa-plus fa-color"></i>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
      <!-- ko foreach: filteredAndSortedArmors -->
        <tr class="clickable">
          <td data-bind="click: $parent.editArmor"
              href="#"
              data-target="#viewArmor">
            <span data-bind="css: armorEquippedLabel"></span>
          </td>
          <td data-bind="click: $parent.editArmor"
              href="#"
              data-target="#viewArmor">
              <span data-bind="text: armorName"></span>&nbsp;
              <span data-bind="text: magicalModifierLabel, css: { badge: applyMagicalModifierLabel }">
              </span></td>
          <td class="hidden-sm hidden-xs"
              data-bind="text: armorType, click: $parent.editArmor"
              href="#"
              data-target="#viewArmor"></td>
          <td class="hidden-sm hidden-xs"
              data-bind="text: armorClass, click: $parent.editArmor"
              href="#"
              data-target="#viewArmor"></td>
          <td>
            <a data-bind="click: $parent.removeArmor" href="#">
              <i class="fa fa-trash-o fa-color-hover">
              </i>
            </a>
          </td>
        </tr>
      <!-- /ko -->
      <!-- ko if: filteredAndSortedArmors().length == 0 -->
        <tr class="clickable">
          <td data-toggle="modal" data-target="#addArmor" href="#"
            colspan="5" class="text-center">
            <i class="fa fa-plus fa-color"></i>
            Add a new armor
          </td>
        </tr>
      <!-- /ko -->
      </tbody>
    </table>
    </div> <!-- end panel body -->
    <div class="container-fluid panel-footer">
      <span class="pull-right">Total weight:&nbsp;
        <span data-bind="text: totalWeight"></span>
      </span>
    </div> <!-- end panel footer -->
    <!-- Add Modal -->
    <div class="modal fade"
         id="addArmor"
         tabindex="-1"
         role="dialog"
         aria-labelledby="addArmorLabel"
         data-bind="modal: { onopen: modalFinishedOpening }">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="addArmorLabel">Add an armor piece to your armory.</h4>
        </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="armorName"
                       class="col-sm-2 control-label">Armor</label>
                <div class="col-sm-10">
                  <input type="text"
                         class="form-control"
                         id="armorName"
                         placeholder="Chain Mail"
                         data-bind='textInput: blankArmor().armorName, autocomplete: { source: armorsPrePopFilter,
                            onselect: populateArmor }, hasFocus: firstModalElementHasFocus'>
                </div>
              </div>
              <div class="form-group">
                <label for="armorType"
                       class="col-sm-2 control-label">Type</label>
                  <div class="col-sm-10">
                  <select class="form-control"
                          data-bind="options: blankArmor().armorTypeOptions,
                                     value: blankArmor().armorType,
                                     select2: {theme: 'classic'}"></select>
                  </div>
              </div>
              <div class="form-group">
                <label for="armorMagicalModifier"
                       class="col-sm-2 control-label">Magical Modifier</label>
                  <div class="col-sm-10">
                  <input type="number" class="form-control"
                         id="armorMagicalModifier"
                         data-bind='textInput: blankArmor().armorMagicalModifier'>
                  </div>
              </div>
              <div class="form-group">
                <label for="armorPrice"
                       class="col-sm-2 control-label">Price</label>
                <div class="col-sm-10">
        					<div class="input-group">
        						<input type="text"
        							   class="form-control input-select2-addon"
        							   id="armorPrice"
        							   placeholder="5"
        							   data-bind='textInput: blankArmor().armorPrice'>
        					   <span class="input-group-addon">
        							<select class="form-control"
        							data-bind="options: currencyDenominationList,
        							value: blankArmor().armorCurrencyDenomination,
        							select2: {theme: 'classic'}"></select>
        						</span>
        					</div>
				          </div>
              </div>
              <div class="form-group">
                <label for="armorWeight"
                       class="col-sm-2 control-label">Weight</label>
                  <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           id="armorWeight"
                           placeholder="6"
                           data-bind='textInput: blankArmor().armorWeight'>
                  </div>
              </div>
              <div class="form-group">
                <label for="armorClass"
                       class="col-sm-2 control-label">Armor Class</label>
                  <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           id="armorClass"
                           placeholder="3"
                           data-bind='textInput: blankArmor().armorClass'>
                  </div>
              </div>
              <div class="form-group">
                <label for="armorSize"
                       class="col-sm-2 control-label">Stealth</label>
                  <div class="col-sm-10">
                  <select class="form-control"
                          data-bind="options: blankArmor().armorStealthOptions,
                                     value: blankArmor().armorStealth,
                                     select2: {theme: 'classic'}"></select>
                  </div>
              </div>
              <div class="form-group">
              <label
                     class="col-sm-2 control-label">Equipped</label>
                <div class="col-sm-10">
                  <div class="btn-group btn-group-justified" role="group">
                  <label class="btn btn-default"
                  data-bind="css: { active: blankArmor().armorEquipped() == ''}">
                    <input type="radio" class="hide-block"
                    name="notEquipped" value="" data-bind="checked: blankArmor().armorEquipped"/>
                    No
                  </label>
                  <label class="btn btn-default"
                  data-bind="css: { active: blankArmor().armorEquipped() == 'equipped'}">
                    <input type="radio" class="hide-block"
                    name="equipped" value="equipped" data-bind="checked: blankArmor().armorEquipped"/>
                    Yes
                    </label>
                </div>
                </div>
              </div>
              <div class="form-group">
                <label for="armorDescription"
                       class="col-sm-2 control-label">Description</label>
                  <div class="col-sm-10">
                    <textarea type="password"
                              class="form-control"
                              id="armorDescription"
                              rows="4"
                              placeholder="Armor of damage blocking"
                              data-bind='textInput: blankArmor().armorDescription'>
                    </textarea>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal">Cancel</button>
                <button type="button"
                        class="btn btn-primary"
                        data-bind='click: addArmor'
                        data-dismiss="modal">Add</button>
                <p class="text-muted text-left" data-bind='visible: shouldShowDisclaimer'>
                  <sm><i>This data is distributed under the
                    <a href='http://media.wizards.com/2016/downloads/DND/SRD-OGL_V5.1.pdf'
                      target='_blank'>
                      OGL</a><br/>
                      Open	Game	License	v	1.0a	Copyright	2000,	Wizards	of	the	Coast,	LLC.
                    </i><sm>
                </p>
              </div>
            </form>
          </div> <!-- Modal Body -->
        </div> <!-- Modal Content -->
      </div> <!-- Modal Dialog -->
    </div> <!-- Modal Fade -->

    <!-- ViewEdit Modal -->
    <div class="modal fade"
         id="viewArmor"
         tabindex="-1"
         role="dialog"
         aria-labelledby="viewArmorLabel"
         data-bind="modal: {
           open: selecteditem,
           onopen: modalFinishedOpening,
           onclose: modalFinishedClosing
        }">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="viewArmorLabel">View an armor piece from your armory.</h4>
        </div>
          <div class="modal-body">

            <!-- Begin Tabs -->
            <ul class="nav nav-tabs tabs">
              <li role="presentation" data-bind="click: selectPreviewTab, css: previewTabStatus">
                <a href="#armorItemsModalPreview" aria-controls="armorModalPreview" role="tab" data-toggle="tab">
                    <b>Preview</b>
                </a>
              </li>
              <li role="presentation" data-bind="click: selectEditTab, css: editTabStatus">
                <a href="#armorModalEdit" aria-controls="armorModalEdit" role="tab" data-toggle="tab">
                    <b>Edit</b>
                </a>
              </li>
            </ul>

            <div class="tab-content" data-bind="with: selecteditem">
              <div role="tabpanel" data-bind="css: $parent.previewTabStatus" class="tab-pane" id="armorModalPreview">
                <div class="h3">
                  <span data-bind="text: armorName"></span>&nbsp;
                  <small data-bind="text: armorSummaryLabel"></small>
                </div>

                <hr />
                <div class="row">
                  <div class="col-sm-4 col-xs-12"><b>Stealth:</b>&nbsp;<span data-bind="text: armorStealth"></span></div>
                  <div class="col-sm-4 col-xs-12"><b>Weight:</b>&nbsp;<span data-bind="text: armorWeightLabel"></span></div>
                  <div class="col-sm-4 col-xs-12"><b>Type:</b>&nbsp;<span data-bind="text: armorType"></span></div>
                </div>

                <hr />
                <h4>Description</h4>
                <div class="row row-padded">
                  <div class="col-xs-12 col-padded">
                    <div data-bind="html: armorDescriptionHTML"
                         class="preview-modal-overflow">
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button"
                          class="btn btn-primary"
                          data-dismiss="modal">Done</button>
                </div>
              </div> <!-- End Preview Tab -->

              <div role="tabpanel" data-bind="css: $parent.editTabStatus" class="tab-pane" id="magicItemsModalEdit">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="armorName"
                           class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text"
                             class="form-control"
                             id="armorName"
                             placeholder="Chain Mail"
                             data-bind='textInput: armorName,
                              hasFocus: $parent.editFirstModalElementHasFocus'>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="armorType"
                           class="col-sm-2 control-label">Type</label>
                      <div class="col-sm-10">
                      <select class="form-control"
                              data-bind="options: armorTypeOptions,
                                         value: armorType,
                                         select2: {theme: 'classic'}"></select>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="armorMagicalModifier"
                           class="col-sm-2 control-label">Magical Modifier</label>
                      <div class="col-sm-10">
                      <input type="number" class="form-control"
                             id="armorMagicalModifier"
                             data-bind='textInput: armorMagicalModifier'>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="armorPrice"
                           class="col-sm-2 control-label">Price</label>
                    <div class="col-sm-10">
            					<div class="input-group">
            						<input type="text"
            							   class="form-control input-select2-addon"
            							   id="armorPrice"
            							   placeholder="5"
            							   data-bind='textInput: armorPrice'>
            					   <span class="input-group-addon">
            							<select class="form-control"
            							data-bind="options: $parent.currencyDenominationList,
            							value: armorCurrencyDenomination,
            							select2: {theme: 'classic'}"></select>
            						</span>
            					</div>
    				        </div>
                  </div>
                  <div class="form-group">
                    <label for="armorWeight"
                           class="col-sm-2 control-label">Weight</label>
                      <div class="col-sm-10">
                        <input type="text"
                               class="form-control"
                               id="armorWeight"
                               placeholder="6"
                               data-bind='textInput: armorWeight'>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="armorClass"
                           class="col-sm-2 control-label">Armor Class</label>
                      <div class="col-sm-10">
                        <input type="text"
                               class="form-control"
                               id="armorClass"
                               placeholder="3"
                               data-bind='textInput: armorClass'>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="armorSize"
                           class="col-sm-2 control-label">Stealth</label>
                      <div class="col-sm-10">
                      <select class="form-control"
                              data-bind="options: armorStealthOptions,
                                         value: armorStealth,
                                         select2: {theme: 'classic'}"></select>
                      </div>
                  </div>
                  <div class="form-group">
                  <label
                         class="col-sm-2 control-label">Equipped</label>
                    <div class="col-sm-10">
                      <div class="btn-group btn-group-justified" role="group">
                      <label class="btn btn-default"
                      data-bind="css: { active: armorEquipped() == ''}">
                        <input type="radio" class="hide-block"
                        name="notEquipped" value="" data-bind="checked: armorEquipped"/>
                        No
                      </label>
                      <label class="btn btn-default"
                      data-bind="css: { active: armorEquipped() == 'equipped'}">
                        <input type="radio" class="hide-block"
                        name="equipped" value="equipped" data-bind="checked: armorEquipped"/>
                        Yes
                        </label>
                    </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="armorDescription"
                           class="col-sm-2 control-label">Description</label>
                      <div class="col-sm-10">
                        <textarea type="password"
                                  class="form-control"
                                  id="armorDescription"
                                  rows="4"
                                  placeholder="Armor of damage blocking"
                                  data-bind='textInput: armorDescription'>
                        </textarea>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button"
                            class="btn btn-primary"
                            data-dismiss="modal">Done</button>
                  </div>
                </form>
              </div> <!-- End Edit Tab -->
            </div> <!-- End With Selection -->
          </div> <!-- Modal Body -->
        </div> <!-- Modal Content -->
      </div> <!-- Modal Dialog -->
    </div> <!-- Modal Fade -->
</div> <!-- Panel -->
