<div class="panel panel-default">
	<div class='panel-body'>
    <div class="progress" data-bind="{ foreach: dailyFeatures, visible: dailyFeatures().length > 0 }">
      <div class="progress-bar" role="progressbar" aria-valuemin="0" data-bind="style: { width: dailyFeaturesProgressWidth() * $parent.maxFeatureWidth() + '%' }, css: color">
        <span class="sr-only"></span>
      </div>
    </div>
		<table id='dailyFeaturesTable' class="table table-responsive table-ac-bordered table-hover">
			<thead>
				<tr>
					<th class="col-sm-2" data-bind="click: function(){sortBy('featureName');}">Name
            <i data-bind="css: sortArrow('featureName')"></i>
          </th>
					<th class="col-sm-1" data-bind="click: function(){sortBy('featureMaxUses');}">Max
            <i data-bind="css: sortArrow('featureMaxUses')"></i>
          </th> <!-- Max -->
					<th class="col-sm-1" data-bind="click: function(){sortBy('featureResetsOn');}">Resets on
            <i data-bind="css: sortArrow('featureResetsOn')"></i>
          </th> <!-- Max -->
					<th class="col-sm-3 text-center">Used</th> <!-- Up/down -->
					<th class="col-sm-1">Reset</th>
					<th class="col-sm-1"> <a data-toggle="modal" data-target="#addDailyFeatures" href="#"> <i class="fa fa-plus fa-color"></i> </a> </th>
				</tr>
			</thead>
			<tbody>
			<!-- ko foreach: filteredAndSortedDailyFeatures -->
				<tr class="clickable">
					<td data-bind="click: $parent.editDailyFeature"
					href="#"
					class="col-sm-3 feature-row"
          data-toggle="modal"
          data-target="#viewDailyFeature">
            <span data-bind="css: color" class="form-control pull-left color-picker-item"></span>
  					<span
  					href="#"
            data-toggle="modal"
            data-target="#viewDailyFeature" data-bind="text: featureName">
					  </span>
					</td>
					<td class="col-content-vertical col-sm-1" data-bind="click: $parent.editDailyFeature"
          href="#"
          class="col-sm-3 feature-row"
          data-toggle="modal"
          data-target="#viewDailyFeature">
						<span data-bind="text: featureMaxUses" ></span>
					</td>
					<td class="col-content-vertical col-sm-1" data-bind="click: $parent.editDailyFeature"
          href="#"
          class="col-sm-3 feature-row"
          data-toggle="modal"
          data-target="#viewDailyFeature">
          	<!-- ko if: needsResetsOnImg -->
						<img class="action-bar-icon" data-bind="attr: { 'src': resetsOnImgSource }"></img>
						<!-- /ko -->
					</td>
					<td class="col-sm-3">
            <plus-minus params="value: featureUsed, max: featureMaxUses"></plus-minus>
					</td>

					<td class="col-content-vertical col-sm-1"> <!--Refresh -->
						<a data-bind="click: $parent.refreshDailyFeature" href="#">
							<i class="fa fa-refresh fa-color"> </i>
						</a>
					<td class="col-sm-1 col-content-vertical"> <!--Remove -->
						<a data-bind="click: $parent.removeDailyFeature" href="#">
							<i class="fa fa-trash-o fa-color-hover"> </i>
						</a>
					</td>
				</tr>
      <!-- /ko -->
      <!-- ko if: filteredAndSortedDailyFeatures().length == 0 -->
        <tr class="clickable">
          <td data-toggle="modal" data-target="#addDailyFeatures" href="#"
            colspan="6" class="text-center">
            <i class="fa fa-plus fa-color"></i>
            Add a new tracked Feature, Feat, or Trait
          </td>
        </tr>
      <!-- /ko -->
			</tbody>
		</table>
	</div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addDailyFeatures" tabindex="-1" role="dialog"
	aria-labelledby="addDailyFeatureLabel" data-bind="modal: {
		 onopen: modalFinishedAnimating}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
				<h4 class="modal-title" id="addDailyFeaturelLabel"> Add a Feature, Feat or Trait to be tracked.
				</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="name"
								data-bind='textInput: blankDailyFeature().featureName,
									hasFocus: modifierHasFocus'>
						</div>
					</div>
					<div class="form-group">
						<label for="bonus" class="col-sm-2 control-label">Max</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" id="max" min="1" data-bind='textInput: blankDailyFeature().featureMaxUses'>
						</div>
					</div>
					<div class="form-group">
					<label
								 class="col-sm-2 control-label">Resets on...</label>
						<div class="col-sm-10">
							<div class="btn-group btn-group-justified" role="group">
							<label class="btn btn-default"
							data-bind="css: { active: blankDailyFeature().featureResetsOn() == 'short'}">
								<input type="radio" class="hide-block"
								name="featureResetsOnShort" value="short" data-bind="checked: blankDailyFeature().featureResetsOn"/>
								<img class="action-bar-icon" src="/images/meditation.svg"></img>
								&nbsp;&nbsp;&nbsp;Short Rest
							</label>
							<label class="btn btn-default"
							data-bind="css: { active: blankDailyFeature().featureResetsOn() == 'long'}">
								<input type="radio" class="hide-block"
								name="featureResetsOnLong" value="long" data-bind="checked: blankDailyFeature().featureResetsOn"/>
								<img class="action-bar-icon" src="/images/camping-tent.svg"></img>
								&nbsp;&nbsp;&nbsp;Long Rest
								</label>
						</div>
						</div>
					</div>
					<div class="form-group">
						<label for="featureDescription" class="col-sm-2 control-label">Description</label>
							<div class="col-sm-10">
								<textarea type="password" class="form-control" id="featureDescription"
													rows="4" placeholder="You shoot fire from ..." data-bind='textInput: blankDailyFeature().featureDescription'>
								</textarea>
							</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> <button type="button" class="btn btn-primary" data-bind='click: addDailyFeature' data-dismiss="modal">Add</button>
					</div>
				</form>
			</div>

<!-- Modal Body -->
		</div>
<!-- Modal Content -->
	</div>
<!-- Modal Dialog -->
</div>
<!-- Modal Fade -->
<!-- ViewEdit Modal -->
	<div class="modal fade" id="viewDailyFeature" tabindex="-1" role="dialog"
		aria-labelledby="viewDailyFeatureLabel" data-bind="modal: {
			 onopen: editModalOpen}, with: selecteditem">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
					<h4 class="modal-title" id="addSlotLabel">Edit a tracked Feature, Feat, or Trait.
					</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="name"
								data-bind='textInput: featureName, hasFocus: $parent.editHasFocus'>
						</div>
					</div>
					<div class="form-group">
						<label for="bonus" class="col-sm-2 control-label">Max</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" id="max" min="1" data-bind='textInput: featureMaxUses'>
						</div>
					</div>
					<div class="form-group">
					<label class="col-sm-2 control-label">Resets on...</label>
						<div class="col-sm-10">
							<div class="btn-group btn-group-justified" role="group">
								<label class="btn btn-default"
								data-bind="css: { active: featureResetsOn() == 'short'}">
									<input type="radio" class="hide-block"
									name="featureResetsOnShort" value="short" data-bind="checked: featureResetsOn"/>
									<img class="action-bar-icon" src="/images/meditation.svg"></img>
									&nbsp;&nbsp;&nbsp;Short Rest
								</label>
								<label class="btn btn-default"
								data-bind="css: { active: featureResetsOn() == 'long'}">
									<input type="radio" class="hide-block"
									name="featureResetsOnLong" value="long" data-bind="checked: featureResetsOn"/>
									<img class="action-bar-icon" src="/images/camping-tent.svg"></img>
									&nbsp;&nbsp;&nbsp;Long Rest
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="featureDescription" class="col-sm-2 control-label">Description</label>
							<div class="col-sm-10">
								<textarea type="password" class="form-control" id="featureDescription"
													rows="4" placeholder="You shoot fire from ..." data-bind='textInput: featureDescription'>
								</textarea>
							</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
					</div>
				</form>
			</div>

<!-- Modal Body -->
		</div>
<!-- Modal Content -->
	</div>
<!-- Modal Dialog -->
</div>
<!-- Modal Fade -->
