<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-responsive table-ac-bordered table-hover">
      <thead>
        <tr>
          <th data-bind="click: function(){sortBy('itemName');}">
            Item
            <span data-bind="css: sortArrow('itemName')"></span></th>
          <th data-bind="click: function(){sortBy('itemQty');}">
            Quantity
            <span data-bind="css: sortArrow('itemQty')"></span></th>
          <th data-bind="click: function(){sortBy('itemWeight');}">
            Weight
            <span data-bind="css: sortArrow('itemWeight')"></span></th>
          <th class="hidden-sm hidden-xs">
            Description</th>
          <th>
           <a data-toggle="modal"
            data-target="#addItem" href="#">
              <i class="fa fa-plus fa-color"></i>
           </a>
          </th>
        </tr>
      </thead>
      <tbody>
      <!-- ko foreach: filteredAndSortedEquipment -->
        <tr class="clickable">
          <td data-bind="text: itemName, click: $parent.editItemButton"
                  href="#"></td>
          <td data-bind="text: itemQty, click: $parent.editItemButton"
                  href="#"></td>
          <td data-bind="text: itemWeight, click: $parent.editItemButton"
                  href="#"></td>
          <td class="hidden-sm hidden-xs" data-bind="text: shortDescription,
            click: $parent.editItemButton" href="#"></td>
          <td>
            <a data-bind='click: $parent.removeItemButton' href="#">
              <i class="fa fa-trash-o fa-color-hover"></i>
            </a>
          </td>
        </tr>
      <!-- /ko -->
      <!-- ko if: filteredAndSortedEquipment().length == 0 -->
        <tr class="clickable">
          <td href="#" data-toggle="modal"
           data-target="#addItem" colspan="6" class="text-center">
            <i class="fa fa-plus fa-color"></i>
            Add a new item
          </td>
        </tr>
      <!-- /ko -->
      </tbody>
    </table>
  </div> <!-- end panel body -->
  <div class="container-fluid panel-footer">
     <span class="pull-right">Total weight:&nbsp;
      <span data-bind="text: totalItemWeight"></span>
    </span>
  </div> <!-- end panel footer -->
</div>


<!-- Add Modal -->
<div class="modal fade"
  id="addItem" tabindex="-1" role="dialog" aria-labelledby="addItemLabel"
  data-bind="modal: { onopen: modalFinishedOpening }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add an Item to your Inventory.</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
           <label for="itemName"
             class="col-sm-2 control-label">Name</label>
           <div class="col-sm-10">
             <input type="text"
               class="form-control"
               id="itemName"
               placeholder="Rations"
               data-bind='textInput: blankItem().itemName,
                 autocomplete: { source: itemsPrePopFilter, onselect: populateItem },
                 hasFocus: firstModalElementHasFocus'>
           </div>
         </div>
         <div class="form-group">
           <label for="itemWeight"
             class="col-sm-2 control-label">Weight</label>
           <div class="col-sm-10">
             <div class="input-group">
               <input type="number"
                      class="form-control"
                      min="0"
                      max="5000"
                 placeholder="Item Weight"
                 data-bind='textInput: blankItem().itemWeight'>
                 <span class="input-group-addon">lbs.</span>
             </div>
           </div>
         </div>
         <div class="form-group">
           <label for="itemQuantity"
             class="col-sm-2 control-label">Quantity</label>
           <div class="col-sm-10">
             <input type="number"
               class="form-control"
               min="0"
               max="5000"
               id="itemQuantity"
               placeholder="Item Quantity"
               data-bind='textInput: blankItem().itemQty'>
           </div>
         </div>
         <div class="form-group">
           <label
             class="col-sm-2 control-label">Cost</label>
           <div class="col-sm-10">
      		   <div class="input-group">
      			 <input type="number"
      			   min="0"
      			   class="form-control input-select2-addon"
      			   data-bind="value: blankItem().itemCost" />
      			 <span class="input-group-addon">
               <select class="form-control"
      						data-bind="options: currencyDenominationList,
      						value: blankItem().itemCurrencyDenomination,
      						select2: {theme: 'classic'}"></select>
              </span>
      		   </div>
    	      </div>
         </div>
         <div class="form-group">
           <label for="itemDescription"
             class="col-sm-2 control-label">Description</label>
           <div class="col-sm-10">
             <textarea type="password"
               class="form-control"
               id="itemDescription"
               placeholder="Rations consist of..."
               rows="4"
               data-bind='textInput: blankItem().itemDesc'>
             </textarea>
           </div>
         </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"
          class="btn btn-default"
          data-dismiss="modal">
          Cancel
        </button>
        <button type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          data-bind="click: addItemButton">
          Add
        </button>
        <p class="text-muted text-left" data-bind='visible: shouldShowDisclaimer'>
          <sm><i>This data is distributed under the
            <a href='http://media.wizards.com/2016/downloads/DND/SRD-OGL_V5.1.pdf'
              target='_blank'>
              OGL</a><br/>
              Open	Game	License	v	1.0a	Copyright	2000,	Wizards	of	the	Coast,	LLC.
            </i><sm>
        </p>
      </div>
    </div> <!-- Modal Content -->
  </div> <!-- Modal Dialog -->
</div> <!-- Modal Fade -->


<!-- ViewEdit Modal -->
<div class="modal fade"
     data-bind="modal: {
       open: selecteditem,
       onopen: modalFinishedOpening,
       onclose: modalFinishedClosing
      }"
     id="viewItem"
     tabindex="-1"
     role="dialog"
     aria-labelledby="viewSpellLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">View an item from your inventory.</h4>
      </div>
      <div class="modal-body">
        <!-- Begin Tabs -->
        <ul class="nav nav-tabs tabs">
          <li role="presentation" data-bind="click: selectPreviewTab, css: previewTabStatus">
            <a href="#magicItemsModalPreview" aria-controls="itemsModalPreview" role="tab" data-toggle="tab">
                <b>Preview</b>
            </a>
          </li>
          <li role="presentation" data-bind="click: selectEditTab, css: editTabStatus">
            <a href="#magicItemsModalEdit" aria-controls="itemsModalEdit" role="tab" data-toggle="tab">
                <b>Edit</b>
            </a>
          </li>
        </ul>
        <div class="tab-content" data-bind="with: selecteditem">
          <div role="tabpanel" data-bind="css: $parent.previewTabStatus" class="tab-pane" id="itemsModalPreview">
            <div class="h3">
              <span data-bind="text: itemName"></span>&nbsp;
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-6 col-xs-12"><b>Weight:</b>&nbsp;<span data-bind="text: itemWeightLabel"></span></div>
              <div class="col-sm-6 col-xs-12"><b>Quantity:</b>&nbsp;<span data-bind="text: itemQty"></span></div>
            </div>
            <hr />
            <h4>Description</h4>
            <div class="row row-padded">
              <div class="col-xs-12 col-padded">
                <div data-bind="html: itemDescriptionHTML"
                     class="preview-modal-overflow">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button"
                      class="btn btn-primary"
                      data-dismiss="modal">Done</button>
            </div>
          </div> <!-- End Preview Tab -->
          <div role="tabpanel" data-bind="css: $parent.editTabStatus" class="tab-pane" id="magicItemsModalEdit">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="itemName"
                       class="col-sm-2 control-label">Name
                </label>
                <div class="col-sm-10">
                  <input type="text"
                         class="form-control"
                         id="itemName"
                         placeholder="Rations"
                         data-bind='textInput: itemName,
                          hasFocus: $parent.editFirstModalElementHasFocus'>
                </div>
              </div>
              <div class="form-group">
                <label for="itemWeight"
                       class="col-sm-2 control-label">Weight</label>
                <div class="col-sm-10">
                  <div class="input-group">
                    <input type="number"
                           class="form-control"
                           min="0"
                           max="5000"
                           placeholder="Item Weight"
                           data-bind='textInput: itemWeight'>
                    <span class="input-group-addon">lbs.</span>
                  </div>
                 </div>
              </div>
              <div class="form-group">
                <label for="itemQuantity"
                       class="col-sm-2 control-label">Quantity</label>
                <div class="col-sm-10">
                  <input type="number"
                         class="form-control"
                         min="0"
                         max="5000"
                         id="itemQuantity"
                         placeholder="Item Quantity"
                         data-bind='textInput: itemQty'>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Cost</label>
                  <div class="col-sm-10">
          		      <div class="input-group">
          			      <input type="number"
          			             min="0"
          			             class="form-control input-select2-addon"
          			             data-bind="value: itemCost" />
          			      <span class="input-group-addon">
                      <select class="form-control"
          					         	data-bind="options: $parent.currencyDenominationList,
          						                 value: itemCurrencyDenomination,
          						                 select2: {theme: 'classic'}"></select>
                      </span>
          		      </div>
        	        </div>
              </div>
              <div class="form-group">
                <label for="itemDescription"
                       class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                  <textarea type="password"
                            class="form-control"
                            id="itemDescription"
                            placeholder="Rations consist of..."
                            rows="4"
                            data-bind='textInput: itemDesc'>
                  </textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button"
                  class="btn btn-primary"
                  data-dismiss="modal">
                  Done
                </button>
              </div>
            </form>
          </div> <!-- End Edit Tab -->
        </div> <!-- End Content -->
      </div> <!-- End Modal Body -->
    </div> <!-- Modal Content -->
  </div> <!-- Modal Dialog -->
</div> <!-- Modal Fade -->
