<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-responsive table-ac-bordered table-hover">
      <thead>
        <tr>
          <th data-bind="click: function(){sortBy('magicItemName');}" width="20%">
            Magic Item
            <span data-bind="css: sortArrow('magicItemName')"></span>
          </th>
          <th data-bind="click: function(){sortBy('magicItemCharges');}" width="9%">
            Charges
            <span data-bind="css: sortArrow('magicItemCharges')"></span>
          </th>
          <th data-bind="visible: noneAttuned() === false, click: function(){sortBy('magicItemAttuned');}"
            width="9%">
            Attuned
            <span data-bind="css: sortArrow('magicItemAttuned')"></span>
          </th>
          <th data-bind="click: function(){sortBy('magicItemWeight');}" width="9%">
            Weight
            <span data-bind="css: sortArrow('magicItemWeight')"></span>
          </th>
          <th width="48%" class="hidden-sm hidden-xs">
            Description
          </th>
          <th width="5%">
            <a data-toggle="modal"
               data-target="#addMagicItem" href="#">
              <i class="fa fa-plus fa-color"></i>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
      <!-- ko foreach: filteredAndSortedMagicItems -->
        <tr class="clickable">
          <td data-bind="text: magicItemName, click: $parent.editItem"
            href="#"
            data-target="#viewMagicItem"></td>
          <td data-bind="text: chargesDisplay, click: $parent.editItem"
            href="#"
            data-target="#viewMagicItem"></td>
          <td data-bind="visible: $parent.noneAttuned() === false">
            <div data-bind="visible: magicItemRequiresAttunement() == true">
              <input data-bind="checked: magicItemAttuned"
                     type="checkbox"
                     href="#">
              </input>
            </div>
          </td>
          <td data-bind="text: magicItemWeight, click: $parent.editItem"
              href="#"
              data-target="#viewMagicItem">
          </td>
          <td data-bind="text: shortDescription, click: $parent.editItem"
            href="#" class="hidden-sm hidden-xs"
            data-target="#viewMagicItem">
         </td>
          <td>
            <a data-bind="click: $parent.removeItem" href="#">
              <i class="fa fa-trash-o fa-color-hover">
              </i>
            </a>
          </td>
        </tr>
      <!-- /ko -->
      <!-- ko if: filteredAndSortedMagicItems().length == 0 -->
        <tr class="clickable">
          <td data-toggle="modal" data-target="#addMagicItem" href="#"
            colspan="6" class="text-center">
            <i class="fa fa-plus fa-color"></i>
            Add a new magic item
          </td>
        </tr>
      <!-- /ko -->
      </tbody>
    </table>
    </div> <!-- end panel body -->
    <div class="container-fluid panel-footer">
       <span class="pull-right">Total weight:&nbsp;
        <span data-bind="text: totalMagicItemWeight"></span>
      </span>
    </div> <!-- end panel footer -->
    <!-- Add Modal -->
    <div class="modal fade"
         id="addMagicItem"
         tabindex="-1"
         role="dialog"
         aria-labelledby="addMagicItemLabel"
         data-bind="modal: { onopen: modalFinishedOpening }">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="addMagicItemLabel">Add a new Magic Item to your Inventory.</h4>
        </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="magicItemName"
                       class="col-sm-2 control-label">Item</label>
                <div class="col-sm-10">
                  <input type="text"
                         class="form-control"
                         id="magicItemName"
                         placeholder="Dagger of Venom"
                         data-bind='textInput: blankMagicItem().magicItemName,
                         autocomplete: { source: magicItemsPrePopFilter,
                         onselect: populateMagicItems }, hasFocus: firstModalElementHasFocus'>
                </div>
              </div>
              <div class="form-group">
                <label for="magicItemType"
                       class="col-sm-2 control-label">Type</label>
                  <div class="col-sm-10">
                  <select class="form-control"
                          data-bind="options: blankMagicItem().magicItemTypeOptions,
                                     value: blankMagicItem().magicItemType,
                                     select2: {theme: 'classic'}"></select>
                  </div>
              </div>
              <div class="form-group">
                <label for="magicItemType"
                       class="col-sm-2 control-label">Rarity</label>
                  <div class="col-sm-10">
                  <select class="form-control"
                          data-bind="options: blankMagicItem().magicItemRarityOptions,
                                     value: blankMagicItem().magicItemRarity,
                                     select2: {theme: 'classic'}"></select>
                  </div>
              </div>
              <div class="form-group">
                <label for="magicItemMaxCharges"
                       class="col-sm-2 control-label">Max Charges</label>
                  <div class="col-sm-10">
                    <input type="number"
                           class="form-control"
                           id="magicItemMaxCharges"
                           placeholder="1"
                           min="0"
                           max="100"
                           data-bind='textInput: blankMagicItem().magicItemMaxCharges'>
                  </div>
              </div>
              <div data-bind="visible: blankMagicItem().magicItemMaxCharges() != 0">
                <div class="form-group">
                  <label for="magicItemCharges"
                         class="col-sm-2 control-label">Charges</label>
                    <div class="col-sm-10">
                      <input type="number"
                             class="form-control"
                             id="magicItemCharges"
                             placeholder="1"
                             min="0"
                             max="100"
                             data-bind='textInput: blankMagicItem().magicItemCharges'>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <label for="magicItemWeight"
                       class="col-sm-2 control-label">Weight</label>
                  <div class="col-sm-10">
                    <input type="number"
                           class="form-control"
                           id="magicItemWeight"
                           placeholder="1"
                           min="0"
                           max="1000"
                           data-bind='textInput: blankMagicItem().magicItemWeight'>
                  </div>
              </div>
              <div class="form-group">
                <label for="magicItemRequiresAttunement"
                       class="col-sm-2 control-label">Requires Attunement</label>
                  <div class="col-sm-10">
                    <input type="checkbox"
                           class="form-control"
                           id="magicItemRequiresAttunement"
                           data-bind='checked: blankMagicItem().magicItemRequiresAttunement'>
                  </div>
              </div>
              <div data-bind="visible: blankMagicItem().magicItemRequiresAttunement() == true">
                <div class="form-group">
                  <label for="magicItemAttuned"
                         class="col-sm-2 control-label">Attuned</label>
                    <div class="col-sm-10">
                      <input type="checkbox"
                             class="form-control"
                             id="magicItemAttuned"
                             data-bind='checked: blankMagicItem().magicItemAttuned'>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <label for="magicItemDescription"
                       class="col-sm-2 control-label">Description</label>
                  <div class="col-sm-10">
                    <textarea type="password"
                              class="form-control"
                              id="magicItemDescription"
                              rows="4"
                              placeholder="Awesome stuff goes here"
                              data-bind='textInput: blankMagicItem().magicItemDescription'>
                    </textarea>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal">Cancel</button>
                <button type="button"
                        class="btn btn-primary"
                        data-bind='click: addItem'
                        data-dismiss="modal">Add</button>
                <p class="text-muted text-left" data-bind='visible: shouldShowDisclaimer'>
                  <sm><i>This data is distributed under the
                    <a href='http://media.wizards.com/2016/downloads/DND/SRD-OGL_V5.1.pdf'
                      target='_blank'>
                      OGL</a><br/>
                      Open	Game	License	v	1.0a	Copyright	2000,	Wizards	of	the	Coast,	LLC.
                    </i><sm>
                </p>
              </div>
            </form>
          </div> <!-- Modal Body -->
        </div> <!-- Modal Content -->
      </div> <!-- Modal Dialog -->
    </div> <!-- Modal Fade -->

    <!-- ViewEdit Modal -->
        <div class="modal fade"
         id="viewMagicItem"
         tabindex="-1"
         role="dialog"
         aria-labelledby="viewMagicItemLabel"
         data-bind="modal: {
           open: selecteditem,
           onopen: modalFinishedOpening,
           onclose: modalFinishedClosing
        }">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="viewMagicItemLabel">View a Magic Item from your Inventory.</h4>
        </div>
          <div class="modal-body">
            <!-- Begin Tabs -->
            <ul class="nav nav-tabs tabs">
              <li role="presentation" data-bind="click: selectPreviewTab, css: previewTabStatus">
                <a href="#magicItemsModalPreview" aria-controls="magicItemsModalPreview" role="tab" data-toggle="tab">
                    <b>Preview</b>
                </a>
              </li>
              <li role="presentation" data-bind="click: selectEditTab, css: editTabStatus">
                <a href="#magicItemsModalEdit" aria-controls="magicItemsModalEdit" role="tab" data-toggle="tab">
                    <b>Edit</b>
                </a>
              </li>
            </ul>
            <div class="tab-content" data-bind="with: selecteditem">
              <div role="tabpanel" data-bind="css: $parent.previewTabStatus" class="tab-pane" id="magicItemsModalPreview">
              <div id="magicItemIcon" data-bind="css: $parent.magicItemIconCSS">
                <div class="h3">
                  <span data-bind="text: magicItemNameLabel"></span>&nbsp;
                  <small data-bind="text: magicItemRarity"></small>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-4 col-xs-12"><b>Type:</b>&nbsp;<span data-bind="text: magicItemType"></span></div>
                  <div class="col-sm-4 col-xs-12"><b>Weight:</b>&nbsp;<span data-bind="text: magicItemWeightLabel"></span></div>
                  <div class="col-sm-4 col-xs-12"><b>Max Charges:</b>&nbsp;<span data-bind="text: magicItemMaxCharges"></span></div>
                </div>
                <hr />
                <h4>Description</h4>
                <div class="row row-padded">
                  <div class="col-xs-12 col-padded">
                    <div data-bind="html: magicItemDescriptionHTML"
                         class="preview-modal-overflow">
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button"
                          class="btn btn-primary"
                          data-dismiss="modal">Done</button>
                </div>
                </div>
              </div> <!-- End Preview Tab -->
              <div role="tabpanel" data-bind="css: $parent.editTabStatus" class="tab-pane" id="magicItemsModalEdit">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="magicItemName"
                           class="col-sm-2 control-label">Item</label>
                    <div class="col-sm-10">
                      <input type="text"
                             class="form-control"
                             id="magicItemName"
                             placeholder="Dagger of Venom"
                             data-bind='textInput: magicItemName,
                              hasFocus: $parent.editFirstModalElementHasFocus'>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="magicItemType"
                           class="col-sm-2 control-label">Type</label>
                      <div class="col-sm-10">
                      <select class="form-control"
                              data-bind="options: magicItemTypeOptions,
                                         value: magicItemType,
                                         select2: {theme: 'classic'}"></select>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="magicItemType"
                           class="col-sm-2 control-label">Rarity</label>
                      <div class="col-sm-10">
                      <select class="form-control"
                              data-bind="options: magicItemRarityOptions,
                                         value: magicItemRarity,
                                         select2: {theme: 'classic'}"></select>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="magicItemMaxCharges"
                           class="col-sm-2 control-label">Max Charges</label>
                      <div class="col-sm-10">
                        <input type="number"
                               class="form-control"
                               id="magicItemMaxCharges"
                               placeholder="1"
                               min="0"
                               max="100"
                               data-bind='textInput: magicItemMaxCharges'>
                      </div>
                  </div>
                  <div data-bind="visible: magicItemMaxCharges() != 0">
                    <div class="form-group">
                      <label for="magicItemCharges"
                             class="col-sm-2 control-label">Charges</label>
                        <div class="col-sm-10">
                          <input type="number"
                                 class="form-control"
                                 id="magicItemCharges"
                                 placeholder="1"
                                 min="0"
                                 max="100"
                                 data-bind='textInput: magicItemCharges'>
                        </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="magicItemWeight"
                           class="col-sm-2 control-label">Weight</label>
                      <div class="col-sm-10">
                        <input type="number"
                               class="form-control"
                               id="magicItemWeight"
                               placeholder="1"
                               min="0"
                               max="1000"
                               data-bind='textInput: magicItemWeight'>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="magicItemRequiresAttunement"
                           class="col-sm-2 control-label">Requires Attunement</label>
                      <div class="col-sm-10">
                        <input type="checkbox"
                               class="form-control"
                               id="magicItemRequiresAttunement"
                               data-bind='checked: magicItemRequiresAttunement'>
                      </div>
                  </div>
                  <div data-bind="visible: magicItemRequiresAttunement() == true">
                    <div class="form-group">
                      <label for="magicItemAttuned"
                             class="col-sm-2 control-label">Attuned</label>
                        <div class="col-sm-10">
                          <input type="checkbox"
                                 class="form-control"
                                 id="magicItemAttuned"
                                 data-bind='checked: magicItemAttuned'>
                        </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="magicItemDescription"
                           class="col-sm-2 control-label">Description</label>
                      <div class="col-sm-10">
                        <textarea type="password"
                                  class="form-control"
                                  id="magicItemDescription"
                                  rows="4"
                                  placeholder="Awesome stuff goes here"
                                  data-bind='textInput: magicItemDescription'>
                        </textarea>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button"
                            class="btn btn-primary"
                            data-dismiss="modal">Done</button>
                  </div>
                </form>
              </div> <!-- End Edit Tab -->
            </div> <!-- End Tab Content -->
          </div> <!-- Modal Body -->
        </div> <!-- Modal Content -->
      </div> <!-- Modal Dialog -->
    </div> <!-- Modal Fade -->

</div> <!-- Panel -->
