<!--AC, Initiative, Speed-->
 <div class="row">
   <div class="col-md-6 col-padded">
     <div class="input-group">
       <span class="input-group-addon" id="basic-addon2">AC&nbsp;
          <span class="fa fa-info-circle" style="cursor:pointer;" data-bind="popover: { content: armorClassPopover }"></span>
       </span>
       <span class="input-group-addon" id="basic-addon3" data-bind="text: armorClass"></span>
       <input type="number" class="form-control" aria-describedby="basic-addon2" data-bind='value: otherStats().armorClassModifier'>
     </div>
   </div>
   <div class="col-md-6 col-padded">
     <div class="input-group">
       <span class="input-group-addon" id="basic-addon2">
        Proficiency Bonus&nbsp;
         <span class="fa fa-info-circle" style="cursor:pointer;" data-bind="popover: { content: proficiencyPopover }"></span>
      </span>
       <span class="input-group-addon" id="basic-addon3" data-bind="text: calculatedProficiencyLabel"></span>
       <input type="number" class="form-control" aria-describedby="basic-addon2" data-bind='value: otherStats().proficiency'>
     </div>
   </div>
 </div>
 <div class="row">
   <div class="col-md-6 col-padded">
     <div class="input-group">
       <span class="input-group-addon" id="basic-addon2">Initiative&nbsp;
          <span class="fa fa-info-circle" style="cursor:pointer;" data-bind="popover: { content: initiativePopover }"></span>
       </span>
       <span class="input-group-addon" id="basic-addon3" data-bind="text: calculateInitiativeLabel"></span>
       <input type="number" class="form-control" aria-describedby="basic-addon2" data-bind='value: otherStats().initiative'>
     </div>
   </div>
   <div class="col-md-6 col-padded">
     <div class="input-group">
       <span class="input-group-addon" id="basic-addon2">Speed</span>
       <input type="number" class="form-control" aria-describedby="basic-addon2" data-bind='value: otherStats().speed' min="0">
     </div>
   </div>
 </div>
 <!--  Level and exp -->
 <div class="row">
   <div class="col-md-6 col-padded">
     <div class="input-group">
       <span class="input-group-addon" id="basic-addon2">Level</span>
       <input type="number" class="form-control" aria-describedby="basic-addon2"
        data-bind='value: level' min="0">
     </div>
   </div>
   <div class="col-md-6 col-padded">
     <div class="input-group">
       <span class="input-group-addon" id="basic-addon2">Experience</span>
       <input type="number" class="form-control" aria-describedby="basic-addon2"
        data-bind='value: experience' min="0">
     </div>
   </div>
 </div>
 <div class="row">
   <div class="col-md-6 col-padded">
     <div class="input-group">
       <span class="input-group-addon" id="basic-addon2">Inspiration</span>
       <input type="number" class="form-control" aria-describedby="basic-addon2" data-bind='value: otherStats().inspiration' min="0">
     </div>
   </div>
 </div>
