<!--AC, Initiative, Speed-->
 <div class="row">
   <div class="col-md-6 col-padded">
     <div class="input-group">
       <span class="input-group-addon" id="basic-addon2">AC</span>
       <input type="number" class="form-control" aria-describedby="basic-addon2" data-bind='textInput: otherStats().ac' min="10">
     </div>
   </div>
   <div class="col-md-6 col-padded">
     <div class="input-group">
       <span class="input-group-addon" id="basic-addon2">Proficiency Bonus </span>
       <span class="input-group-addon" id="basic-addon3" data-bind="text: otherStats().proficiencyLabel"></span>
       <input type="number" class="form-control" aria-describedby="basic-addon2" data-bind='textInput: otherStats().proficiency' min="0">
     </div>
   </div>
 </div>
 <div class="row">
   <div class="col-md-6 col-padded">
     <div class="input-group">
       <span class="input-group-addon" id="basic-addon2" data-bind="tooltip: { title: initiativeTooltip }">Initiative</span>
       <input type="number" class="form-control" aria-describedby="basic-addon2" data-bind='textInput: otherStats().initiative'>
     </div>
   </div>
   <div class="col-md-6 col-padded">
     <div class="input-group">
       <span class="input-group-addon" id="basic-addon2">Inspiration</span>
       <input type="number" class="form-control" aria-describedby="basic-addon2" data-bind='textInput: otherStats().inspiration' min="0">
     </div>
   </div>
 </div>
 <div class="row">
   <div class="col-md-6 col-padded">
     <div class="input-group">
       <span class="input-group-addon" id="basic-addon2">Speed</span>
       <input type="number" class="form-control" aria-describedby="basic-addon2" data-bind='textInput: otherStats().speed' min="0">
     </div>
   </div>
   <div class="col-md-6 col-padded">
     <div class="input-group">
       <span class="input-group-addon" id="basic-addon2">Passive Wisdom (Perception)</span>
       <span class="input-group-addon" id="basic-addon3" data-bind="text: otherStats().passiveWisdom"></span>
     </div>
   </div>
 </div>
 <!--  Level and exp -->
 <div class="row">
   <div class="col-md-6 col-padded">
     <div class="input-group">
       <span class="input-group-addon" id="basic-addon2">Level</span>
       <input type="number" class="form-control" aria-describedby="basic-addon2"
        data-bind='textInput: level' min="0">
     </div>
   </div>
   <div class="col-md-6 col-padded">
     <div class="input-group">
       <span class="input-group-addon" id="basic-addon2">Experience</span>
       <input type="number" class="form-control" aria-describedby="basic-addon2"
        data-bind='textInput: experience' min="0">
     </div>
   </div>
 </div>
