<div class="circular-profile no-padding" style="cursor: pointer;"
  data-bind="click: toggleModal,
    attr: {
      height: height,
      width: width,
    },
    css: imageBorderClass">
  <div class="image-upload-preview text-center">
    <!-- ko if: playerImageSrc -->
    <img class="img-circle"
      data-bind="attr: {
        src: playerImageSrc,
        height: height,
        width: width,
      }">
    <!-- /ko -->
    <!-- ko ifnot: playerImageSrc -->
    <div class="text-muted player-image-style">
      <small>Click to add a picture</small>
    </div>
    <!-- /ko -->
  </div>
</div>

<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog"
   aria-labelledby="viewSkillLabel"
   data-bind="modal: {
      open: openModal,
      onopen: modalFinishedOpening,
      onclose: modalFinishedClosing
    }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="addSkillLabel">
          Choose one of the following
        </h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" onsubmit="return false">
          <div class="form-group">
            <div class="col-sm-12">
              <div class="btn-group btn-group-justified" role="group">
                <label class="btn btn-default"
                data-bind="css: { active: imageSource() == 'link'}">
                  <input type="radio" class="hide-block"
                  name="imageSourceLink" value="link" data-bind="checked: imageSource"/>
                  Image Link
                </label>
                <label class="btn btn-default"
                data-bind="css: { active: imageSource() == 'email'}">
                  <input type="radio" class="hide-block"
                  name="imageSourceEmail" value="email" data-bind="checked: imageSource"/>
                  Gravatar Email
                </label>
              </div>
            </div>
          </div>
          <!-- ko if: imageSource() == 'link' -->
          <div class="form-group">
            <!-- Image URL -->
            <label for="spellName"
                   class="col-sm-4 control-label">Image Link</label>
            <div class="col-sm-8">
              <input type="text"
                     class="form-control"
                     data-bind="value: imageUrl, hasFocus: firstFieldHasFocus">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-offset-1 col-xs-10">
            <p class="text-muted text-center"><small>Paste in a link to your favorite profile picture. Make sure it's the full image link though.</small></p>
            </div>
          </div>
          <!-- /ko -->
          <!-- ko if: imageSource() == 'email' -->
          <div class="form-group">
            <!-- Gravatar -->
            <label for="spellName"
                   class="col-sm-4 control-label">Gravatar Email</label>
            <div class="col-sm-8">
              <input type="text"
                     class="form-control"
                     data-bind="value: email">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-offset-1 col-xs-10">
            <p class="text-muted text-center"><small><a href="http://en.gravatar.com" target="_blank">Gravatar is a free service</a> that allows you to set a profile picture based on your email, and it works in lots of places.</small></p>
            </div>
          </div>
          <!-- /ko -->
          <div class="modal-footer">
            <button type="button"
                    class="btn btn-primary"
                    data-dismiss="modal">Done</button>
          </div> <!-- Modal Footer -->
        </form>
      </div> <!-- Modal Content -->
    </div> <!-- Modal Dialog -->
  </div> <!-- Modal Fade -->
</div>
