<div class="panel panel-default bio">
  <div class="panel-body">
  	<!-- Names -->
	  <div class="row">
      <div class="col-md-6 col-padded">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Player Name</span>
            <input type="text" class="form-control" aria-describedby="basic-addon2"
              data-bind='textInput: playerName' />
        </div>
      </div>
      <div class="col-md-6 col-padded">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Background</span>
          <input type="text" class="form-control" aria-describedby="basic-addon2"
            data-bind='textInput: background,
              autocomplete: { source: backgroundOptions,
              onselect: setBackground }' />
        </div>
      </div>
    </div>

	  <div class="row">
      <div class="col-md-6 col-padded">
    	  <div class="input-group">
	      	<span class="input-group-addon" id="basic-addon2">Alignment</span>
      		<input type="text" class="form-control" aria-describedby="basic-addon2"
		      	data-bind='textInput: alignment,
              autocomplete: { source: alignmentOptions,
              onselect: setAlignment }'>
  	    </div>
	    </div>
      <div class="col-md-6 col-padded">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Deity</span>
          <input type="text" class="form-control" aria-describedby="basic-addon2"
            data-bind='textInput: diety'>
        </div>
      </div>
    </div>
	  <div class="row">
	  <!-- Race, Gender, Class, Alignment -->
      <div class="col-md-6 col-padded">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Race</span>
          <input type="text" class="form-control" aria-describedby="basic-addon2"
            data-bind='textInput: race,
              autocomplete: { source: raceOptions,
              onselect: setRace }'>
        </div>
      </div>
      <div class="col-md-6 col-padded">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Class</span>
          <input type="text" class="form-control" aria-describedby="basic-addon2"
            data-bind='textInput: typeClass,
              autocomplete: { source: classOptions,
              onselect: setClass }'>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-padded">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Gender</span>
          <input type="text" class="form-control" aria-describedby="basic-addon2"
            data-bind='textInput: gender'>
        </div>
      </div>
      <div class="col-md-6 col-padded">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Age</span>
          <input type="number" class="form-control" aria-describedby="basic-addon2"
            data-bind='textInput: age'>
        </div>
      </div>
    </div>
	</div>
</div>
