<div class="panel panel-default bio">
  <div class="panel-body">
    <table class="table table-responsive table-ac-bordered table-hover">
      <thead>
        <tr>
          <th data-bind="click: function(){sortBy('proficiency');}">
            <span class="glyphicon glyphicon-ok"></span>
            <span data-bind="css: sortArrow('proficiency')"></span>
          </th>
          <th data-bind="click: function(){sortBy('name');}" colspan="2">
            Saving Throw
            <span data-bind="css: sortArrow('name')"></span>
          </th>
        </tr>
      </thead>
      <tbody data-bind='foreach: filteredAndSortedSavingThrows'>
        <tr class="clickable">
          <td data-bind="click: $parent.editSavingThrow"
               href="#"
               data-toggle="modal"
               data-target="#viewSavingThrow"> <span data-bind="css: proficiencyLabel"></span></td>
          <td data-bind="text: name, click: $parent.editSavingThrow"
               href="#"
               data-toggle="modal"
               data-target="#viewSavingThrow"></td>
          <td data-bind="text: modifierLabel, click: $parent.editSavingThrow"
               href="#"
               data-toggle="modal"
               data-target="#viewSavingThrow"></td>
        </tr>
      </tbody>
    </table>
    </div>
    <!-- Add Modal -->
    <div class="modal fade"
         id="addSavingThrow"
         tabindex="-1"
         role="dialog"
         aria-labelledby="addSavingThrowLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="addSavingThrowLabel">Add a new Saving Throw.</h4>
        </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="name"
                       class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input type="text"
                         class="form-control"
                         id="name"
                         data-bind='textInput: blankSavingThrow().name'>
                </div>
              </div>
              <div class="form-group">
                <label for="modifier"
                       class="col-sm-2 control-label">Modifier</label>
                  <div class="col-sm-10">
                    <input type="number"
                           class="form-control"
                           id="modifier"
                           min="0"
                           placeholder="1"
                           data-bind='textInput: blankSavingThrow().modifier'>
                  </div>
              </div>
              <div class="form-group">
                <label for="proficiency"
                       class="col-sm-2 control-label">Proficency</label>
                  <div class="col-sm-10">
                    <input type="checkbox"
                           class="form-control"
                           id="proficiency"
                           data-bind='checked: blankSavingThrow().proficiency'>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button"
                        class="btn btn-primary"
                        data-bind='click: addSavingThrow'
                        data-dismiss="modal">Add</button>
              </div>
            </form>
          </div> <!-- Modal Body -->
        </div> <!-- Modal Content -->
      </div> <!-- Modal Dialog -->
    </div> <!-- Modal Fade -->

    <!-- ViewEdit Modal -->
    <div class="modal fade" id="viewSavingThrow" tabindex="-1" role="dialog"
         aria-labelledby="viewSavingThrowLabel" data-bind="modal: {
            onopen: modalFinishedAnimating}, with: selecteditem">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="addSavingThrowLabel">Edit your Saving Throw.</h4>
        </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="name"
                       class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input type="text"
                         class="form-control"
                         id="name"
                         placeholder="Archery"
                         data-bind="value: name, hasFocus: $parent.modifierHasFocus">
                </div>
              </div>
              <div class="form-group">
                  <label for="modifier"
                       class="col-sm-2 control-label">Modifier</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="number"
                             class="form-control"
                             id="modifier"
                             data-bind="value: modifier" />
                      <span class="input-group-addon">Total:
                        <span data-bind="text: bonus"></span>
                      </span>
                    </div>
                  </div>
              </div>
              <div class="form-group">
                <label for="proficiency"
                       class="col-sm-2 control-label">Proficiency</label>
                  <div class="col-sm-10">
                    <input type="checkbox"
                           class="form-control"
                           id="proficiency"
                           data-bind="checked: proficiency">
                  </div>
              </div>
              </div>
              <div class="modal-footer">
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal">Done</button>
              </div>
            </form>
          </div> <!-- Modal Body -->
        </div> <!-- Modal Content -->
      </div> <!-- Modal Dialog -->
    </div> <!-- End with statement -->
