<div class="panel panel-default bio">
  <div class="panel-body">
    <table class="table table-responsive table-ac-bordered table-hover">
      <thead>
        <tr>
          <th data-bind="click: function(){sortBy('proficiency');}">
            <span class="glyphicon glyphicon-ok"></span>
            <span data-bind="css: sortArrow('proficiency')"></span>
          </th>
          <th data-bind="click: function(){sortBy('name');}">
            Skill
            <span data-bind="css: sortArrow('name')"></span>
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody data-bind='foreach: filteredAndSortedSkills'>
        <tr class="clickable" data-bind="click: $parent.editSkill">
          <td>
            <prof-marker params="proficiency: proficiency"></prof-marker>
          </td>
          <td data-bind="text: name"></td>
          <td data-bind="html: bonusLabel"></td>
        </tr>
      </tbody>
    </table>
  </div> <!-- Panel Body -->
</div> <!-- Panel -->
    <!-- ViewEdit Modal -->
  <div class="modal fade" tabindex="-1" role="dialog"
       aria-labelledby="viewSkillLabel"
       data-bind="modal: {
          open: selecteditem,
          onopen: modalFinishedAnimating
        }, with: selecteditem">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="addSkillLabel"
              data-bind="text: name"></h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" onsubmit="return false">
              <div class="form-group">
                <label for="modifier" class="col-sm-2 control-label">
                  Modifier
                </label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="number" class="form-control" id="modifier"
                             data-bind="value: modifier,
                              hasFocus: $parent.modifierHasFocus" />
                      <span class="input-group-addon">Total:
                        <span data-bind="text: bonus"></span>
                      </span>
                    </div>
                  </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Proficiency</label>
                  <div class="col-sm-10">
                    <div class="btn-group btn-group-justified" role="group">
                      <label class="btn btn-default"
                             data-bind="css: { active: proficiency() == 'not'}">
                        <input type="radio" class="hide-block" data-bind="checked: proficiency"
                               name="notProficient" value="not"/>None
                      </label>
                      <label class="btn btn-default"
                             data-bind="css: { active: proficiency() == 'half'}">
                        <prof-marker params="proficiency: 'half'"></prof-marker>
                        <input type="radio" class="hide-block" data-bind="checked: proficiency"
                             name="halfProficient" value="half"/>Half
                      </label>
                      <label class="btn btn-default"
                             data-bind="css: { active: proficiency() == 'proficient'}">
                        <prof-marker params="proficiency: 'proficient'"></prof-marker>
                        <input type="radio" class="hide-block" data-bind="checked: proficiency"
                              name="proficient" value="proficient"/>Proficient
                      </label>
                      <label class="btn btn-default"
                             data-bind="css: { active: proficiency() == 'expertise'}">
                        <prof-marker params="proficiency: 'expertise'"></prof-marker>
                        <input type="radio" class="hide-block" data-bind="checked: proficiency"
                               name="expertise" value="expertise"/>Expertise
                      </label>
                    </div>
                  </div>
               </div>

              </div><!-- Modal Body -->
              <div class="modal-footer">
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal">Done</button>
              </div> <!-- Modal Footer -->
            </form>
          </div> <!-- Modal Content -->
        </div> <!-- Modal Dialog -->
      </div> <!-- Modal Fade -->
    </div> <!-- End with statement -->
