<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-responsive table-ac-bordered table-hover">
      <thead>
        <tr>
          <th class="hidden-xs" data-bind="click: function(){sortBy('spellPrepared');}">
            <span class="glyphicon glyphicon-check"></span>
            <span data-bind="css: sortArrow('spellPrepared')"></span>
          </th>
          <th data-bind="click: function(){sortBy('spellName');}">
            Spell
            <span data-bind="css: sortArrow('spellName')"></span>
          </th>
          <th data-bind="click: function(){sortBy('spellLevel');}">
            Level
            <span data-bind="css: sortArrow('spellLevel')"></span>
          </th>
          <th class="hidden-sm hidden-xs" data-bind="click: function(){sortBy('spellType');}">
            Type
            <span data-bind="css: sortArrow('spellType')"></span>
          </th>
          <th class="hidden-sm hidden-xs" data-bind="click: function(){sortBy('spellDmg');}">
            Damage
            <span data-bind="css: sortArrow('spellDmg')"></span>
          </th>
          <th class="hidden-sm hidden-xs" data-bind="click: function(){sortBy('spellCastingTime');}">
            Casting Time
            <span data-bind="css: sortArrow('spellCastingTime')"></span>
          </th>
          <th class="hidden-sm hidden-xs" data-bind="click: function(){sortBy('spellRange');}">
            Range
            <span data-bind="css: sortArrow('spellRange')"></span>
          </th>
          <th>
            <a data-toggle="modal"
               data-target="#addSpell" href="#">
              <i class="fa fa-plus fa-color"></i>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
      <!-- ko foreach: filteredAndSortedSpells -->
        <tr class="clickable">
          <!-- ko if: spellLevel() != 0 -->
          <td><input data-bind="checked: spellPrepared"
                     type="checkbox"
                     href="#"></input></td>
          <!-- /ko -->
          <!-- ko if: spellLevel() == 0 -->
          <td></td>
          <!-- /ko -->
          <td data-bind="text: spellNameLabel, click: $parent.editSpell"
               href="#"></td>
          <td data-bind="text: spellLevelLabel, click: $parent.editSpell"
               href="#"></td>
          <td class="hidden-sm hidden-xs" data-bind="text: spellType, click: $parent.editSpell"
               href="#"></td>
          <td class="hidden-sm hidden-xs" data-bind="text: spellDamageLabel, click: $parent.editSpell"
               href="#"></td>
          <td class="hidden-sm hidden-xs" data-bind="text: spellCastingTime, click: $parent.editSpell"
               href="#"></td>
          <td data-bind="text: spellRange, click: $parent.editSpell"
               href="#"></td>
          <td>
            <a data-bind="click: $parent.removeSpell" href="#">
              <i class="fa fa-trash-o fa-color-hover">
              </i>
            </a>
          </td>
        </tr>
      <!-- /ko -->
      <!-- ko if: filteredAndSortedSpells().length == 0 -->
        <tr class="clickable">
          <td href="#" data-toggle="modal"
            data-target="#addSpell" colspan="8" class="text-center">
            <i class="fa fa-plus fa-color"></i>
            Add a new spell
          </td>
        </tr>
      <!-- /ko -->
      </tbody>
    </table>
  </div>
  <div class="container-fluid panel-footer">
     <span class="pull-left">Total Spells:&nbsp;
      <span data-bind="text: numberOfSpells"></span>
    </span>
       <span class="pull-right">Spells prepared:&nbsp;
        <span data-bind="text: numberOfPrepared"></span>
      </span>
    </div> <!-- end panel footer -->
    <!-- Add Modal -->
    <div class="modal fade"
         id="addSpell"
         tabindex="-1"
         role="dialog"
         aria-labelledby="addSpellLabel"
         data-bind="modal: { onopen: modalFinishedOpening }">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="addSpellLabel">Add a Spell to your Spellbook.</h4>
        </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="spellName"
                       class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input type="text"
                         class="form-control"
                         id="spellName"
                         placeholder="Magic Missile"
                         data-bind="textInput: blankSpell().spellName,
                          autocomplete: { source: spellsPrePopFilter,
                          onselect: populateSpell },
                          hasFocus: firstModalElementHasFocus">
                </div>
              </div>
              <div class="form-group">
                <label for="spellPrepared"
                       class="col-sm-2 control-label">Prepared</label>
                  <div class="col-sm-4">
                    <input type="checkbox"
                           class="form-control"
                           id="spellPrepared"
                           data-bind='checked: blankSpell().spellPrepared'>
                  </div>
                <label for="spellIsRitual"
                       class="col-sm-2 control-label">Ritual</label>
                  <div class="col-sm-4">
                    <input type="checkbox"
                           class="form-control"
                           id="spellIsRitual"
                           data-bind='checked: blankSpell().isRitual'>
                  </div>
              </div>
              <div class="form-group">
                <label for="spellLevel"
                       class="col-sm-2 control-label">Level</label>
                  <div class="col-sm-10">
                    <input type="number"
                           class="form-control"
                           id="spellLevel"
                           placeholder="1"
                           min="0"
                           max="9"
                           data-bind='textInput: blankSpell().spellLevel'>
                  </div>
              </div>
              <div class="form-group">
                <label for="spellSchool"
                       class="col-sm-2 control-label">School</label>
                  <div class="col-sm-10">
                  <select class="form-control"
                          data-bind="options: blankSpell().spellSchoolOptions,
                                     value: blankSpell().spellSchool,
                                     select2: {theme: 'classic'}"></select>
                  </div>
              </div>
              <div class="form-group">
                <label for="spellType"
                       class="col-sm-2 control-label">Type</label>
                  <div class="col-sm-10">
                  <select class="form-control"
                          data-bind="options: blankSpell().spellTypeOptions,
                                     value: blankSpell().spellType,
                                     select2: {theme: 'classic'}"></select>
                  </div>
              </div>
              <div data-bind="visible: blankSpell().spellType() == 'Savings Throw'">
                <div class="form-group">
                  <label for="spellType"
                         class="col-sm-2 control-label">Save Attr</label>
                    <div class="col-sm-10">
                    <select class="form-control"
                            data-bind="options: blankSpell().spellSaveAttrOptions,
                                       value: blankSpell().spellSaveAttr,
                                       select2: {theme: 'classic'}"></select>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <label for="spellDmgSave"
                       class="col-sm-2 control-label">Damage</label>
                  <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           id="spellDmgSave"
                           placeholder="1d4 + 1"
                           data-bind="textInput: blankSpell().spellDmg">
                  </div>
              </div>
              <div class="form-group">
                <label for="spellCastingTime"
                       class="col-sm-2 control-label">Cast Time</label>
                  <div class="col-sm-10">
                  <select class="form-control"
                          data-bind="options: blankSpell().spellCastingTimeOptions,
                                     value: blankSpell().spellCastingTime,
                                     select2: {theme: 'classic'}"></select>
                  </div>
              </div>
              <div class="form-group">
                <label for="spellRange"
                       class="col-sm-2 control-label">Range</label>
                  <div class="col-sm-10">
                  <select class="form-control"
                          data-bind="options: blankSpell().spellRangeOptions,
                                     value: blankSpell().spellRange,
                                     select2: {theme: 'classic'}"></select>
                  </div>
              </div>
              <div class="form-group">
                <label for="spellComponents"
                       class="col-sm-2 control-label">Components</label>
                  <div class="col-sm-10">
                  <select class="form-control"
                          data-bind="options: blankSpell().spellComponentsOptions,
                                     value: blankSpell().spellComponents,
                                     select2: {theme: 'classic'}"></select>
                  </div>
              </div>
              <div class="form-group">
                <label for="spellMaterialComponents"
                       class="col-sm-2 control-label">Material Components</label>
                  <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           id="spellMaterialComponents"
                           placeholder="Feather"
                           data-bind="textInput: blankSpell().spellMaterialComponents">
                  </div>
              </div>
              <div class="form-group">
                <label for="spellDuration"
                       class="col-sm-2 control-label">Duration</label>
                  <div class="col-sm-10">
                  <select class="form-control"
                          data-bind="options: blankSpell().spellDurationOptions,
                                     value: blankSpell().spellDuration,
                                     select2: {theme: 'classic'}"></select>
                  </div>
              </div>
              <div class="form-group">
                <label for="spellDescription"
                       class="col-sm-2 control-label">Description</label>
                  <div class="col-sm-10">
                    <textarea type="password"
                              class="form-control"
                              id="spellDescription"
                              rows="4"
                              placeholder="You create three glowing ..."
                              data-bind='textInput: blankSpell().spellDescription'>
                    </textarea>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal">Cancel</button>
                <button type="button"
                        class="btn btn-primary"
                        data-bind='click: addSpell'
                        data-dismiss="modal">Add</button>
                <p class="text-muted text-left" data-bind='visible: shouldShowDisclaimer'>
                  <sm><i>This data is distributed under the
                    <a href='http://media.wizards.com/2016/downloads/DND/SRD-OGL_V5.1.pdf'
                      target='_blank'>
                      OGL</a><br/>
                      Open	Game	License	v	1.0a	Copyright	2000,	Wizards	of	the	Coast,	LLC.
                    </i><sm>
                </p>
              </div>
            </form>
          </div> <!-- Modal Body -->
        </div> <!-- Modal Content -->
      </div> <!-- Modal Dialog -->
    </div> <!-- Modal Fade -->

    <!-- ViewEdit Modal -->
    <div class="modal fade"
         id="viewSpell"
         tabindex="-1"
         role="dialog"
         data-bind="modal: {
          open: selecteditem,
          onopen: modalFinishedOpening,
          onclose: modalFinishedClosing
        }"
         aria-labelledby="viewSpellLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="addSpellLabel">View a Spell from your Spellbook.</h4>
        </div>
          <div class="modal-body">
            <!-- Begin Tabs -->
            <ul class="nav nav-tabs tabs">
              <li role="presentation" data-bind="click: selectPreviewTab, css: previewTabStatus">
                <a href="#spellsModalPreview" aria-controls="spellsModalPreview" role="tab" data-toggle="tab">
                    <b>Preview</b>
                </a>
              </li>
              <li role="presentation" data-bind="click: selectEditTab, css: editTabStatus">
                <a href="#spellsModalEdit" aria-controls="spellsModalEdit" role="tab" data-toggle="tab">
                    <b>Edit</b>
                </a>
              </li>
            </ul>
            <div class="tab-content" data-bind="with: selecteditem">
              <div role="tabpanel" data-bind="css: $parent.previewTabStatus" class="tab-pane" id="spellsModalPreview">
                <div id="spellSchoolIcon" data-bind="css: $parent.spellSchoolIconCSS">
                <div class="h3">
                  <span data-bind="text: spellNameLabel"></span>&nbsp;
                  <small data-bind="text: spellSummaryLabel"></small>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-xs-12"><b>Type:</b>&nbsp;<span data-bind="text: spellType"></span></div>
                  <div class="col-sm-6 col-xs-12"><b>Damage:</b>&nbsp;<span data-bind="text: spellDamageLabel"></span></div>
                  <div class="col-sm-6 col-xs-12"><b>Casting Time:</b>&nbsp;<span data-bind="text: spellCastingTime"></span></div>
                  <div class="col-sm-6 col-xs-12"><b>Range:</b>&nbsp;<span data-bind="text: spellRange"></span></div>
                  <div class="col-sm-6 col-xs-12"><b>Components:</b>&nbsp;<span data-bind="text: spellComponents"></span></div>
                  <div class="col-sm-6 col-xs-12"><b>Duration:</b>&nbsp;<span data-bind="text: spellDuration"></span></div>
                </div>
                <hr />
                <h4>Description</h4>
                <div class="row row-padded">
                  <div class="col-xs-12 col-padded">
                    <div data-bind="html: spellDescriptionHTML"
                         class="preview-modal-overflow"></div>
                  </div>
                </div>
              </div>
              </div>
              <div role="tabpanel" data-bind="css: $parent.editTabStatus" class="tab-pane" id="spellsModalEdit">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="spellName"
                           class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text"
                             class="form-control"
                             id="spellName"
                             placeholder="Magic Missile"
                             data-bind="textInput: spellName,
                             hasFocus: $parent.editFirstModalElementHasFocus">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="spellPrepared"
                           class="col-sm-2 control-label">Prepared</label>
                      <div class="col-sm-4">
                        <input type="checkbox"
                               class="form-control"
                               id="spellPrepared"
                               data-bind='checked: spellPrepared'>
                      </div>
                    <label for="spellIsRitual"
                           class="col-sm-2 control-label">Ritual</label>
                      <div class="col-sm-4">
                        <input type="checkbox"
                               class="form-control"
                               id="spellIsRitual"
                               data-bind='checked: isRitual'>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="spellLevel"
                           class="col-sm-2 control-label">Level</label>
                      <div class="col-sm-10">
                        <input type="number"
                               class="form-control"
                               id="spellLevel"
                               min="1"
                               max="9"
                               placeholder="1"
                               data-bind="value: spellLevel">
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="spellSchool"
                           class="col-sm-2 control-label">School</label>
                      <div class="col-sm-10">
                      <select class="form-control"
                              data-bind="options: spellSchoolOptions,
                                         value: spellSchool,
                                         select2: {theme: 'classic'}"></select>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="spellType"
                           class="col-sm-2 control-label">Type</label>
                      <div class="col-sm-10">
                        <select class="form-control"
                              data-bind="options: spellTypeOptions,
                                         value: spellType,
                                         select2: {theme: 'classic'}"></select>
                      </div>
                  </div>
                  <div data-bind="visible: spellType() == 'Savings Throw'">
                    <div class="form-group">
                      <label for="spellType"
                             class="col-sm-2 control-label">Save Attr</label>
                        <div class="col-sm-10">
                        <select class="form-control"
                                data-bind="options: spellSaveAttrOptions,
                                           value: spellSaveAttr,
                                           select2: {theme: 'classic'}"></select>
                        </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="spellDmg"
                           class="col-sm-2 control-label">Damage</label>
                      <div class="col-sm-10">
                        <input type="text"
                               class="form-control"
                               id="spellDmg"
                               placeholder="1d4 + 1"
                               data-bind="value: spellDmg">
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="spellCastingTime"
                           class="col-sm-2 control-label">Cast Time</label>
                      <div class="col-sm-10">
                        <select class="form-control"
                              data-bind="options: spellCastingTimeOptions,
                                         value: spellCastingTime,
                                         select2: {theme: 'classic'}"></select>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="spellRange"
                           class="col-sm-2 control-label">Range</label>
                      <div class="col-sm-10">
                      <select class="form-control"
                              data-bind="options: spellRangeOptions,
                                         value: spellRange,
                                         select2: {theme: 'classic'}"></select>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="spellComponents"
                           class="col-sm-2 control-label">Components</label>
                      <div class="col-sm-10">
                      <select class="form-control"
                              data-bind="options: spellComponentsOptions,
                                         value: spellComponents,
                                         select2: {theme: 'classic'}"></select>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="spellMaterialComponents"
                           class="col-sm-2 control-label">Material Components</label>
                      <div class="col-sm-10">
                        <input type="text"
                               class="form-control"
                               id="spellMaterialComponents"
                               placeholder="Feather"
                               data-bind="textInput: spellMaterialComponents">
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="spellDuration"
                           class="col-sm-2 control-label">Duration</label>
                      <div class="col-sm-10">
                        <select class="form-control"
                              data-bind="options: spellDurationOptions,
                                         value: spellDuration,
                                         select2: {theme: 'classic'}"></select>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="spellDescription"
                           class="col-sm-2 control-label">Description</label>
                      <div class="col-sm-10">
                        <textarea type="password"
                                  class="form-control"
                                  id="spellDescription"
                                  placeholder="You create three glowing ..."
                                  data-bind="value: spellDescription"
                                  rows="4">
                        </textarea>
                      </div>
                  </div>
                </form>
              </div>
            </div> <!-- End Tab Content -->
            <div class="modal-footer">
              <button type="button"
                      class="btn btn-primary"
                      data-dismiss="modal">Done</button>
            </div>
          </div> <!-- Modal Body -->
        </div> <!-- Modal Content -->
      </div> <!-- Modal Dialog -->
    </div> <!-- Modal Fade -->
</div> <!-- Panel -->
