<div class="panel panel-default">
	<div class='panel-body'>
		<div class="progress" data-bind="{ foreach: slots, visible: slots().length > 0 }">
			<div class="progress-bar" role="progressbar" aria-valuemin="0" data-bind="style: { width: $parent.currentSlotWidth(progressWidth(),maxSpellSlots()) }, css: color">
				<span class="sr-only"></span>
			</div>
		</div>
		<table id='spellSlotsTable' class="table table-responsive table-ac-bordered table-hover">
			<thead>
				<tr class="row">
					<th class="col-sm-3">Spell Slots</th>
          <th class="col-sm-1">Level</th>
          <th class="col-sm-1">Max</th>
					<th class="col-sm-6 text-center">Used <a class="pull-right" href="#" data-bind="click: resetSlots"><i class="fa fa-refresh fa-color"></i> </a></th>
					<th class="col-sm-1"> <a data-toggle="modal" data-target="#addSpellSlot" href="#"> <i class="fa fa-plus fa-color"></i> </a> </th>
				</tr>
			</thead>
			<tbody>
			<!-- ko foreach: filteredAndSortedSlots -->
				<tr class="row clickable">
					<td class="col-sm-1 col-content-vertical" data-bind="click: $parent.editSlot"
					href="#"
          data-toggle="modal"
          data-target="#viewSlot">
					  <span data-bind="css: color" class="form-control color-picker-item" >
					  </span>
    			</td>
					<td class="col-sm-1 col-content-vertical"
					data-bind="click: $parent.editSlot, text: level"
					href="#"
          data-toggle="modal"
          data-target="#viewSlot"></td>
          <td class="col-sm-1 col-content-vertical"
            data-bind="click: $parent.editSlot, text: maxSpellSlots"
            href="#"
            data-toggle="modal"
            data-target="#viewSlot"></td>
					<td class="col-sm-4">
            <plus-minus params="value: usedSpellSlots,
              max: maxSpellSlots"></plus-minus>
					</td>
					<td class="col-content-vertical">
						<a data-bind="click: $parent.removeSlot" href="#">
							<i class="fa fa-trash-o fa-color-hover"> </i>
						</a>
					</td>
				</tr>
      <!-- /ko -->
      <!-- ko if: filteredAndSortedSlots().length == 0 -->
        <tr class="clickable">
          <td data-toggle="modal" data-target="#addSpellSlot" href="#"
            colspan="6" class="text-center">
            <i class="fa fa-plus fa-color"></i>
            Add a new spell slot
          </td>
        </tr>
      <!-- /ko -->
      </tbody>
		</table>
	</div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addSpellSlot" tabindex="-1" role="dialog"
	aria-labelledby="addSpellSlotLabel" data-bind="modal: {
		onopen: modalFinishedAnimating}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span> </button>
				<h4 class="modal-title" id="addSkillLabel">
					Add a spell slot.
				</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">Level</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" id="level" min="1" max="9"
								data-bind='textInput: blankSlot().level, hasFocus: modifierHasFocus'>
						</div>
					</div>
					<div class="form-group">
						<label for="bonus" class="col-sm-2 control-label">Max</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" id="max" min="1" max="4" data-bind='textInput: blankSlot().maxSpellSlots'>
						</div>
					</div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Resets on...</label>
            <div class="col-sm-10">
              <div class="btn-group btn-group-justified" role="group">
                <label class="btn btn-default"
                 data-bind="css: { active: blankSlot().resetsOn() == 'short'}">
                   <input type="radio" class="hide-block"
                   name="blankresetsOnShort" value="short"
                   data-bind="checked: blankSlot().resetsOn"/>
                   Short Rest
                </label>
                <label class="btn btn-default"
                 data-bind="css: { active: blankSlot().resetsOn() != 'short'}">
                   <input type="radio" class="hide-block"
                   name="blankresetsOnLong" value="long"
                   data-bind="checked: blankSlot().resetsOn"/>
                   Long Rest
                </label>
              </div>
            </div>
          </div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> <button type="button" class="btn btn-primary" data-bind='click: addSlot' data-dismiss="modal">Add</button>
					</div>
				</form>
			</div>

<!-- Modal Body -->
		</div>
<!-- Modal Content -->
	</div>
<!-- Modal Dialog -->
</div>
<!-- Modal Fade -->
<!-- ViewEdit Modal -->
	<div class="modal fade" id="viewSlot" tabindex="-1" role="dialog"
		aria-labelledby="viewSlotLabel" data-bind="modal: {
			 onopen: editModalOpen}, with: selecteditem">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
					<h4 class="modal-title" id="addSlotLabel"> Edit your Spell Slot.
					</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="name" class="col-sm-2 control-label">Level</label>
							<div class="col-sm-10">
								<input type="number" class="form-control" id="name" min="1" max="9"
									data-bind="value: level, hasFocus: $parent.editHasFocus">
							</div>
						</div>
						<div class="form-group">
							<label for="bonus" class="col-sm-2 control-label">Max</label>
							<div class="col-sm-10">
								<input type="number" class="form-control" id="bonus" min="1" max="4" data-bind="value: maxSpellSlots">
							</div>
						</div>
           <div class="form-group">
           <label class="col-sm-2 control-label">Resets on...</label>
             <div class="col-sm-10">
               <div class="btn-group btn-group-justified" role="group">
                 <label class="btn btn-default"
                 data-bind="css: { active: resetsOn() == 'short'}">
                   <input type="radio" class="hide-block"
                   name="resetsOnShort" value="short" data-bind="checked: resetsOn"/>
                   Short Rest
                 </label>
                 <label class="btn btn-default"
                 data-bind="css: { active: resetsOn() != 'short'}">
                   <input type="radio" class="hide-block"
                   name="resetsOnLong" value="long" data-bind="checked: resetsOn"/>
                   Long Rest
                 </label>
               </div>
             </div>
           </div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
					</div>
				</form>
			</div>

<!-- Modal Body -->
		</div>
<!-- Modal Content -->
	</div>
<!-- Modal Dialog -->
</div>
<!-- End with statement -->
