<div class="panel panel-default bio" data-bind="with: treasure">
  <div class="panel-body">
    <!-- Large devices row-->
    <div class="visible-lg-block">
      <div class="row row-padded">
        <div class="col-sm-2 col-md-offset-1 coin-input">
          <div class="input-group">
            <span class="input-group-addon no-top-bottom-padding">
              <img src="/images/pp-coin.svg" width="30px" title="Platinum Coins" alt="Platinum Coins"/>
            </span>
            <input type="number" class="form-control coin-input" min="0"
              data-bind='value: platinum'/>
          </div>
        </div>
        <div class="col-sm-2 coin-input">
          <div class="input-group">
            <span class="input-group-addon no-top-bottom-padding">
              <img src="/images/gp-coin.svg" width="30px" title="Gold Coins" alt="Gold Coins"/>
            </span>
            <input type="number" class="form-control" min="0"
              data-bind='value: gold'/>
          </div>
        </div>
        <div class="col-sm-2 coin-input">
          <div class="input-group ">
            <span class="input-group-addon no-top-bottom-padding">
              <img src="/images/ep-coin.svg" width="30px" title="Electrum Coins" alt="Electrum Coins"/>
            </span>
            <input type="number" class="form-control coin-input" min="0"
              data-bind='value: electrum'>
          </div>
        </div>
        <div class="col-sm-2 coin-input">
          <div class="input-group ">
            <span class="input-group-addon no-top-bottom-padding">
              <img src="/images/sp-coin.svg" width="30px" title="Silver Coins" alt="Silver Coins"/>
            </span>
            <input type="number" class="form-control coin-input" min="0"
              data-bind='value: silver'>
          </div>
        </div>
        <div class="col-sm-2 coin-input">
          <div class="input-group">
            <span class="input-group-addon no-top-bottom-padding">
              <img src="/images/cp-coin.svg" width="30px" title="Copper Coins" alt="Copper Coins"/>
            </span>
            <input type="number" class="form-control coin-input" min="0"
              data-bind='value: copper'>
          </div>
        </div>
      </div>
    </div><!-- End lg row-->
    <!-- Small/Medium devices row -->
    <div class="visible-md-block visible-sm-block">
      <div class="row row-padded">
        <div class="col-sm-4">
          <div class="input-group ">
            <span class="input-group-addon no-top-bottom-padding">
                <img src="/images/pp-coin.svg" width="30px" title="Platinum Coins" alt="Platinum Coins"/>
            </span>
            <input type="number" class="form-control" min="1"
              data-bind='value: platinum'/>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="input-group ">
            <span class="input-group-addon no-top-bottom-padding">
              <img src="/images/gp-coin.svg" width="30px" title="Gold Coins" alt="Gold Coins"/>
            </span>
            <input type="number" class="form-control" min="1"
              data-bind='value: gold'/>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="input-group ">
            <span class="input-group-addon no-top-bottom-padding">
              <img src="/images/ep-coin.svg" width="30px" title="Electrum Coins" alt="Electrum Coins"/>
            </span>
            <input type="number" class="form-control" min="1"
              data-bind='value: electrum'>
          </div>
        </div>
      </div>
      <div class="row row-padded">
        <div class="col-sm-6">
          <div class="input-group ">
            <span class="input-group-addon no-top-bottom-padding">
              <img src="/images/sp-coin.svg" width="30px" title="Silver Coins" alt="Silver Coins"/>
            </span>
          <input type="number" class="form-control" min="1"
            data-bind='value: silver'>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon no-top-bottom-padding">
              <img src="/images/cp-coin.svg" width="30px" title="Copper Coins" alt="Copper Coins"/>
            </span>
            <input type="number" class="form-control" min="1"
                data-bind='value: copper'>
          </div>
        </div>
      </div>
    </div> <!-- end mg/sm row-->
    <!-- xs device row-->
    <div class="visible-xs-block">
      <div class="row row-padded">
        <div class="col-sm-12 row-padded">
          <div class="input-group ">
            <span class="input-group-addon no-top-bottom-padding">
              <img src="/images/pp-coin.svg" width="30px" title="Platinum Coins" alt="Platinum Coins"/>
            </span>
            <input type="number" class="form-control" min="1"
              data-bind='value: platinum'/>
          </div>
        </div>
        <div class="col-sm-12 row-padded">
          <div class="input-group ">
            <span class="input-group-addon no-top-bottom-padding">
              <img src="/images/gp-coin.svg" width="30px" title="Gold Coins" alt="Gold Coins"/>
            </span>
            <input type="number" class="form-control" min="1"
              data-bind='value: gold'/>
          </div>
        </div>
        <div class="col-sm-12 row-padded">
          <div class="input-group ">
            <span class="input-group-addon no-top-bottom-padding">
              <img src="/images/ep-coin.svg" width="30px" title="Electrum Coins" alt="Electrum Coins"/>
            </span>
            <input type="number" class="form-control" min="1"
              data-bind='value: electrum'>
          </div>
        </div>
        <div class="col-sm-12 row-padded">
          <div class="input-group ">
            <span class="input-group-addon no-top-bottom-padding">
              <img src="/images/sp-coin.svg" width="30px" title="Silver Coins" alt="Silver Coins"/>
            </span>
            <input type="number" class="form-control" min="1"
              data-bind='value: silver'>
          </div>
        </div>
        <div class="col-sm-12 row-padded">
          <div class="input-group">
            <span class="input-group-addon no-top-bottom-padding">
              <img src="/images/cp-coin.svg" width="30px" title="Copper Coins" alt="Copper Coins"/>
            </span>
            <input type="number" class="form-control" min="1"
              data-bind='value: copper'>
          </div>
        </div>
      </div>
    </div><!-- End lg row-->
  </div> <!-- end panel body  -->
  <div class="container-fluid panel-footer">
     <span class="pull-left">Total gold:&nbsp;<span data-bind='text: worthInGold'></span>&nbsp;(gp)</span>
      <span class="pull-right">Total weight:&nbsp;
        <span data-bind="text: totalWeightLabel"></span>
      </span>
  </div> <!-- end panel footer -->
</div> <!-- end panel -->
