<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-responsive table-ac-bordered table-hover">
      <thead>
        <tr>
          <th data-bind="click: function(){sortBy('weaponName');}">
            Weapon
            <span data-bind="css: sortArrow('weaponName')"></span>
          </th>
          <th data-bind="click: function(){sortBy('totalBonus');}">
             To Hit
             <span data-bind="css: sortArrow('totalBonus')"></span>
          </th>
          <th data-bind="click: function(){sortBy('weaponDmg');}">
            Damage
            <span data-bind="css: sortArrow('weaponDmg')"></span>
          </th>
          <th class="hidden-sm hidden-xs hidden-md"
            data-bind="click: function(){sortBy('weaponDamageType');}">
            Damage Type
            <span data-bind="css: sortArrow('weaponDamageType')"></span>
          </th>
          <th class="hidden-sm hidden-xs"
            data-bind="click: function(){sortBy('weaponRange');}">
            Range
            <span data-bind="css: sortArrow('weaponRange')"></span>
          </th>
          <th class="hidden-sm hidden-xs hidden-md"
            data-bind="click: function(){sortBy('weaponProperty');}">
            Property
            <span data-bind="css: sortArrow('weaponProperty')"></span>
          </th>
          <th class="hidden-sm hidden-xs"
            data-bind="click: function(){sortBy('weaponQuantity');}">
            Quantity
            <span data-bind="css: sortArrow('weaponQuantity')"></span>
          </th>
          <th>
            <a data-toggle="modal"
               data-target="#addWeapon" href="#">
              <i class="fa fa-plus fa-color"></i>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
      <!-- ko foreach: filteredAndSortedWeapons -->
        <tr class="clickable">
          <td data-bind="click: $parent.editWeapon"
              href="#"
              data-target="#viewWeapon">
              <span data-bind="text: weaponName">
              </span>&nbsp;
              <span data-bind="text: magicalModifierLabel, css: { badge: applyMagicalModifierLabel }">
              </span>
          </td>
          <td data-bind="text: hitBonusLabel, click: $parent.editWeapon"
              href="#"
              data-target="#viewWeapon"></td>
          <td data-bind="text: weaponDmg, click: $parent.editWeapon"
              href="#"
              data-target="#viewWeapon"></td>
          <td class="hidden-sm hidden-xs hidden-md"
              data-bind="text: weaponDamageType, click: $parent.editWeapon"
              href="#" data-target="#viewWeapon"></td>
          <td class="hidden-sm hidden-xs"
              data-bind="text: weaponRangeLabel, click: $parent.editWeapon"
              href="#"
              data-target="#viewWeapon"></td>
          <td class="hidden-sm hidden-xs hidden-md"
              data-bind="text: weaponProperty, click: $parent.editWeapon"
              href="#"
              data-target="#viewWeapon"></td>
          <td class="hidden-sm hidden-xs"
              data-bind="text: weaponQuantity, click: $parent.editWeapon"
              href="#"
              data-target="#viewWeapon"></td>
          <td>
            <a data-bind="click: $parent.removeWeapon" href="#">
              <i class="fa fa-trash-o fa-color-hover">
              </i>
            </a>
          </td>
        </tr>
      <!-- /ko -->
      <!-- ko if: filteredAndSortedWeapons().length == 0 -->
        <tr class="clickable">
          <td data-toggle="modal" data-target="#addWeapon" href="#"
            colspan="12" class="text-center">
            <i class="fa fa-plus fa-color"></i>
            Add a new weapon
          </td>
        </tr>
      <!-- /ko -->
      </tbody>
    </table>
    </div> <!-- end panel body -->
    <div class="container-fluid panel-footer">
      <span class="pull-right">Total weight:&nbsp;
        <span data-bind="text: totalWeight"></span>
      </span>
    </div> <!-- end panel footer -->
    <!-- Add Modal -->
    <div class="modal fade"
         id="addWeapon"
         tabindex="-1"
         role="dialog"
         data-bind="modal: { onopen: modalFinishedOpening }"
         aria-labelledby="addWeaponLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="addWeaponLabel">Add a weapon to your arsenal.</h4>
        </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="weaponName"
                       class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input type="text"
                         class="form-control"
                         id="weaponName"
                         placeholder="Short Sword"
                         data-bind='textInput: blankWeapon().weaponName, autocomplete: {
                          source: weaponsPrePopFilter, onselect: populateWeapon},
                          hasFocus: firstModalElementHasFocus'>
                </div>
              </div>
              <div class="form-group">
                <label for="weaponDmg"
                       class="col-sm-2 control-label">Damage</label>
                  <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           id="weaponDmg"
                           placeholder="1D4"
                           data-bind='textInput: blankWeapon().weaponDmg'>
                  </div>
              </div>
              <div class="form-group">
                <label for="weaponHit"
                       class="col-sm-2 control-label">Magical Modifier</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control"
                         id="weaponHit"
                         placeholder="Place hit bonus here"
                         data-bind='textInput: blankWeapon().weaponHit'>
                </div>
              </div>
              <div class="form-group">
                <label for="weaponType"
                       class="col-sm-2 control-label">Type</label>
                  <div class="col-sm-10">
                  <select class="form-control"
                          data-bind="options: blankWeapon().weaponTypeOptions,
                                     value: blankWeapon().weaponType,
                                     select2: {theme: 'classic'}"></select>
                  </div>
              </div>
              <div class="form-group">
                <label for="weaponHandedness"
                       class="col-sm-2 control-label">Handedness</label>
                  <div class="col-sm-10">
                  <select class="form-control"
                          data-bind="options: blankWeapon().weaponHandednessOptions,
                                     value: blankWeapon().weaponHandedness,
                                     select2: {theme: 'classic'}"></select>
                  </div>
              </div>
              <div class="form-group">
                <label for="weaponProficiency"
                       class="col-sm-2 control-label">Proficiency</label>
                  <div class="col-sm-10">
                  <select class="form-control"
                          data-bind="options: blankWeapon().weaponProficiencyOptions,
                                     value: blankWeapon().weaponProficiency,
                                     select2: {theme: 'classic'}"></select>
                  </div>
              </div>
              <div class="form-group">
                <label for="weaponPrice"
                       class="col-sm-2 control-label">Price</label>
                <div class="col-sm-10">
                  <div class="input-group">
                    <input type="number" min="0" class="form-control input-select2-addon"
                         id="weaponPrice"
                         placeholder="5"
                         data-bind='textInput: blankWeapon().weaponPrice'>
                         <span data-bind="console.log($parent.id)"></span>
                     <span class="input-group-addon">
                      <select class="form-control"
                      data-bind="options: currencyDenominationList,
                      value: blankWeapon().weaponCurrencyDenomination,
                      select2: {theme: 'classic'}"></select>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="weaponWeight"
                       class="col-sm-2 control-label">Weight</label>
                  <div class="col-sm-10">
                    <input type="number" min="0" class="form-control"
                           id="weaponWeight"
                           placeholder="6"
                           data-bind='textInput: blankWeapon().weaponWeight'>
                  </div>
              </div>
              <div class="form-group">
                <label for="weaponRange"
                       class="col-sm-2 control-label">Range</label>
                  <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           id="weaponRange"
                           placeholder="25/100"
                           data-bind='textInput: blankWeapon().weaponRange'>
                  </div>
              </div>
              <div class="form-group">
                <label for="weaponDamageType"
                       class="col-sm-2 control-label">Damage Type</label>
                  <div class="col-sm-10">
                  <select class="form-control"
                          data-bind="options: blankWeapon().weaponDamageTypeOptions,
                                     value: blankWeapon().weaponDamageType,
                                     select2: {theme: 'classic'}"></select>
                  </div>
              </div>
              <div class="form-group">
                <label for="weaponProperty"
                       class="col-sm-2 control-label">Property</label>
                  <div class="col-sm-10">
                  <select class="form-control"
                          data-bind="options: blankWeapon().weaponPropertyOptions,
                                     value: blankWeapon().weaponProperty,
                                     select2: {theme: 'classic'}"></select>
                  </div>
              </div>
              <div class="form-group">
                <label for="weaponQuantity"
                       class="col-sm-2 control-label">Quantity</label>
                  <div class="col-sm-10">
                    <input type="number" min="0" class="form-control"
                           id="weaponQuantity"
                           placeholder="1"
                           data-bind='textInput: blankWeapon().weaponQuantity'>
                  </div>
              </div>

              <div class="form-group">
                <label for="weaponDescription"
                       class="col-sm-2 control-label">Description</label>
                  <div class="col-sm-10">
                    <textarea type="password"
                              class="form-control"
                              id="weaponDescription"
                              rows="4"
                              placeholder="A sword...that is short..."
                              data-bind='textInput: blankWeapon().weaponDescription'>
                    </textarea>
                  </div>
              </div>
            </form>
              <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal">Cancel</button>
                <button type="button"
                        class="btn btn-primary"
                        data-bind='click: addWeapon'
                        data-dismiss="modal">Add</button>
                <p class="text-muted text-left" data-bind='visible: shouldShowDisclaimer'>
                  <sm><i>This data is distributed under the
                    <a href='http://media.wizards.com/2016/downloads/DND/SRD-OGL_V5.1.pdf'
                      target='_blank'>
                      OGL</a><br/>
                      Open  Game  License v 1.0a  Copyright 2000, Wizards of  the Coast,  LLC.
                    </i><sm>
                </p>
              </div>
          </div> <!-- Modal Body -->
        </div> <!-- Modal Content -->
      </div> <!-- Modal Dialog -->
    </div> <!-- Modal Fade -->

    <!-- ViewEdit Modal -->
    <div class="modal fade"
         id="viewWeapon"
         tabindex="-1"
         role="dialog"
         aria-labelledby="viewWeaponLabel"
         data-bind="modal: {
           open: selecteditem,
           onopen: modalFinishedOpening,
           onclose: modalFinishedClosing
        }">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="viewWeaponLabel">View a weapon from your arsenal.</h4>
        </div>
          <div class="modal-body">
            <!-- Begin Tabs -->
            <ul class="nav nav-tabs tabs">
              <li role="presentation" data-bind="click: selectPreviewTab, css: previewTabStatus">
                <a href="#weaponsModalPreview" aria-controls="weaponsModalPreview" role="tab" data-toggle="tab">
                    <b>Preview</b>
                </a>
              </li>
              <li role="presentation" data-bind="click: selectEditTab, css: editTabStatus">
                <a href="#weaponsModalEdit" aria-controls="weaponsModalEdit" role="tab" data-toggle="tab">
                    <b>Edit</b>
                </a>
              </li>
            </ul>
            <div class="tab-content" data-bind="with: selecteditem">
              <div role="tabpanel" data-bind="css: $parent.previewTabStatus" class="tab-pane" id="weaponsModalPreview">
                <div class="h3">
                  <span data-bind="text: weaponName"></span>
                  <small data-bind="text: magicalModifierLabel"></small>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-6 col-xs-12"><b>Damage:</b>&nbsp;<span data-bind="text: weaponDmg"></span></div>
                  <div class="col-sm-6 col-xs-12"><b>Range:</b>&nbsp;<span data-bind="text: weaponRangeLabel"></span></div>
                  <div class="col-sm-6 col-xs-12"><b>Type:</b>&nbsp;<span data-bind="text: weaponType"></span></div>
                  <div class="col-sm-6 col-xs-12"><b>Weight:</b>&nbsp;<span data-bind="text: weaponWeightLabel"></span></div>
                  <div class="col-sm-6 col-xs-12"><b>Damage Type:</b>&nbsp;<span data-bind="text: weaponDamageType"></span></div>
                  <div class="col-sm-6 col-xs-12"><b>Proficiency:</b>&nbsp;<span data-bind="text: weaponProficiency"></span></div>
                  <div class="col-sm-6 col-xs-12"><b>Handedness:</b>&nbsp;<span data-bind="text: weaponHandedness"></span></div>
                  <div class="col-sm-6 col-xs-12"><b>Property:</b>&nbsp;<span data-bind="text: weaponProperty"></span></div>
                </div>
                <hr />
                <h4>Description</h4>
                <div class="row row-padded">
                  <div class="col-xs-12 col-padded">
                    <div data-bind="html: weaponDescriptionHTML"
                         class="preview-modal-overflow">
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button"
                          class="btn btn-primary"
                          data-dismiss="modal">Done</button>
                </div>
              </div> <!-- End Preview Tab -->
              <div role="tabpanel" data-bind="css: $parent.editTabStatus" class="tab-pane" id="weaponsModalEdit">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="weaponName"
                           class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text"
                             class="form-control"
                             id="weaponName"
                             placeholder="Short Sword"
                             data-bind='textInput: weaponName,
                             hasFocus: $parent.editFirstModalElementHasFocus'>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="weaponDmg"
                           class="col-sm-2 control-label">Damage</label>
                      <div class="col-sm-10">
                        <input type="text"
                               class="form-control"
                               id="weaponDmg"
                               placeholder="1D4"
                               data-bind='textInput: weaponDmg'>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="weaponHit"
                           class="col-sm-2 control-label">Magical Modifier</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control"
                             id="weaponHit"
                             placeholder="Place hit bonus here"
                             data-bind='textInput: weaponHit'>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="weaponType"
                           class="col-sm-2 control-label">Type</label>
                      <div class="col-sm-10">
                      <select class="form-control"
                              data-bind="options: weaponTypeOptions,
                                         value: weaponType,
                                         select2: {theme: 'classic'}"></select>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="weaponHandedness"
                           class="col-sm-2 control-label">Handedness</label>
                      <div class="col-sm-10">
                      <select class="form-control"
                              data-bind="options: weaponHandednessOptions,
                                         value: weaponHandedness,
                                         select2: {theme: 'classic'}"></select>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="weaponProficiency"
                           class="col-sm-2 control-label">Proficiency</label>
                      <div class="col-sm-10">
                      <select class="form-control"
                              data-bind="options: weaponProficiencyOptions,
                                         value: weaponProficiency,
                                         select2: {theme: 'classic'}"></select>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="weaponPrice"
                           class="col-sm-2 control-label">Price</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <input type="number" min="0" class="form-control input-select2-addon"
                             id="weaponPrice"
                             placeholder="5"
                             data-bind='textInput: weaponPrice'>
                         <span class="input-group-addon">
                          <select class="form-control"
                                  data-bind="options: $parent.currencyDenominationList,
                                             value: weaponCurrencyDenomination,
                                             select2: {theme: 'classic'}"></select>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="weaponWeight"
                           class="col-sm-2 control-label">Weight</label>
                      <div class="col-sm-10">
                        <input type="number" min="0" class="form-control"
                               id="weaponWeight"
                               placeholder="6"
                               data-bind='textInput: weaponWeight'>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="weaponRange"
                           class="col-sm-2 control-label">Range</label>
                      <div class="col-sm-10">
                        <input type="text"
                               class="form-control"
                               id="weaponRange"
                               placeholder="25/100"
                               data-bind='textInput: weaponRange'>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="weaponDamageType"
                           class="col-sm-2 control-label">Damage Type</label>
                      <div class="col-sm-10">
                      <select class="form-control"
                              data-bind="options: weaponDamageTypeOptions,
                                         value: weaponDamageType,
                                         select2: {theme: 'classic'}"></select>
                      </div>
                      </div>
                    <div class="form-group">
                    <label for="weaponProperty"
                           class="col-sm-2 control-label">Property</label>
                      <div class="col-sm-10">
                      <select class="form-control"
                              data-bind="options: weaponPropertyOptions,
                                         value: weaponProperty,
                                         select2: {theme: 'classic'}"></select>
                      </div>
                  </div>

                  <div class="form-group">
                    <label for="weaponQuantity"
                           class="col-sm-2 control-label">Quantity</label>
                      <div class="col-sm-10">
                        <input type="number" min="0" class="form-control"
                               id="weaponQuantity"
                               placeholder="1"
                               data-bind='textInput: weaponQuantity'>
                      </div>
                  </div>

                  <div class="form-group">
                    <label for="weaponDescription"
                           class="col-sm-2 control-label">Description</label>
                      <div class="col-sm-10">
                        <textarea type="password"
                                  class="form-control"
                                  id="weaponDescription"
                                  rows="4"
                                  placeholder="A sword...that is short..."
                                  data-bind='textInput: weaponDescription'>
                        </textarea>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button"
                            class="btn btn-primary"
                            data-dismiss="modal">Done</button>
                  </div>
                </form>
              </div> <!-- End Edit Tab -->
            </div> <!-- End Tab Content -->
          </div> <!-- Modal Body -->
        </div> <!-- Modal Content -->
      </div> <!-- Modal Dialog -->
    </div> <!-- Modal Fade -->
</div> <!-- Panel -->
