<!-- Edit Modal -->
<!-- The parent is the detail vm and its parent is the master vm -->
<!-- ko with: $parent.parent -->
<div class="modal fade" tabindex="-1" role="dialog"
   data-bind="modal: {
      open: modalIsOpen,
      onopen: modalFinishedOpening,
      onclose: modalFinishedClosing
    }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          Create a new Chat Room
        </h4>
      </div>
      <div class="modal-body" data-bind="with: modalViewModel">
        <form class="form-horizontal" onsubmit="return false">
          <div class="h4">
            Invite your party members to the room
          </div>
          <div class="invite.members">
            <image-picker params="cells: partyMembers, selectedCells: partyMembersToAdd"></image-picker>
          </div>
          <div class="spacer"></div>
          </div>
          <div class="modal-footer">
            <div class="form-group">
              <div class="col-xs-offset-7 col-xs-5">
                <button type="button"
                        class="btn btn-primary"
                        data-bind="click: $parent.parent._modalDoneButtonWasClicked"
                        data-dismiss="modal">Done</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /ko -->
