<div class="row">
  <div class="col-sm-offset-1 col-sm-11 col-xs-12">
    <div class="container-fluid">
      <!-- ko with: currentStep -->
			<div data-bind="template: {
			    data: $data,
			    name: TEMPLATE_FILE,
			    templateUrl: 'templates/common'
			  }"></div>
      <!-- /ko -->
			<hr />
      <div class="spacer"></div>
      <div class="row">
        <!-- ko if: shouldShowBackButton -->
        <div class="col-xs-2 col-sm-offset-1">
          <button data-bind="click: backButton" class="btn btn-default">
            Back
          </button>
        </div>
        <!-- /ko -->
        <!-- ko if: shouldShowNextButton -->
        <div class="col-2-xs col-sm-offset-7 col-xs-offset-10">
          <button data-bind="click: nextButton" class="btn btn-primary">
            Next
          </button>
        </div>
        <!-- /ko -->
        <!-- ko if: shouldShowStartButton -->
        <div class="col-2-xs col-sm-offset-7 col-xs-offset-10">
          <button data-bind="click: nextButton" class="btn btn-primary">
            Get Started
          </button>
        </div>
        <!-- /ko -->
        <!-- ko if: shouldShowFinishButton -->
        <div class="col-2-xs col-sm-offset-7 col-xs-offset-10">
          <button data-bind="click: finishButton" class="btn btn-primary">
            Finish
          </button>
        </div>
        <!-- /ko -->
      </div>
    </div>
  </div>
</div>
