<div class="row">
  <div class="col-xs-12">
    <div class="container">
      <div class="center-block">
        <!-- Begin About Section -->
        <div class="row">
          <div class="col-sm-offset-1 col-sm-11 col-xs-12">
            <div class="h1">Welcome to Adventurers Codex!<br />
              <small>Experience the next step in tabletop RPGs</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-1 col-sm-7 col-xs-12">
            <div class="h3">Already have a Character or Campaign?</div>
            <p>
              Have you used Adventurer's Codex before? If so import your existing character or campaign by clicking below. We'll skip the formalities and get you right to your game.
            </p>
            <div class="row">
              <div class="col-xs-offset-3 col-sm-offset4 col-xs-4">
                <button class="btn btn-default btn-sm" data-toggle="collapse"
                  data-bind="click: toggleWellOpen"
                  data-target="#importCollapse" aria-expanded="false"
                  aria-controls="importCollapse">
                    Import an Existing Character/Campaign
                    <i data-bind="css: arrowIconClass" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="collapse" id="importCollapse">
              <div class="well well-no-padding well-top-shadow">
                <div class="row">
                  <div class="col-sm-11 col-sm-offset-1">
                    <h4>Import file:</h4>
                    <input type="file" id="file" name="file"
                      data-bind="file: { data: fileContents, reader: fileReader }"/>
                  </div>
                  <div class="col-sm-11 col-sm-offset-1">
                    <h4>Or import from your Dropbox!:</h4>
                    <div id="dropbox-container"></div>
                  </div>

                </div>
                <br/>
                <div class="row">
                  <div class="text-center">
                    <button type="button" class="btn btn-primary"
                      data-bind="click: importFromFile">Import</button>
                  </div>
                </div>
               </div>
              </div>
            <!-- Begin Create A new Character Section -->
            <div class="h3">Start from Scratch!</div>
            <p>If you're new to Adventurer's Codex, welcome! You can get started <b>making your first character</b>, or <b>creating your first campaign</b> by clicking "Get Started". If you've never made a character or run a game before, don't worry! We'll guide you through the process.
            </p>
          </div>
          <div class="col-sm-3 hidden-xs">
            <img src="/images/logo-all-icons.png" width="100%">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
