<div class="row">
  <div class="col-xs-12">
    <!-- Begin About Section -->
    <div class="row">
      <div class="col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="h1">Ability Scores<br />
          <small>These scores are the core of all of your abilities. Choose them wisely.</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-1 col-sm-7 col-xs-12">
        <div class="h3">Rolling for Ability Scores<br />
          <small>One method is to roll four D6 dice and record the total of the highest
          three; do this until you have six numbers. Or you can use
          the following scores instead: 15, 14, 13, 12, 10, 8.
          </small>
        </div>
        <p></p>
        <div class="row">
          <div class="col-md-6 col-padded">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">Strength
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <input type="number"
                     class="form-control"
                     aria-describedby="basic-addon2"
                     min="1"
                     max="18"
                data-bind='textInput: str'>
            </div>
          </div>
          <div class="col-md-6 col-padded">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">Dexterity
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <input type="number"
                     class="form-control"
                     aria-describedby="basic-addon2"
                     min="1"
                     max="18"
                data-bind='textInput: dex'>
            </div>
          </div>
        </div>
        <div class="row">
        <!-- Race, Gender, Class, Alignment -->
          <div class="col-md-6 col-padded">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">Constitution</span>
              <input type="number"
                     class="form-control"
                     aria-describedby="basic-addon2"
                     min="1"
                     max="18"
                data-bind='textInput: con'>
            </div>
          </div>
          <div class="col-md-6 col-padded">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">Intelligence</span>
              <input type="number"
                     class="form-control"
                     aria-describedby="basic-addon2"
                     min="1"
                     max="18"
                data-bind='textInput: int'>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-padded">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">Wisdom
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <input type="number"
                     class="form-control"
                     aria-describedby="basic-addon2"
                     min="1"
                     max="18"
                data-bind='textInput: wis'>
            </div>
          </div>
          <div class="col-md-6 col-padded">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">Charisma
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <input type="number"
                     class="form-control"
                     aria-describedby="basic-addon2"
                     min="1"
                     max="18"
                     data-bind='textInput: cha'>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 hidden-xs">
        <img src="/images/logo-full-circle.png" width="100%">
      </div>
    </div>
  </div>
</div>
