<div class="row">
  <div class="col-xs-12">
    <!-- Begin About Section -->
    <div class="row">
      <div class="col-sm-offset-1 col-sm-11 col-xs-12">
        <div class="h1">It all began<br />
          <small>"Long ago, in a land of fire and ice..." -Unknown</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-1 col-sm-7 col-xs-12">
        <div class="h3">Tell us a story!<br />
          <small>Before we can create your campaign, we just need a few bits of information.</small>
        </div>
        <!-- Names -->
        <div class="row">
          <div class="col-md-10 col-padded">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">Campaign Name</span>
              <input type="text" class="form-control" aria-describedby="basic-addon2"
                data-bind='textInput: campaignName, valueUpdate: "afterkeydown"' />
            </div>
          </div>
          <div class="col-md-2 col-padded">
            <span data-bind='visible: campaignName.hasError, html: campaignName.validationMessage,
              css: { errormessagetext: campaignName.hasError }'> </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-padded">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">Player Name</span>
                <input type="text" class="form-control" aria-describedby="basic-addon2"
                  data-bind='textInput: playerName, valueUpdate: "afterkeydown"' />
            </div>
          </div>
          <div class="col-md-2 col-padded">
            <span data-bind='visible: playerName.hasError, html: playerName.validationMessage,
              css: { errormessagetext: playerName.hasError }'> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
