<div style="margin-bottom: 0px;"
     data-bind="attr:{id: `${elementId}`}, style: { height: elementHeight},
  collapseCard: { hiddenCallback: hiddenCallback, shownCallback: shownCallback },
  css: collapsable() ? 'panel panel-default collapse':''">
  <div class="panel-body"
       style="position: relative; height: 100%;">

    <div class="card-flip-container"
         data-bind="css: {'flipped':  showBack}, style: { height: elementHeight}">
      <div style="opacity: 1" class="card-flipper" data-bind="attr:{id: `${elementId}_card`}">
        <!-- ko template: {
        nodes: $componentTemplateNodes,
        data: {
        showBack: showBack,
        showFront: showFront,
          context: context,
          elementId: elementId,
          flip: toggleMode,
          forceCardResize: setNewHeight
            }
         } -->
        <div class="front">
        </div>
        <div class="back">
        </div>
        <!-- /ko -->
      </div>
    </div>
  </div>
</div>
