<div style="margin-bottom: 0px;"
     data-bind="attr:{id: `${elementId}`}, style: { height: elementHeight},
  collapseCard: { hiddenCallback: hiddenCallback, shownCallback: shownCallback },
  css: collapsable() ? 'panel panel-default collapse':''">
  <div class="panel-body"
       style="position: relative; height: 100%;">
    <!-- ko if: showEditModeButton() -->
    <div class="btn-group edit-btn" role="group" aria-label="actionButtons">
      <!-- ko if: editMode() -->
        <button class="btn btn-link" data-bind="click: cancelAction">
            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true">
            </span>
        </button>
        <!-- ko if: hasSaveAction() -->
        <button class="btn btn-link" data-bind="click: saveAction">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">
            </span>
        </button>
        <!-- /ko -->
      <!-- /ko -->
      <!-- ko if: !editMode() -->
        <button class="btn btn-link" data-bind="click: editAction">
            <span class="glyphicon glyphicon-edit" aria-hidden="true">
            </span>
        </button>
      <!-- /ko -->
      </div>
    <!-- /ko -->
    <div class="card-flip-container"
         data-bind="css: {'flipped':  editMode}, style: { height: elementHeight}">
      <div style="opacity: 1" class="card-flipper" data-bind="attr:{id: `${elementId}_card`}">
        <!-- ko template: {
        nodes: $componentTemplateNodes,
        data: {
          editMode: editMode,
          context: context,
          elementId: elementId,
          toggleCallback: toggleMode,
          resizeCallback: setNewHeight } } -->
        <div class="front">
        </div>
        <div class="back">
        </div>
        <!-- /ko -->
      </div>
    </div>
  </div>
</div>
