<!-- ko with: treasure -->
<div class="h3">
  <span data-bind="text: name"></span>&nbsp;
  <small data-bind="text: summaryLabel"></small>
</div>

<hr />
<div class="row">
  <div class="col-sm-4 col-xs-12">
    <b>Stealth:</b>&nbsp;<span data-bind="text: stealth"></span>
  </div>
  <div class="col-sm-4 col-xs-12">
    <b>Weight:</b>&nbsp;<span data-bind="text: weightLabel"></span>
  </div>
  <div class="col-sm-4 col-xs-12">
    <b>Type:</b>&nbsp;<span data-bind="text: type"></span>
  </div>
</div>

<hr />
<h4>Description</h4>
<div class="row row-padded">
  <div class="col-xs-12 col-padded">
    <div
      data-bind="html: descriptionHTML"
      class="preview-modal-overflow"
    ></div>
  </div>
</div>
<!-- /ko -->
