<div class="h3">
  <span>Coins</span>&nbsp;
</div>
<hr />
<div class="row">
  <div class="col-sm-6 col-xs-12"><b>Platinum:</b>&nbsp;<span data-bind="text: platinum"></span></div>
  <div class="col-sm-6 col-xs-12"><b>Gold:</b>&nbsp;<span data-bind="text: gold"></span></div>
  <div class="col-sm-6 col-xs-12"><b>Electrum:</b>&nbsp;<span data-bind="text: electrum"></span></div>
  <div class="col-sm-6 col-xs-12"><b>Silver:</b>&nbsp;<span data-bind="text: silver"></span></div>
  <div class="col-sm-6 col-xs-12"><b>Copper:</b>&nbsp;<span data-bind="text: copper"></span></div>
</div>
<hr />
<h4>Description</h4>
<div class="row row-padded">
  <div class="col-sm-12 col-xs-12">
    Total worth in Gold: <span data-bind="text: worthInGold"></span>
  </div>
  <div class="col-sm-12 col-xs-12">
    Total Weight: <span data-bind="text: totalWeightLabel"></span>
  </div>
</div>
