<form class="form-horizontal" data-bind="validate: magicItemValidation">
  <div class="form-group ui-front">
    <label for="magicItemName"
           class="col-sm-2 control-label">
           Name<i class="required"></i>
          </label>
    <div class="col-sm-10">
      <input type="text"
             class="form-control"
             name="name"
             id="magicItemName"
             placeholder="Dagger of Venom"
             data-bind='textInput: blankTreasure().name, hasFocus: magicItemFirstElementFocus,
                autocomplete: { source: treasurePrePopFilter, onselect: populateTreasure }'>
    </div>
  </div>
  <div class="form-group ui-front">
    <label for="magicItemType"
           class="col-sm-2 control-label">
           Type<i class="required"></i>
          </label>
      <div class="col-sm-10">
      <input class="form-control"
             name="type"
             placeholder="Wand"
             data-bind="textInput: blankTreasure().magicItemType,
                       autocomplete: { source: blankTreasure().magicItemTypeOptions,
                                       onselect: setMagicItemType }">
      </div>
  </div>
  <div class="form-group ui-front">
    <label for="magicItemType"
           class="col-sm-2 control-label">
           Rarity<i class="required"></i>
          </label>
      <div class="col-sm-10">
      <input class="form-control"
             placeholder="Legendary"
             name="rarity"
             data-bind="textInput: blankTreasure().rarity,
                       autocomplete: { source: blankTreasure().magicItemRarityOptions,
                                       onselect: setMagicItemRarity }">
      </div>
  </div>
  <div class="form-group">
    <label for="magicItemMaxCharges"
           class="col-sm-2 control-label">Max Charges</label>
      <div class="col-sm-10">
        <input type="number"
               class="form-control"
               name="maxCharges"
               id="magicItemMaxCharges"
               placeholder="1"
               data-bind='textInput: blankTreasure().maxCharges'>
      </div>
  </div>
  <div data-bind="visible: blankTreasure().maxCharges() != 0">
    <div class="form-group">
      <label for="magicItemCharges"
             class="col-sm-2 control-label">Charges</label>
        <div class="col-sm-10">
          <input type="number"
                 class="form-control"
                 name="usedCharges"
                 id="magicItemCharges"
                 placeholder="1"
                 data-bind='textInput: blankTreasure().usedCharges'>
        </div>
    </div>
  </div>
  <div class="form-group">
    <label for="magicItemWeight"
           class="col-sm-2 control-label">Weight</label>
      <div class="col-sm-10">
        <input type="number"
               class="form-control"
               name="weight"
               id="magicItemWeight"
               placeholder="1"
               data-bind='textInput: blankTreasure().weight'>
      </div>
  </div>
  <div class="form-group">
    <label for="magicItemRequiresAttunement"
           class="col-sm-2 control-label">Requires Attunement</label>
      <div class="col-sm-10">
        <input type="checkbox"
               class="form-control"
               id="magicItemRequiresAttunement"
               data-bind='checked: blankTreasure().requiresAttunement'>
      </div>
  </div>
  <div data-bind="visible: blankTreasure().requiresAttunement() == true">
    <div class="form-group">
      <label for="magicItemAttuned"
             class="col-sm-2 control-label">Attuned</label>
        <div class="col-sm-10">
          <input type="checkbox"
                 class="form-control"
                 id="magicItemAttuned"
                 data-bind='checked: blankTreasure().attuned'>
        </div>
    </div>
  </div>
  <div class="form-group">
    <label for="magicItemDescription"
           class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <textarea type="password"
                  class="form-control"
                  name="description"
                  id="magicItemDescription"
                  rows="4"
                  placeholder="Awesome stuff goes here"
                  data-bind='textInput: blankTreasure().description'>
        </textarea>
      </div>
  </div>
</form>
