<form class="form-horizontal" data-bind="validate: weaponValidation">
  <div class="form-group ui-front">
    <label for="weaponName"
           class="col-sm-2 control-label">
           Name<i class="required"></i>
          </label>
    <div class="col-sm-10">
      <input type="text"
             class="form-control"
             name="name"
             id="weaponName"
             placeholder="Short Sword"
             data-bind='textInput: blankTreasure().name, hasFocus: weaponFirstElementFocus,
               autocomplete: { source: treasurePrePopFilter, onselect: populateTreasure }'>
    </div>
  </div>
  <div class="form-group">
    <label for="weaponDmg"
           class="col-sm-2 control-label">
           Damage<i class="required"></i>
          </label>
      <div class="col-sm-10">
        <input type="text"
               class="form-control"
               name="damage"
               id="weaponDmg"
               placeholder="1D4"
               data-bind='textInput: blankTreasure().damage'>
      </div>
  </div>
  <div class="form-group">
    <label for="weaponHit"
           class="col-sm-2 control-label">Magical Modifier</label>
    <div class="col-sm-10">
      <input type="number" class="form-control"
             id="weaponHit"
             name="toHitModifier"
             placeholder="Place hit bonus here"
             data-bind='textInput: blankTreasure().toHitModifier'>
    </div>
  </div>
  <div class="form-group ui-front">
    <label for="weaponType"
           class="col-sm-2 control-label">
           Type<i class="required"></i>
          </label>
      <div class="col-sm-10">
      <input class="form-control"
             placeholder="Ranged"
             name="type"
             data-bind="textInput: blankTreasure().weaponType, autocomplete: {
                        source: blankTreasure().weaponTypeOptions,
                        onselect: setWeaponType }">
      </div>
  </div>
  <div class="form-group ui-front">
    <label for="weaponHandedness"
           class="col-sm-2 control-label">Handedness</label>
      <div class="col-sm-10">
      <input class="form-control"
              placeholder="One-Handed"
              name="handedness"
              data-bind="textInput: blankTreasure().handedness, autocomplete: {
                        source: blankTreasure().weaponHandednessOptions,
                        onselect: setWeaponHandedness }">
      </div>
  </div>
  <div class="form-group ui-front">
    <label for="weaponProficiency"
           class="col-sm-2 control-label">Proficiency</label>
      <div class="col-sm-10">
      <input class="form-control"
              placeholder="Simple"
              name="proficiency"
              data-bind="textInput: blankTreasure().proficiency, autocomplete: {
                        source: blankTreasure().weaponProficiencyOptions,
                        onselect: setWeaponProficiency }">
      </div>
  </div>
  <div class="form-group ui-front">
    <label for="weaponPrice"
           class="col-sm-2 control-label">Price</label>
    <div class="col-sm-10">
      <div class="input-group override-tight-inner">
        <input type="number" class="form-control input-jquery-addon"
             id="weaponPrice"
             name="price"
             placeholder="5"
             data-bind='textInput: blankTreasure().price'>
         <span class="input-group-addon input-group-addon-jquery">
          <input class="form-control"
                 placeholder="GP"
                 name="currencyDenomination"
                 data-bind="textInput: blankTreasure().currencyDenomination, autocomplete: {
                        source: blankTreasure().weaponCurrencyDenominationOptions,
                        onselect: setWeaponCurrencyDenomination }">
        </span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="weaponWeight"
           class="col-sm-2 control-label">Weight</label>
      <div class="col-sm-10">
        <input type="number" class="form-control"
               id="weaponWeight"
               name="weight"
               placeholder="6"
               data-bind='textInput: blankTreasure().weight'>
      </div>
  </div>
  <div class="form-group">
    <label for="weaponRange"
           class="col-sm-2 control-label">Range</label>
      <div class="col-sm-10">
        <input type="text"
               class="form-control"
               name="range"
               id="weaponRange"
               placeholder="25/100"
               data-bind='textInput: blankTreasure().range'>
      </div>
  </div>
  <div class="form-group ui-front">
    <label for="weaponDamageType"
           class="col-sm-2 control-label">Damage Type</label>
      <div class="col-sm-10">
      <input class="form-control"
             placeholder="Fire"
             name="damageType"
             data-bind="textInput: blankTreasure().damageType, autocomplete: {
                        source: blankTreasure().weaponDamageTypeOptions,
                        onselect: setWeaponDamageType }">
      </div>
  </div>
  <div class="form-group ui-front">
    <label for="weaponProperty"
           class="col-sm-2 control-label">Property</label>
      <div class="col-sm-10">
      <input class="form-control"
              placeholder="Finesse"
              name="property"
              data-bind="textInput: blankTreasure().property, autocomplete: {
                        source: blankTreasure().weaponPropertyOptions,
                        onselect: setWeaponProperty }">
      </div>
  </div>
  <div class="form-group">
    <label for="weaponQuantity"
           class="col-sm-2 control-label">Quantity</label>
      <div class="col-sm-10">
        <input type="number" class="form-control"
               id="weaponQuantity"
               name="quantity"
               placeholder="1"
               data-bind='textInput: blankTreasure().quantity'>
      </div>
  </div>

  <div class="form-group">
    <label for="weaponDescription"
           class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <textarea type="password"
                  class="form-control"
                  name="description"
                  id="weaponDescription"
                  rows="4"
                  placeholder="A sword...that is short..."
                  data-bind='textInput: blankTreasure().description'>
        </textarea>
      </div>
  </div>
</form>
