<div class="h3">
  <img class="encounter-section-img" src="/images/encounters/globe.svg">
  Maps<br />
  <small data-bind="text: tagline"></small>
</div>
<table class="table table-responsive table-ac-bordered table-hover">
  <thead>
    <tr>
      <th data-bind="click: function(){sortBy('name');}" class="col-md-11">
        Name
        <span data-bind="css: sortArrow('name')"></span>
      </th>
      <th class="col-md-1">
        <a data-toggle="modal"
           data-target="#addMap" href="#">
          <i class="fa fa-plus fa-color"></i>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
  <!-- ko foreach: filteredAndSortedMaps -->
    <tr class="clickable">
      <td data-bind="text: name, click: $parent.editMap"
          href="#"
          data-toggle="modal"></td>
      <td>
        <a data-bind="click: $parent.removeMap" href="#">
          <i class="fa fa-trash-o fa-color-hover">
          </i>
        </a>
      </td>
    </tr>
    <!-- /ko -->
    <!-- ko if: filteredAndSortedMaps().length == 0 -->
    <tr class="clickable">
      <td data-toggle="modal" data-target="#addMap" href="#"
        colspan="7" class="text-center">
        <i class="fa fa-plus fa-color"></i>
        Add a new Map
      </td>
    </tr>
    <!-- /ko -->
  </tbody>
</table>

<!-- Add Modal -->
<div class="modal fade"
     id="addMap"
     tabindex="-1"
     role="dialog" data-bind="modal: {
      onopen: modalFinishedOpening, onclose: modalFinishedClosing}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"
            id="addMapLabel">Add a new Map</h4>
    </div>
      <div class="modal-body">
        <form class="form-horizontal" onsubmit="return false;">
          <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text"
                     class="form-control"
                     placeholder="King Arthur"
                     data-bind="textInput: blankMap().name,
                        hasFocus: firstElementInModalHasFocus">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Link</label>
            <div class="col-sm-10">
              <input type="text"
                     class="form-control"
                     placeholder=""
                     data-bind="textInput: blankMap().imageUrl">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button"
                    class="btn btn-primary"
                    data-bind='click: addMap'
                    data-dismiss="modal">Add</button>
          </div>
        </form>
      </div> <!-- Modal Body -->
    </div> <!-- Modal Content -->
  </div> <!-- Modal Dialog -->
</div> <!-- Modal Fade -->

<!-- ViewEdit Modal -->
<div class="modal fade"
     id="viewMap"
     tabindex="-1"
     role="dialog"
     data-bind="modal: {
      open: openModal,
      onopen: modalFinishedOpening,
      onclose: modalFinishedClosing
    }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Edit a Map</h4>
      </div>
      <div class="modal-body">
        <!-- Begin Tabs -->
        <ul class="nav nav-tabs tabs">
          <li role="presentation" data-bind="click: selectPreviewTab, css: previewTabStatus">
            <a href="#" aria-controls="itemsModalPreview" role="tab" data-toggle="tab">
                <b>Preview</b>
            </a>
          </li>
          <li role="presentation" data-bind="click: selectEditTab, css: editTabStatus">
            <a href="#" aria-controls="itemsModalEdit" role="tab" data-toggle="tab">
                <b>Edit</b>
            </a>
          </li>
        </ul>
        <div class="tab-content" data-bind="with: currentEditItem">
          <div role="tabpanel" data-bind="css: $parent.previewTabStatus" class="tab-pane">
            <div class="h3">
              <span data-bind="text: name"></span>
            </div>
            <hr />
            <div class="row row-padded">
              <div class="col-xs-12 col-padded text-center">
                <img data-bind="attr: { src: imageUrl }" class="image-rounded" width="100%" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button"
                      class="btn btn-primary"
                      data-dismiss="modal">Done</button>
            </div>
          </div> <!-- End Preview Tab -->
          <div role="tabpanel" data-bind="css: $parent.editTabStatus" class="tab-pane">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="mapName"
                       class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input type="text"
                         class="form-control"
                         data-bind="textInput: name, hasFocus: $parent.editFirstModalElementHasFocus">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Link</label>
                <div class="col-sm-10">
                  <input type="text"
                         class="form-control"
                         placeholder=""
                         data-bind="textInput: imageUrl">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal">Done</button>
              </div>
            </form>
          </div>
        </div>
      </div> <!-- Modal Body -->
    </div> <!-- Modal Content -->
  </div> <!-- Modal Dialog -->
</div> <!-- Modal Fade -->
