<div class="h3">
<img class="encounter-section-img" src="/images/encounters/read.svg">
  Read-Aloud Text<br />
  <small data-bind="text: tagline"></small>
</div>
<table class="table table-responsive table-ac-bordered table-hover">
  <thead>
    <tr>
      <th data-bind="click: function(){sortBy('name');}">
        Name
        <span data-bind="css: sortArrow('name')"></span>
      </th>
      <th data-bind="click: function(){sortBy('description');}">
        Description
        <span data-bind="css: sortArrow('description')"></span>
      </th>
      <th>
        <a data-toggle="modal"
           data-target="#addPlayerText" href="#">
          <i class="fa fa-plus fa-color"></i>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
  <!-- ko foreach: filteredAndSortedPlayerText -->
    <tr class="clickable">
      <td data-bind="text: name, click: $parent.editPlayerText"
          class="col-xs-12 col-sm-4 col-md-3"
          href="#"
          data-toggle="modal"
          data-target="#viewPlayerText"></td>
      <td data-bind="html: shortDescription, click: $parent.editPlayerText"
          class="col-xs-12 hidden-md hidden-lg"
          href="#"
          data-toggle="modal"
          data-target="#viewPlayerText"></td>
      <td data-bind="html: longDescription, click: $parent.editPlayerText"
          class="col-md-12 hidden-sm hidden-xs"
          href="#"
          data-toggle="modal"
          data-target="#viewPlayerText"></td>
      <td>
        <a data-bind="click: $parent.removePlayerText" href="#">
          <i class="fa fa-trash-o fa-color-hover">
          </i>
        </a>
      </td>
    </tr>
    <!-- /ko -->
    <!-- ko if: filteredAndSortedPlayerText().length == 0 -->
    <tr class="clickable">
      <td data-toggle="modal" data-target="#addPlayerText" href="#"
        colspan="7" class="text-center">
        <i class="fa fa-plus fa-color"></i>
        Add new text for your players.
      </td>
    </tr>
    <!-- /ko -->
  </tbody>
</table>

<!-- Add Modal -->
<div class="modal fade"
     id="addPlayerText"
     tabindex="-1"
     role="dialog" data-bind="modal: {
      onopen: modalFinishedOpening,
      onclose: modalFinishedClosing}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"
            id="addWeaponLabel">Add a new snippet of text.</h4>
    </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 col-padded control-label">Name</label>
            <div class="col-sm-10 col-padded">
              <input type="text"
                     class="form-control"
                     placeholder="A kingly statue"
                     data-bind="textInput: blankPlayerText().name,
                        hasFocus: firstElementInModalHasFocus">
            </div>
            <label class="col-sm-2 col-padded control-label">Description</label>
              <div class="col-sm-10 col-padded">
                <textarea type="text"
                       class="form-control" rows="4"
                       placeholder="It rises up from it's stone pillar..."
                       data-bind='value: blankPlayerText().description'></textarea>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button"
                    class="btn btn-primary"
                    data-bind='click: addPlayerText'
                    data-dismiss="modal">Add</button>
          </div>
        </form>
      </div> <!-- Modal Body -->
    </div> <!-- Modal Content -->
  </div> <!-- Modal Dialog -->
</div> <!-- Modal Fade -->

<!-- ViewEdit Modal -->
<div class="modal fade"
     id="viewWeapon"
     tabindex="-1"
     role="dialog"
     data-bind="modal: {
      open: selecteditem,
      onopen: modalFinishedOpening,
      onclose: modalFinishedClosing
    }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Edit your text.</h4>
      </div>
      <div class="modal-body">
        <!-- Begin Tabs -->
        <ul class="nav nav-tabs tabs">
          <li role="presentation" data-bind="click: selectPreviewTab, css: previewTabStatus">
            <a href="#" aria-controls="itemsModalPreview" role="tab" data-toggle="tab">
                <b>Preview</b>
            </a>
          </li>
          <li role="presentation" data-bind="click: selectEditTab, css: editTabStatus">
            <a href="#" aria-controls="itemsModalEdit" role="tab" data-toggle="tab">
                <b>Edit</b>
            </a>
          </li>
        </ul>
        <div class="tab-content" data-bind="with: selecteditem">
          <div role="tabpanel" data-bind="css: $parent.previewTabStatus" class="tab-pane">
            <div class="row">
              <div class="col-xs-12">
                <div class="h1" data-bind="text: name"></div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-xs-12">
                <div data-bind="markdownPreview: description"
                     class="preview-modal-overflow">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button"
                      class="btn btn-primary"
                      data-dismiss="modal">Done</button>
            </div>
          </div> <!-- End Preview Tab -->
          <div role="tabpanel" data-bind="css: $parent.editTabStatus" class="tab-pane">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 col-padded control-label">Name</label>
                <div class="col-sm-10 col-padded">
                  <input type="text"
                         class="form-control"
                         data-bind="textInput: name, hasFocus: $parent.editFirstModalElementHasFocus">
                </div>
                <label for="playerTextDescription"
                       class="col-sm-2 col-padded control-label">Description</label>
                  <div class="col-sm-10 col-padded">
                    <textarea type="text" rows="6"
                           class="form-control"
                           data-bind='value: description, markdownEditor: true'></textarea>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal">Done</button>
              </div>
            </form>
          </div>
        </div>
      </div> <!-- Modal Body -->
    </div> <!-- Modal Content -->
  </div> <!-- Modal Dialog -->
</div> <!-- Modal Fade -->
