<div data-bind="foreach: cells" class="list-group no-bottom-margin master-list">
  <div
    class="list-group-item "
    role="button"
    data-bind="
      click: () => $component.selectCell($data),
      css: $component.isActiveCSS($data),
    "
  >
    <nested-list-cell params="
      entity: $data,
      elementId: $component.elementId,
      addComponent: $component.addComponent,
      levels: $component.levels,
      canAdd: $component.canAdd(),
      canRemove: $component.canRemove(),
      remove: () => $component.deleteCell($data),
      addChild: () => $component.addCell($data),
    "></nested-list-cell>
  </div>
  <!-- ko if: $component.hasChildren($data) -->
  <div
    class="row collapse"
    data-bind="well: { open: isOpen }"
  >
    <div class="col-sm-offset-1 col-sm-11">
      <nested-list
        params="
          cells: children,
          elementId: `${$component.elementId}-${$component.levels-1}`,
          levels: $component.levels - 1,
          selectedCell: $component.selectedCell,
          addComponent: $component.addComponent,
          onadd: $component.onadd,
          ondelete: $component.ondelete,
          onselect: $component.onselect,
          isTopLevel: $component.isTopLevel,
        "
      ></nested-list>
    </div>
  </div>
  <!-- /ko -->
</div>
