/*
Responsive Styles
*/
.text-center-xs {
    text-align: center;
}
.text-left-xs {
    text-align: left;
}
.text-left-xs {
    text-align: left;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-center-sm {
        text-align: center;
    }
    .text-left-sm {
        text-align: left;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-center-md {
        text-align: center;
    }
    .text-left-md {
        text-align: left;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text-center-lg {
        text-align: center;
    }
    .text-left-lg {
        text-align: left;
    }
}


/*
General Styling
*/
html {
  touch-action: manipulation;
}

html, body {
  height: 100%;
}

nav.navbar {
  /* Bootstrap adds too much top padding below the nav-bar. */
  margin-bottom:15px;
}

.navbar-collapse {
  padding-left: 0px;
  padding-right: 0px;
}

a.navbar-brand.navbar-divider:after {
  position: relative;
  top: 0em;
  left: 180px;
  content: "";
  height: 30px;
  border-right: 1px solid #566472;
}

#content {
  max-width: 100%;
  font-family: "Lato", sans-serif;
  /* min-height: 100%; */
}

.main {
  padding-bottom:150px;
  /* since the contents of the site are within their own padded containers
  remove this padding to keep the size reasonable */
  padding-left: 0px;
  padding-right: 0px;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-family: 'IM Fell English SC', serif;
}

small {
  font-family: "Lato", sans-serif;
}

.brand-icon {
  margin-top: -5px;
  margin-right: 10px;
}

.footer {
  position: relative;
  height: 178px;
  clear:both;
  margin-top:0px;
  padding-top:30px;
  background-color: #ecf0f1;
  padding-bottom: 20px;
}

.close-check {
  margin-left: -5px;
  margin-right: -8px
}

.progress {
  height:34px;
}

.progress.thin {
  height:6px;
}

.row-padded {
  padding-top: 5px;
  padding-bottom: 5px;
}

.img-padded {
  margin-top: 5px;
  margin-bottom: 5px;
}

.no-top-bottom-padding {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.well-top-shadow {
  box-shadow: 0px 2px 2px -2px #888888 inset;
}

.col-padded {
  padding-top: 5px;
  padding-bottom: 5px;
}

.table-ac-bordered tr {
  border-bottom: thin solid #ecf0f1;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.beta {
  color:orange;
}

.spacer {
  width:10px;
  height:10px;
}

.spacer-lg {
  height:23px;
  width:23px;
}

.inline-left {
  float:left;
  display:inline;
  width: 49%;
}

.inline-right {
  float:right;
  display:inline;
  width: 49%
}

.tri {
  margin-left:2%;
  margin-right:2%;
  width:30%;
}

.quad {
  margin-left:2%;
  margin-right:2%;
  width:22%;
}

/**
 * Additional Progress Bar Colors
 */
.progress-bar-blue {
  background-color: #337ab7 !important;
}
.progress-bar-orange {
  background-color: #f0ad4e !important;
}
.progress-bar-red {
  background-color: #d9534f !important;
}
.progress-bar-green {
  background-color: #5cb85c !important;
}
.progress-bar-purple {
  background-color: purple !important;
}
.progress-bar-teal {
  background-color: #01DFD7 !important;
}
.progress-bar-yellow {
  background-color: #D7DF01 !important;
}
.progress-bar-indigo {
  background-color: #8000FF !important;
}
.progress-bar-brown {
  background-color: #906713 !important;
}
.progress-bar-magenta {
  background-color: #C82D78 !important;
}
.progress-bar-sky {
  background-color: #71D4E8 !important;
}
.progress-bar-forest {
  background-color: #2F972F !important;
}


/*******
 * Experimental stuff
 *******/

.panel-heading {
}
.panel {
  box-shadow: 2px 3px 0px 0px #ecf0f1;
}

div.hr {
  height:80px;
  background:url('/images/page-divider.png') no-repeat;

}

.tab-pane {
  padding-top:10px;
}

.dice-full {
  cursor:pointer;
  background: url('../images/dice-twenty-faces-twenty.svg');
  width:24px;
  height:24px;
  display: inline-block;
  padding: 0 0 0 0px;
}

.dice-empty {
  cursor:pointer;
  background: url('../images/dice-twenty-faces-twenty-clear.svg');
  width:24px;
  height:24px;
  display: inline-block;
  padding: 0 0 0 0px;
}

.ds-failure-full {
  cursor:pointer;
  background: url('../images/harry-potter-skull.svg');
  width:24px;
  height:24px;
  display: inline-block;
  padding: 0 0 0 0px;
  margin: 5px;
}

.ds-failure-empty {
  cursor:pointer;
  background: url('../images/harry-potter-skull-empty.svg');
  width:24px;
  height:24px;
  display: inline-block;
  padding: 0 0 0 0px;
  margin: 5px;
}

.ds-success-full {
  cursor:pointer;
  background: url('../images/hospital-cross.svg');
  width:24px;
  height:24px;
  display: inline-block;
  padding: 0 0 0 0px;
  margin: 5px;
}

.ds-success-empty {
  cursor:pointer;
  background: url('../images/hospital-cross-empty.svg');
  width:24px;
  height:24px;
  display: inline-block;
  padding: 0 0 0 0px;
  margin: 5px;
}

.inspiration-full {
  background: url('../images/inspiration-full.svg');
  width:24px;
  height:24px;
  display: inline-block;
  padding: 0 0 0 0px;
}

.inspiration-empty {
  background: url('../images/inspiration-empty.svg');
  width:24px;
  height:24px;
  display: inline-block;
  padding: 0 0 0 0px;
}

.circular-profile {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  overflow:hidden;
}

.no-padding {
  padding:0px;
}

.no-top-margin {
  margin-top:0px;
}

.no-border {
  border:none;
}

.dashed-border {
  border-style: dashed;
  border-color: lightgray;
}

.underline {
  text-decoration: underline;
}

.tab-icon {
  width: 28px;
}

.nav-tabs li a {
  padding: 8px 12px;
}

.tab-subtext {
  text-align: center;
  color: #2c3e50;
}

.text-lightgray {
  color: #798d8f;
}

.tab-subtext:hover {
  color: #2c3e50;
}
.tab-subtext:focus {
  color: #2c3e50;
}

.action-bar-icon {
  width: 2em;
}

textarea.dark-area {
  background-color: #ecf0f1;
}

/**
 * Alerts
 */

.alert {
  min-height: 43px;
  line-height: 16px;
  margin-bottom:10px;
}

.alert-warning {
  background-color: #fad79e;
  color: #925d07;
}

.alert-danger {
  background-color: #f7c1bb;
  color: #9f1f14;
}

.alert-info {
  background-color: #bedef4;
  color: #1b6698;
}

.alert-success {
  background-color: #d2f9f1;
  color: #128770;
}

.coin-input {
  padding-right: 10px;
}
.coin-input input {
  min-width: 75px;
}

.alert .close {
  top:-7px;
}

.inline-block {
  display: inline-block;
}

.fa-color {
  color:#2c3e50;
}

.fa-color-hover {
  color:#2c3e50;
}

.fa-color-hover:hover {
  color:#e74c3c;
}

.fa-color-hover-success:hover {
  color:#128770;
}

.fa-color-white-hover {
  color:#ffffff;
}

.fa-color-white-hover:hover {
  color:#e74c3c;
}

.fa-disabled {
  color: lightgray;
}

.fa-red {
  color:#e74c3c;
}

.fa-green {
  color:#128770;
}

.feature-row span {
  line-height: 3em;
}

.table-data-overflow {
  white-space: nowrap;
  overflow-x: hidden;
}

.color-picker-item {
  margin:10px;
  padding-right:0px;
  width:25px;
  height:25px;
  border-radius:40px;
}

.hit-dice-list {
  height:100%;
  padding:5px;
  line-height:0.7em;
}

.hit-dice-list-empty-fill {
  padding:15px;
  line-height:1.5em;
}

.input-jquery-addon {
  height:100%;
  padding:18px;
}

.chat-style {
  overflow-y:auto;
  overflow-x: hidden;
  height: 500px;
}

.chat-profile-image {
  margin-top:-5px;
  margin-bottom:-5px;
}

.img-circle.active {
  border-radius: 50%;
  border: 5px solid #18bc9c;
}

.col-content-vertical {
  vertical-align:middle !important;
}

.ac-plus-minus {
  width: 100%;
  text-align: center;
}
.ac-plus-minus div {
  display:inline-block;
  background-color:#DCE4EC;
  float: none;
  margin: 0 auto;
  border-radius: 10px;
}

.used-slot-span {
  padding:10px 12px;
  font-size:15px;
}

.clickable {
  cursor:pointer;
  height: 100%
}

.hide-block {
  display: none;
}

.player-image-style {
  margin-top:4px;
  margin-left: 6px;
  margin-right: 6px;
}

.spell-slots-level {
  border:none;
  background:none;
}

.user-notification-height {
  max-height:100px;
}

.characters-module-style {
  padding-top:10px;
  padding-bottom:10px;
}

.characters-player-name {
  margin-top:-15px;
}

.characters-player-name div.h3 {
  margin-top: 19px;
  margin-bottom: 2px
}

.stats-health-border {
  border-right:1px solid #ecf0f1;
}

.tabs .secondary-nav {
  float:right;
  margin-left:10px;
  margin-right:10px;
  line-height: 3.6em
}

table.table-no-margin {
  margin-bottom: 0px;
}

table.table-no-margin tbody td {
  padding-top:13px;
}

div.h3 small {
  color: #6f7d88;
}

.ability-score-input {
  width: 65px;
  height: 30px;
  margin: auto;
}

.modal-footer-ability-scores {
  padding: 15px;
  text-align: left;
  border-top: 1px solid #e5e5e5;
}

ul.footer-icons li {
  margin: 0px 10px;
  display:inline;
}

.social-media {
  color: #798d8f;
  font-size: 1.5em;
}

.preview-modal-overflow {
  max-height: 225px;
  overflow-y: auto;
}

.encounter-detail-place-holder {
  height: 400px;
  padding-top:175px;
}

.notes-place-holder {
  height: 548px;
  padding-top:175px;
}

.preview-modal-overflow-sm {
  max-height: 225px;
  overflow-y: auto;
}

.embedded-image {
  margin-left: 1rem;
  margin-right: auto;
  max-height: 225px;
  max-width: 100%;
  width: auto;
}

.embedded-image-right {
  margin-left: auto;
  margin-right: 0;
  max-height: 225px;
  max-width: 100%;
  width: auto;
}

.btn-group-padding {
  padding: 10px 0px;
}

.no-top-or-bottom-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.content-left {
  text-align: left !important;
}
/*
 * The following CSS is to fix the modal on tablets.
 * Modal Fix Start
 */
body {
  padding-right: 0px !important;
}

.modal-open {
  overflow-y: auto;
}

.popover {
  max-width: 100%;
}

/*
 * Modal Fix End
 */


/*
* translate3d fixes a z-index issue on safari
* this number MUST be greater than the translateZ of the flip card to work
*/
.ui-autocomplete {
  z-index: 1051;
  -webkit-transform: translate3d(0,0,60px);
  transform: translate3d(0,0,60px);
}

ul.ui-autocomplete {
  margin: 0;
  padding-left: 0;
  border-color: #aaa;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

ul.ui-autocomplete li {
  list-style: none;
  display: list-item;
  background-image: none;
  min-height: 1em;
  font-size: 15px;
}


ul.ui-autocomplete .ui-state-active {
  background: #2c3e50;
  color: #fff;
}

/*
 * Data validation CSS
 */

.errormessagetext {
  color: #ca2f2b;
  font-weight: 600;
  vertical-align: -webkit-baseline-middle;
}

/*
 * Spell School Icon CSS
 */

.abjuration {
  background-image: url('../images/spell_icons/abjuration.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.conjuration {
  background-image: url('../images/spell_icons/conjuration.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.divination {
  background-image: url('../images/spell_icons/divination.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.enchantment {
  background-image: url('../images/spell_icons/enchantment.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.evocation {
  background-image: url('../images/spell_icons/evocation.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.illusion {
  background-image: url('../images/spell_icons/illusion.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.necromancy {
  background-image: url('../images/spell_icons/necromancy.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.transmutation {
  background-image: url('../images/spell_icons/transmutation.svg');
  background-repeat: no-repeat;
  background-position: center;
}

/*
 * Magic Items Icon CSS
 */

.armor-magic-item-card {
  background-image: url('../images/magic_items_icons/armor.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.potion-magic-item-card {
  background-image: url('../images/magic_items_icons/potion.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.ring-magic-item-card {
  background-image: url('../images/magic_items_icons/ring.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.rod-magic-item-card {
  background-image: url('../images/magic_items_icons/rod.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.scroll-magic-item-card {
  background-image: url('../images/magic_items_icons/scroll.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.staff-magic-item-card {
  background-image: url('../images/magic_items_icons/staff.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.sword-magic-item-card {
  background-image: url('../images/magic_items_icons/sword.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.armor-wand-item-card {
  background-image: url('../images/magic_items_icons/armor.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.wand-magic-item-card {
  background-image: url('../images/magic_items_icons/wand.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.weapon-magic-item-card {
  background-image: url('../images/magic_items_icons/weapon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.wondrous-magic-item-card {
  background-image: url('../images/magic_items_icons/wondrous.svg');
  background-repeat: no-repeat;
  background-position: center;
}

/*
 * Encounter Section Icon CSS
 */

.encounter-section-img {
  height: 35px;
  margin-top: 3px;
  margin-left: 5px;
  margin-right: 10px;
  float: left;
}

/*
 * Skills view table ability score color
 */

.skills-ability-type {
  color: #b4bcc2;
}

/*
 * Resize logo on the navbar
 */
img.resize_logo_nav {
  width:36px;
  height:auto;
}


li.info-chat-highlight {
  border-left: 2px solid #3498db;
  padding-left: 1em;
}

.image-border-inspired {
   -webkit-box-shadow: 0px 0px 20px 0px #3498db;
   -moz-box-shadow: 0px 0px 20px 0px #3498db;
   box-shadow: 0px 0px 20px 0px #3498db;
}

li.image-chat-highlight {
  border-left: 2px solid #18bc9c;
  padding-left: 1em;
}
.exhibitActiveIcon {
  color: #0EADE1;
}

.master-list .list-group-item {
  border-radius: 0px;
  border: none;
}

.tight-right {
  padding-right:0px;
}

.tight-left {
  padding-left:0px;
}

/**
 * Tight panels remove the padding around themselves but add it back for inner
 * table cells and some inner divs. Tables in tight panels stretch across the
 * full inner width.
 */
.tight-inner {
  padding-left:0px;
  padding-right: 0px;
}

.tight-inner tr td:first-child {
  padding-left:15px;
}

.tight-inner tr td:last-child {
  padding-right:15px;
}

.tight-inner tr th:first-child {
  padding-left:15px;
}

.tight-inner tr th:last-child {
  padding-right:15px;
}

.tight-inner .progress {
  margin-left:15px;
  margin-right:15px;
}

.tight-inner .input-group {
  margin-left:15px;
  margin-right:15px;
}

.tight-inner .container-fluid {
  margin-left:15px;
  margin-right:15px;
}

.tight-inner .h3 {
  margin-left:15px;
  margin-right:15px;
}

.override-tight-inner {
  margin-left:0px !important;
  margin-right:0px !important;
}

.connection-status {
  position: relative;
  width:15px;
  margin-left:auto;
  margin-right:auto;
}

.connection-status .circle-indicator {
  position: absolute;
  width:15px;
  height:15px;
  margin-left: 30px;
  margin-top: -18px;
  z-index:1000;
  border-radius:15px;

  border: 2px solid white;
}

.circle-indicator.success {
  background: #18bc9c;
}

.circle-indicator.failure {
  background: #e74c3c;
}

div.toggle-arrow-container {
  padding-left: 5px;
  padding-right: 5px;
  display: inline;
  text-align: center;
}

.close {
  color: #2c3e50;
}

.close:hover {
  color: #1a242f;
}

/*
 * jQuery Autocomplete
 */
.input-group-addon-jquery {
  min-width: 125px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.ui-autocomplete {
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  z-index: 2147483647;
}

.progress {
  text-align:center;
}

.progress-value {
  line-height: 2.5em;
  position:absolute;
  right:0;
  left:0;
}

.hpChart {
  font-size: 1.3em;
}

.death-save-panel {
    min-height: 40px;
    padding: 15px;
}

#healthContainer {
  width: 175px;
  display: block;
  position: relative;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bio .panel-body {
  border: 0px;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}


.list-side-by-side  dt {
    float: left;
    margin-right: 10%;
    max-width: 40%;
    font-weight: bold;
  }

.list-side-by-side  dd {
    margin-left: 50%;
    margin-bottom: .5em;
  }

.list-side-by-side  dd::after {
    content: " ";
    display: block;
    clear: left;
  }

.list-side-by-side  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type='checkbox'].pseudo-checkbox + label:before,
input[type='checkbox'].pseudo-checkbox + label:after{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input[type='checkbox'].pseudo-checkbox + label:before{/*unchecked icon*/
    content: "\e157";
}

input[type='checkbox']:disabled.pseudo-checkbox + label:before{/*unchecked icon*/
  color: #999;
}

input[type='checkbox']:checked.pseudo-checkbox + label:before{/*checked icon*/
    content: "\e067";
    /* content:"\e138"; */
}



input[type='checkbox'].ac-checkbox + label:before,
input[type='checkbox'].ac-checkbox + label:after{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input[type='checkbox'].ac-checkbox + label:before{/*unchecked icon*/
    content: "\e157";
}

input[type='checkbox']:disabled.ac-checkbox + label:before{/*unchecked icon*/
  color: #999;
}

input[type='checkbox']:checked.ac-checkbox + label:before{/*checked icon*/
    content: "\e067";
}


input[type='checkbox'].filter-checkbox + label:before,
input[type='checkbox'].filter-checkbox + label:after{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input[type='checkbox'].filter-checkbox + label:before{/*unchecked icon*/
  color: #999;
  content:"\e138";
}
input[type='checkbox']:checked.filter-checkbox + label:before{/*checked icon*/
  color: #5cb85c;
  content:"\e138";
}

.error:invalid {
   border-color: rgb(169,66,34);
   background-color: rgba(169,66,34, .075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.notCastable {
  color: #999;
}
.spellRow[aria-expanded="true"],
.spellRow[aria-expanded="true"]:hover {
  background-color:  #2c3e50;
  color: #fff!important;
}

.spellRow.notCastable[aria-expanded="true"],
.spellRow.notCastable[aria-expanded="true"]:hover {
  background-color: #95a5a6;
  color: #fff!important;
}


tr.expandRow[aria-expanded="true"],
tr.expandRow[aria-expanded="true"]:hover {
  background-color:  #2c3e50;
  color: #fff!important;
}

.spellRow.notCastable[aria-expanded="true"],
.spellRow.notCastable[aria-expanded="true"]:hover {
  background-color: #95a5a6;
  color: #fff!important;
}

.collapseAddButton[aria-expanded="true"]
 {
   display: none;
}

.collapseFormButton
 {
   display: none;
}

.collapseFormButton[aria-expanded="true"]
 {
   display: inline-block;
}

.spellDetail th {
  white-space: nowrap;
}

/* Animations */

.collapsing {
position: relative;
overflow: hidden;
opacity: 0;
-webkit-transition: height .25s ease opacity 0.2s linear;
-moz-transition: height .25s ease opacity 0.2s linear;
-o-transition: height .25s ease opacity 0.2s linear;
transition : height 0.25s ease opacity 0.2s linear;
}

.rotate {
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.rotate[aria-expanded="true"]{
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/* end Animations */

/* Flip Card */

/* entire container, keeps perspective */
.card-flip-container {
  position: relative;
  -webkit-perspective-origin: 0;
  padding-top: 0px;
  -webkit-transition: all 0.4s ease height 0.35s ease;
  -moz-transition: all 0.4s ease height 0.35s ease;
  -o-transition: all 0.4s ease height 0.35s ease;
  transition: all 0.4s ease height 0.35s ease;
  width: 100%;
}

.card-flip-container.flipped > .card-flipper {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0,0,1px);
  transform: rotate3d(0, 1, 0, 180deg) translate3d(0,0,1px);
  -webkit-transition-property: -webkit-transform;

}

.card-flip-container > .card-flipper {
  transition: 0.2s;
  transform-style: preserve-3d;
  -webkit-transition: 0.2s;
  -webkit-transform-style: preserve-3d;
  position: relative;
}

 .front,
 .back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.front{
  overflow: hidden;
}

#toast-container {
  /* Position the toaster above the cards, or anything really */
  transform: translateZ(999px);
}

.card-flip-container,
 .front, .back,
.inner-flip-container, .inner-front, .inner-back,
.flip-container {
  width: 100%;
}

.inner-back,
.back {
  -webkit-transform:  rotate3d(0, 1, 0, -180deg) translate3d(0,0,-50px);
  transform:  rotate3d(0, 1, 0, -180deg) translate3d(0,0,-50px);
  -webkit-transition-property: -webkit-transform;

}


/* front pane, placed above back */
.card-flip-container > .card-flipper > .front {
  z-index: 2;
  -webkit-transform:  rotate3d(0, 1, 0, 0deg) translate3d(0,0,50px);
  transform:  rotate3d(0, 1, 0, 0deg) translate3d(0,0,50px);
  -webkit-transition-property: -webkit-transform;

}

.card-flip-container.flipped > .card-flipper > .front {
  z-index: 1;
  -webkit-transform:  rotate3d(0, 1, 0, 0deg) translate3d(0,0,-50px);
  transform:  rotate3d(0, 1, 0, 0deg) translate3d(0,0,-50px);
  -webkit-transition-property: -webkit-transform;

}

/* front pane, placed above back */
.card-flip-container > .card-flipper > .back {
  -webkit-transform:  rotate3d(0, 1, 0, -180deg) translate3d(0,0,-50px);
  transform:  rotate3d(0, 1, 0, -180deg) translate3d(0,0,-50px);
  -webkit-transition-property: -webkit-transform;

}

.card-flip-container.flipped > .card-flipper > .back {
  -webkit-transform:  rotate3d(0, 1, 0, -180deg) translate3d(0,0,50px);
  transform:  rotate3d(0, 1, 0, -180deg) translate3d(0,0,50px);
  -webkit-transition-property: -webkit-transform;

  z-index: 2;
}

.card-flip-container.flipped > .card-flipper > .back .card-flip-container.flipped > .card-flipper > .back {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translateZ(1px);
  transform: rotate3d(0, 1, 0, 180deg) translateZ(1px);
  -webkit-transition-property: -webkit-transform;

}

.inner-back {
  transform:  rotate3d(0, 1, 0, -180deg) translate3d(0,0, 1px);
}

.edit-btn {
  position: absolute;
  top: 5px;
  right: -5px;
  z-index: 6;
}

.panel-body .edit-btn {
  position: absolute;
  top: -10px;
  right: -15px;
  z-index: 6;
}

.add-card .edit-btn {
  position: relative;
  top: 30px; /* matches the -15px top of a panel-body edit button */
  right: -10px;
  z-index: 6;
  float: right;
  margin-top: -45px;
  /* 45px is the height of the button, so cancel having it be in-flow */
}

.edit-btn.btn-group .btn+.btn {
  margin-left: -10px;
}
/* end Flip Card */

.table .table.spellDetail {
  background-color: transparent;
}

.table-hover>tbody>tr.collapse:hover {
  background-color: inherit;
}
.table-hover>tbody>tr .well {
  margin-bottom: 0px;
}

.table-ac-bordered {
  vertical-align: middle;
  border-style: none;
}
.table.table-ac-bordered>thead>tr>th,
.table.table-ac-bordered>tbody>tr>th,
.table.table-ac-bordered>tfoot>tr>th,
.table.table-ac-bordered>thead>tr>td,
.table.table-ac-bordered>tbody>tr>td,
.table,table-ac-bordered>tfoot>tr>td {
  vertical-align: middle;
}

.table-ac-bordered > tbody > tr:last-of-type {
  border-bottom: none;
}

.table-ac-bordered > tfoot > tr:last-of-type {
  border-bottom: none;
}


@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

  .defenseShield {
    background:url('../images/shield.svg') no-repeat;
     background-size: 100% 100%;
     text-align: center;
     vertical-align: middle;
     height: 6ex;
     color: white;
     padding: 10px;
     white-space: nowrap;
     padding-top: 3px;
     text-shadow: 1px  1px 1px #2c3e50,
                 -1px  1px 1px #2c3e50,
                  1px -1px 1px #2c3e50,
                 -1px -1px 1px #2c3e50;
    }

  #ArmorClassShield > * {
    font-size: 1.4em;
  }

.form-control {
  height: 35px;
}

.form-control.hit-dice-list {
  height: 100%;
  text-align: center;
}

fieldset.fieldset-bordered {
      border: 1px solid #ddd;
      padding: 0 1.4em 1.4em 1.4em;
      margin: 0 0 1.5em 0;
  }


.fieldset-bordered>legend {
    font-size: 1.1em;
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

.collapsing .back {
  display: none;
}

.front .collapsing, .back .collapsing  {
  visibility: hidden;
}

.health-buttons {
  text-align: center;
}

.health-buttons .glyphicon-menu-down:before {
  font-size: 2em;
  content: "\e143";
  color: #e74c3c;
  margin: 5%;
}

.health-buttons .glyphicon-menu-up:before {
  font-size: 2em;
  content: "\e005";
  margin: 5%;
}

.health-buttons .input-group-addon {
  height: 30px;
  padding: 0px;
}

.health-btn.btn-info {
  background-color: rgb(113, 212, 232);
  border-color: rgb(113, 212, 232);
}

.card-title {
  background: linear-gradient(to bottom, rgba(200, 200, 200, 0.25), rgba(255, 255, 255, 0.0));
  border-radius: 4px;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 767px){
    .nav-tabs > li{
    display:block;
    width:100%;
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #2c3e50;
    background-color: #ecf0f1;
    border: 0px;
  }
}

#health-pane {
    text-align: center;
}

#health-chart {
  width: 200px;
  height: 200px;
  position:
  relative;
  margin: auto;
}

#health-chart .hp-circle.tempHp {
  padding: 0px;
}
#health-chart .hp-circle {
   padding: 10px;
   position: absolute;
   top:0px;
}

#stabilize {
  margin-top: 20px;
}

.statsPopover,
.statsPopover:hover,
.statsPopover:focus,
.statsPopover:active,
.statsPopover:visited {
  cursor:pointer;
  display: inline;
  color: black;
  text-decoration: none !important;
  outline: none;
}

.ac-table-data-cell {
  text-align: center;
}
.ac-table-data-cell input {
  text-align: center;
}
.ac-number-input {
  height: 30px;
}

.score-save-table .ac-number-input {
  width: 65px;
  margin: auto;
}

.table-ac-bordered tr.ac-table-header,
tr.ac-table-header,
thead.ac-table-header tr  {
  border-bottom: 1px solid #2c3e50;
}

hr.ac-table-header {
   margin-top: 5px;
   margin-bottom: 5px;
   border-bottom: 1px solid #2c3e50;
}

.score-save-table > thead > tr > th,
.score-save-table > tbody > tr > td,
.score-save-table > tbody > tr > td input
 {
  text-align: center;
}

.table-hover>tbody>tr.collapseRow:hover,
.table-hover>thead>tr.collapseRow:hover {
  background-color: transparent;
}

.table>thead>tr.collapseRow>th,
.table>tbody>tr.collapseRow>th,
.table>tfoot>tr.collapseRow>th,
.table>thead>tr.collapseRow>td,
.table>tbody>tr.collapseRow>td,
.table>tfoot>tr.collapseRow>td {
  padding: 0px;
  height: 100%;
  background-color: transparent;
}

.card-description {
  text-align: justify;
}

.card-description .table {
  background-color: transparent;
}

.safari-card-fix {
   opacity: 0.99;
  /* This used to fix an animation issue in safari.
  Seems like this is now hurting things, instead of helping things.
  Thanks, apple
  */
}

.add-card {
  padding: 15px;
      border-color: #ecf0f1;
      border-width: 1px;
      border-style: solid;
      box-shadow: 1px 2px 0px 0px #ecf0f1;
}

.skill-modifier-input input {
  font-size: 15px;
  padding: 10px 0 10px 10px;
  width:45px;
}

.skill-modifier-input .input-group-addon {
  padding: 0px 10px;
  width: auto;
}

.ac-pane {
  background-color: white;
  margin-bottom: 10px;
}
.ac-pane.panel-body {
   padding: 0px;
}

.ogl-disclaimer {
  display: block;
  clear: both
}

.toggle-collapse-col {
  width: 40px
}

.table-foot-content {
  display:block;
  line-height: 1.5;
  padding: 6px 9px;
}

.front>.row,
.back>.row  {
  margin-left: 0px;
  margin-right: 0px;
}

.add-form {
  padding: 10px;
}


#coins-pane .input-group {
  padding-top:5px;
   padding-bottom:5px
}


.select-proficiency .select2-dropdown {
  width: 150px !important;
}


.health-btn {
  width: 35px;
  height: 28px;
  padding: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.damage-icon {
  width: 1.25em;
  height: 2.5ex;
  display: inline-block;
  padding: 0px 0 0 0px;
  margin: 0px 2px 0px 2px;
  opacity: 0.6;
  background-repeat: no-repeat;
  background-position: bottom;
  vertical-align: text-bottom;
}


.rest-icon {
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  display: inline-block;
  padding: 0px 0 0 0px;
  margin: 0px 2px 0px 2px;
  background-repeat: no-repeat;
  background-position: bottom;
  vertical-align: text-bottom;
}

.rest-description {
  text-align: left;
}
.rest-description .rest-icon {
  vertical-align: bottom;
}

.trackedRow .short-rest-icon,
.rest-description .short-rest-icon {
  background: url('../images/meditation-blue.svg');
}

.trackedRow[aria-expanded="true"] .short-rest-icon {
  background: url('../images/meditation.svg');
}


.trackedRow .long-rest-icon,
.rest-description .long-rest-icon {
  background: url('../images/camping-tent-blue.svg');
}

.trackedRow[aria-expanded="true"] .long-rest-icon {
  background: url('../images/camping-tent.svg');
}

.trackedRow .dawn-icon,
.rest-description .dawn-icon {
  background: url('../images/sunrise-blue.svg');
}

.trackedRow[aria-expanded="true"] .dawn {
  background: url('../images/sunrise.svg');
}

.trackedRow .manually-icon,
.rest-description .manually-icon {
  background: url('../images/quill-blue.svg');
}

.trackedRow[aria-expanded="true"] .manually {
  background: url('../images/quill.svg');
}

.weaponRow[aria-expanded="true"] .damage-icon,
.spellRow[aria-expanded="true"] .damage-icon {
  opacity: 0.8;
}

.damage-fire {
  background: url('../images/damage_types/flame.svg');
}

.weaponRow[aria-expanded="true"] .damage-fire,
.spellRow[aria-expanded="true"] .damage-fire {
  background: url('../images/damage_types/flame-white.svg');
}

.damage-poison {
  background: url('../images/damage_types/biohazard.svg');
}

.weaponRow[aria-expanded="true"] .damage-poison,
.spellRow[aria-expanded="true"] .damage-poison {
  background: url('../images/damage_types/biohazard-white.svg');
}

.damage-slashing {
  background: url('../images/damage_types/blade-drag.svg');
}

.weaponRow[aria-expanded="true"] .damage-slashing,
.spellRow[aria-expanded="true"] .damage-slashing {
  background: url('../images/damage_types/blade-drag-white.svg');
}

.damage-force {
    background: url('../images/damage_types/force.svg');
}

.weaponRow[aria-expanded="true"] .damage-force,
.spellRow[aria-expanded="true"] .damage-force {
    background: url('../images/damage_types/force-white.svg');
}

.damage-necrotic {
  background: url('../images/damage_types/daemon-skull.svg');
}

.weaponRow[aria-expanded="true"] .damage-necrotic,
.spellRow[aria-expanded="true"] .damage-necrotic {
  background: url('../images/damage_types/daemon-skull-white.svg');
}

.damage-bludgeoning {
  background: url('../images/damage_types/hammer-drop.svg');
}

.weaponRow[aria-expanded="true"] .damage-bludgeoning,
.spellRow[aria-expanded="true"] .damage-bludgeoning {
  background: url('../images/damage_types/hammer-drop-white.svg');
}

.damage-acid {
  background: url('../images/damage_types/dripping-tube.svg');
}

.weaponRow[aria-expanded="true"] .damage-acid,
.spellRow[aria-expanded="true"] .damage-acid {
  background: url('../images/damage_types/dripping-tube-white.svg');
}

.damage-cold {
  background: url('../images/damage_types/snowflake.svg');
}

.weaponRow[aria-expanded="true"] .damage-cold ,
.spellRow[aria-expanded="true"] .damage-cold {
  background: url('../images/damage_types/snowflake-white.svg');
}

.damage-lightning {
  background: url('../images/damage_types/lightning.svg');
}

.weaponRow[aria-expanded="true"] .damage-lightning,
.spellRow[aria-expanded="true"] .damage-lightning {
  background: url('../images/damage_types/lightning-white.svg');
}

.damage-piercing {
  background: url('../images/damage_types/pierced-body.svg');
}

.weaponRow[aria-expanded="true"] .damage-piercing,
.spellRow[aria-expanded="true"] .damage-piercing {
  background: url('../images/damage_types/pierced-body-white.svg');
}

.damage-psychic {
  background: url('../images/damage_types/psychic-waves.svg');
}

.weaponRow[aria-expanded="true"] .damage-psychic,
.spellRow[aria-expanded="true"] .damage-psychic {
  background: url('../images/damage_types/psychic-waves-white.svg');
}

.damage-radiant {
  background: url('../images/damage_types/sunbeams.svg');
}

.weaponRow[aria-expanded="true"] .damage-radiant,
.spellRow[aria-expanded="true"] .damage-radiant {
  background: url('../images/damage_types/sunbeams-white.svg');
}

.damage-thunder {
  background: url('../images/damage_types/echo-ripples.svg');
}

.weaponRow[aria-expanded="true"] .damage-thunder,
.spellRow[aria-expanded="true"] .damage-thunder {
  background: url('../images/damage_types/echo-ripples-white.svg');
}

.profile-view h4 {
  font-size: 17px;
  padding-left: 5px;
  margin-top: 0px;
  margin-bottom: 5px
}

.profile-view .row-title {
  width: 90px;
  display: inline-block;
}

.profile-view .row-data {
  display: inline-block;
}

.profile-view .profile-data-row {
  padding-left: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.background-card label {
  display: block;
  width: 100%;
  border-bottom: thin solid #ecf0f1;
}

.profile-view hr {
  clear: both;
  border: thin solid #ecf0f1;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px
}

.spell-stat-table h4 {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.tab-actions.navbar-header .icon-bar {
  background-color: white;
  margin: 5px;
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
}

.icon-bar.top-bar {
  margin-top: 0px;
}
.icon-bar.bottom-bar {
   margin-bottom: 0px;
}

.navbar-header .btn {
  background-color: #2c3e50;
  float: initial;
}

.navbar ul.dropdown-menu {
  transform: translateZ(801px);
}

.tab-pane>.row>.col {
  padding-left: 10px;
  padding-right: 10px;
}

form .row {
  margin-left: 0px;
  margin-right: 0px;
}

tr .panel {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 3px 0px 0px #ecf0f1;
}

.collapsable-card-title {
   padding-left: 15px;
}

.coin-display {
  display:block;
  line-height: 14px;
  text-align: right;
}

.coins div.form-control {
  display: table-cell;
  line-height: 14px;
  text-align: right;
  padding-right: 10px;
  background-color: rgb(0,0,0, 0.02);
}

.coins input.form-control {
  padding-right: 10px;
}

.coins .input-group-addon {
  min-width: 2.25em;
}

.checkbox-data-cell {
  text-align: center
}


.rotate.fa.fa-chevron-left {
    padding-right: 4px;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #2c3e50;
  opacity: 0.85;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.modal-backdrop.in {
  transform: translateZ(800px);
}

.modal {
  transform: translateZ(801px);
}

.modal-dialog {
  transform: translateZ(802px);
}

.select2-container--open .select2-dropdown--above {
  transform: translateZ(800px);
}

.modal .preview-modal-image {
  width: 100%;
}

.d-block {
  display: block;
}

.overlay {
  transform: translateZ(900px);
}

.navbar li>a.btn-support-us {
  border: 1px solid #fff;
  border-radius: 4px;
  margin: 12px;
  padding-top: 8.5px;
  padding-bottom: 8.5px;
}

.navbar li>a.btn-support-us:hover {
  border: 1px solid #18bc9c;
  background-color: #fff;
}

/* Fix for BS 3 selects as input-group-btn */
.input-group-btn>select.form-control {
  padding: 2px;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

/* Bootstrap Flex Addons */

.d-flex {
  display: flex;
}

.d-flex-1 {
  flex: 1;
}

.d-flex-2 {
  flex: 2;
}

.d-flex-3 {
  flex: 3;
}

.d-flex-4 {
  flex: 4;
}

.d-flex-5 {
  flex: 5;
}

.d-flex-6 {
  flex: 6;
}

.justify-content-between {
  justify-content: between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.pl-1 {
  padding-left: 0.5rem;
}

.pl-2 {
  padding-left: 1rem;
}

.pl-3 {
  padding-left: 1.5rem;
}

.pr-1 {
  padding-right: 0.5rem;
}

.pr-2 {
  padding-right: 1rem;
}

.pr-3 {
  padding-right: 1.5rem;
}

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.mr-auto {
  margin-right: auto;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.mt-auto {
  margin-top: auto;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mb-auto {
  margin-bottom: auto;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.image-container img {
  max-width: 100%;
}
