#content {
  max-width: 1800px;
}


.progress {
  height:34px;
}

.row-padded {
  padding-top: 5px;
  padding-bottom: 5px;
}

.well-no-padding {
  margin-bottom:0px;
}

.well-top-shadow {
  box-shadow: 0px 2px 2px -2px #888888 inset;
}

.col-padded {
  padding-top: 5px;
  padding-bottom: 5px;
}

.table-ac-bordered tr {
  border-bottom: thin solid #ecf0f1;
}

.beta {
  color:orange;
}

.spacer {
	width:10px;
	height:10px;
}

.spacer-lg {
  height:23px;
  width:23px;
}

.inline-left {
	float:left;
	display:inline;
	width: 49%;
}

.inline-right {
	float:right;
	display:inline;
	width: 49%
}

.tri {
	margin-left:2%;
	margin-right:2%;
	width:30%;
}

.quad {
	margin-left:2%;
	margin-right:2%;
	width:22%;
}

/**
 * Additional Progress Bar Colors
 */
div.progress-text {
  line-height: 2.5em;
  position: absolute;
}

.progress-bar-blue {
  background-color: #337ab7 !important;
}
.progress-bar-orange {
  background-color: #f0ad4e !important;
}
.progress-bar-red {
  background-color: #d9534f !important;
}
.progress-bar-green {
  background-color: #5cb85c !important;
}
.progress-bar-purple {
  background-color: purple !important;
}
.progress-bar-purple {
  background-color: purple !important;
}
.progress-bar-teal {
  background-color: #01DFD7 !important;
}
.progress-bar-yellow {
  background-color: #D7DF01 !important;
}
.progress-bar-indigo {
  background-color: #8000FF !important;
}
.progress-bar-brown {
  background-color: #906713 !important;
}
.progress-bar-magenta {
  background-color: #C82D78 !important;
}
.progress-bar-sky {
  background-color: #71D4E8 !important;
}
.progress-bar-forest {
  background-color: #2F972F !important;
}


/*******
 * Experimental stuff
 *******/

.panel-heading {
}
.panel {
  box-shadow: 2px 3px 0px 0px #ecf0f1;
}

div.hr {
  height:80px;
  background:url('/images/page-divider.png') no-repeat;

}

.tab-pane {
  padding-top:10px;
}

.dice-full {
  cursor:pointer;
  background: url('/images/dice-twenty-faces-twenty.svg');
  width:24px;
  height:24px;
  display: inline-block;
  padding: 0 0 0 0px;
}

.dice-empty {
  cursor:pointer;
  background: url('/images/dice-twenty-faces-twenty-clear.svg');
  width:24px;
  height:24px;
  display: inline-block;
  padding: 0 0 0 0px;
}

.circular-profile {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	overflow:hidden;
}

.no-padding {
  padding:0px;
}

.no-border {
  border:none;
}

.underline {
  text-decoration: underline;
}

.tab-icon {
  width: 35px;
}

textarea.dark-area {
  background-color: #ecf0f1;
}

/**
 * Alerts
 */

.alert {
  min-height: 43px;
  line-height: 16px;
  margin-bottom:10px;
}

.alert-warning {
  background-color: #fad79e;
  color: #925d07;
}

.alert-danger {
  background-color: #f7c1bb;
  color: #9f1f14;
}

.alert-info {
  background-color: #bedef4;
  color: #1b6698;
}

.alert-success {
  background-color: #d2f9f1;
  color: #128770;
}

.alert .close {
  top:-7px;
}

.inline-block {
  display: inline-block;
}

.fa-color {
  color:#2c3e50;
}

.fa-color-hover {
  color:#2c3e50;
}

.fa-color-hover:hover {
  color:#e74c3c;
}

.feature-row span {
  line-height: 3em;
}

.color-picker-item {
  margin:10px;
  padding-right:0px;
  width:25px;
  height:25px;
  border-radius:40px;
}

.hit-dice-list {
  height:100%;
  padding:15px;
  line-height:0.7em;
}

.hit-dice-list-empty-fill {
  padding:15px;
  line-height:1.5em;
}

.input-select2-addon {
  height:100%;
  padding:18px;
}

.chat-style {
  overflow:auto;
  height: 300px;
}

.chat-profile-image {
  margin-top:-5px;
  margin-bottom:-5px;
}

.col-content-vertical {
  vertical-align:middle !important;
}

.ac-plus-minus {
  width: 100%;
  text-align: center;
}
.ac-plus-minus div {
  display:inline-block;
  background-color:#DCE4EC;
  float: none;
  margin: 0 auto;
  border-radius: 10px;
}

.used-slot-span {
  padding:10px 12px;
  font-size:15px;
}

.clickable {
  cursor:pointer;
}

.hide-block {
  display: none;
}

.player-image-style {
  margin-top:7px;
}

.spell-slots-level {
  border:none;
  background:none;
}

.user-notification-height {
  max-height:100px;
}

.characters-module-style {
  padding-top:10px;
  padding-bottom:10px;
}

.characters-player-name {
  margin-top:-20px;
}

.stats-health-border {
  border-right:1px solid #ecf0f1;
}

.tabs .secondary-nav {
	float:right;
	margin-left:10px;
	margin-right:10px;
	line-height: 3.6em
}

table.table-no-margin {
  margin-bottom: 0px;
}

table.table-no-margin tbody td {
  padding-top:13px;
}
/*
 * The following CSS is to fix the modal on tablets.
 * Modal Fix Start
 */
body {
  padding-right: 0px !important
}

.modal-open {
  overflow-y: auto;
}

/*
 * Modal Fix End
 */
