<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <table class="table table-responsive table-ac-bordered">
    <h3>Conditions<br />
      <small>Conditions alter a creature’s capabilities in a variety
             of ways and can arise as a result of a spell, a class
             feature, a monsterʼs attack, or other effect.</small>
    </h3>
      <thead>
        <tr>
          <th>Condition</th>
          <th>Affects</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Blinded</td>
          <td>
            <ul>
              <li>A blinded creature can’t see and automatically fails any ability check that requires sight.</li>
              <li>Attack rolls against the creature have advantage, and the creature’s attack rolls have  disadvantage.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Charmed</td>
          <td>
            <ul>
              <li>A charmed creature can’t attack the charmer or target the charmer with harmful abilities or magical effects.</li>
              <li>The charmer has advantage on any ability check to interact socially with the creature.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Deafened</td>
          <td>
            <ul>
              <li>A deafened creature can’t hear and automatically fails any ability check that requires  hearing.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Frightened</td>
          <td>
            <ul>
              <li>A frightened creature has disadvantage on ability checks and attack rolls while the source of its fear is  within line of sight.</li>
              <li>The creature can’t willingly move closer to the source of its fear.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Grappled</td>
          <td>
            <ul>
              <li>A grappled creature’s speed becomes 0, and it can’t benefit from any bonus to its speed.</li>
              <li>The condition ends if the grappler is incapacitated (see the condition).</li>
              <li>The condition also ends if an effect removes the grappled creature from the reach of the grappler or grappling effect, such as when a creature is hurled away by the thunder-wave spell.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Incapacitated</td>
          <td>
            <ul>
              <li>An incapacitated creature can’t take actions or reactions.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Invisible</td>
          <td>
            <ul>
              <li>An invisible creature is impossible to see without the aid of magic or a special sense.  For the purpose of hiding, the creature is heavily obscured. The creature’s location can be  detected by any noise it makes or any tracks it leaves.</li>
              <li>Attack rolls against the creature have disadvantage, and the creature’s attack rolls have
                  advantage.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Paralyzed</td>
          <td>
            <ul>
              <li>A paralyzed creature is incapacitated (see the condition) and can’t move or speak.</li>
              <li>The creature automatically fails Strength and Dexterity saving throws.</li>
              <li>Attack rolls against the creature have advantage.</li>
              <li>Any attack that hits the creature is a critical hit if the attacker is within 5 feet of  the creature.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Petrified</td>
          <td>
            <ul>
              <li>A petrified creature is transformed, along with any non-magical object it is wearing or  carrying, into a solid inanimate substance (usually  stone). Its weight increases by a actor  of ten, and it ceases aging.</li>
              <li>The creature is incapacitated (see the condition), can’t move or speak, and is unaware of its surroundings.</li>
              <li>Attack rolls against the creature have advantage.</li>
              <li>The creature automatically fails Strength and Dexterity saving throws.</li>
              <li>The creature has resistance to all damage.</li>
              <li>The creature is immune to poison and disease, although a poison or disease already in  its system is suspended, not neutralized.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Poisoned</td>
          <td>
            <ul>
              <li>A poisoned creature has disadvantage on attack rolls and ability checks.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Prone</td>
          <td>
            <ul>
              <li>A prone creature’s only movement option is to crawl, unless it stands up and thereby ends the condition.</li>
              <li>The creature has disadvantage on attack rolls.</li>
              <li>An attack roll against the creature has advantage if the attacker is within 5 feet of  the creature. Otherwise, the attack roll has disadvantage.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Restrained</td>
          <td>
            <ul>
              <li>A restrained creature’s speed becomes 0, and it can’t benefit from any bonus to its speed.</li>
              <li>Attack rolls against the creature have advantage, and the creature’s attack rolls have  disadvantage.</li>
              <li>The creature has disadvantage on Dexterity saving throws.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Stunned</td>
          <td>
            <ul>
              <li>A stunned creature is incapacitated (see the condition), can’t move, and can speak only falteringly.</li>
              <li>The creature automatically fails Strength and Dexterity saving throws.</li>
              <li>Attack rolls against the creature have advantage.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Unconscious</td>
          <td>
            <ul>
              <li>An unconscious creature is incapacitated (see the condition), can’t move or speak, and is unaware of its surroundings</li>
              <li>The creature drops whatever it’s holding and falls prone.</li>
              <li>The creature automatically fails Strength and Dexterity saving throws.</li>
              <li>Attack rolls against the creature have advantage.</li>
              <li>Any attack that hits the creature is a critical hit if the attacker is within 5 feet of  the creature.</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <table class="table table-responsive table-ac-bordered">
    <h3>Travel Pace<br />
      <small>While traveling, a group of adventurers can move at a normal, fast, or  slow  pace, as  shown on the Travel Pace table.</small>
    </h3>
      <thead>
        <tr>
          <th>Pace</th>
          <th>Minute</th>
          <th>Hour</th>
          <th>Day</th>
          <th>Effect</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Fast</td>
          <td>400 feet</td>
          <td>4 miles</td>
          <td>30 miles</td>
          <td>-5 penalty to passive Wisdom (Perception) scores</td>
        </tr>
        <tr>
          <td>Normal</td>
          <td>300 feet</td>
          <td>3 miles</td>
          <td>24 miles</td>
          <td>--</td>
        </tr>
        <tr>
          <td>Slow</td>
          <td>200 feet</td>
          <td>2 miles</td>
          <td>18 miles</td>
          <td>Able to use stealth</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <table class="table table-responsive table-ac-bordered">
    <h3>Cover<br />
      <small>Walls, trees, creatures, and other obstacles can provide cover
             during combat, making a target more difficult to  harm.</small>
    </h3>
      <thead>
        <tr>
          <th>Cover</th>
          <th>Effect</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Half cover</td>
          <td>+2 bonus to AC and Dexterity saving throws</td>
        </tr>
        <tr>
          <td>Three-quarters cover</td>
          <td>+5 bonus to AC and Dexterity saving throws</td>
        </tr>
        <tr>
          <td>Total cover</td>
          <td>can’t be targeted directly by an attack or a spell</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <table class="table table-responsive table-ac-bordered">
    <h3>Light<br />
      <small>A given area might be lightly or heavily obscured.</small>
    </h3>
      <thead>
        <tr>
          <th>Source</th>
          <th>Bright Light</th>
          <th>Dim Light</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Candle</td>
          <td>5 ft.</td>
          <td>+ 5 ft.</td>
          <td>1 hour</td>
        </tr>
        <tr>
          <td>Lamp</td>
          <td>15 ft.</td>
          <td>+ 30 ft.</td>
          <td>6 hours</td>
        </tr>
        <tr>
          <td>Lantern, bullseye</td>
          <td>60 ft. cone</td>
          <td>+ 60 ft.</td>
          <td>6 hours</td>
        </tr>
        <tr>
          <td>Lantern, hooded</td>
          <td>30 ft.</td>
          <td>+ 30 ft.</td>
          <td>6 hours</td>
        </tr>
        <tr>
          <td>Torch</td>
          <td>20 ft.</td>
          <td>+ 20 ft.</td>
          <td>1 hour</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
    <table class="table table-responsive table-ac-bordered">
    <h3>Typical Difficulty Classes<br />
      <small>Typical Difficulty Classes table shows the most common DCs.</small>
    </h3>
      <thead>
        <tr>
          <th>Task Difficulty</th>
          <th>DC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Very easy</td>
          <td>5</td>
        </tr>
        <tr>
          <td>Easy</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Medium</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Hard</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Very hard</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Nearly impossible</td>
          <td>30</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
    <table class="table table-responsive table-ac-bordered">
    <h3>Exhaustion<br />
      <small>An effect can give a creature one or more levels of exhaustion, as
             specified in the effect’s description.
      </small>
    </h3>
      <thead>
        <tr>
          <th>Level</th>
          <th>Effect</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Disadvantage on ability checks</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Speed halved</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Disadvantage on attack rolls and saving throws</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Hit point maximum halved</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Speed reduced to 0</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Death</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> <!-- End row -->
