<div class="panel panel-default">
  <div class="panel-body">
    <div class="panel-heading">
      <div class="h3">
        <span data-bind="text: name"></span>&nbsp;
        <small data-bind="text: encounterLocation"></small>
        <div class="pull-right">
          <button class="btn btn-sm btn-default" data-bind="click: toggleModal">
            Edit
          </button>
        </div>
      </div>
    </div>
    <!-- Encounter Sections -->
    <!-- ko foreach: { data: sections, as: 'section' } -->
    <!-- ko if: $parent[section.property]() -->
    <div data-bind="visible: $parent[section.property]().visible,
      template: {
        name: 'combat_section.tmpl',
        templateUrl: 'templates/dm/encounter_sections',
        data: $parent[section.property]()
      }"></div>
    <!-- /ko -->
    <!-- /ko -->
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" tabindex="-1" role="dialog"
   data-bind="modal: {
      open: openModal,
      onopen: modalFinishedOpening,
      onclose: modalFinishedClosing
    }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"> <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          Edit this Encounter's Details
        </h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" onsubmit="return false">
          <div class="form-group">
            <div class="row row-padded">
              <label for="encounter.name" class="col-sm-3 control-label">
                Encounter Name
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id=""
                       data-bind="value: name,
                        hasFocus: nameHasFocus" />
              </div>
            </div>
            <div class="row row-padded">
              <label for="encounter.location" class="col-sm-3 control-label">
                Location
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control"
                       data-bind="value: encounterLocation" />
              </div>
            </div>
          </div>
          <!-- Encounter Section Show/Hide -->
          <!-- ko foreach: { data: sections, as: 'section' } -->
          <!-- ko if: $parent[section.property]() -->
          <hr />
          <div class="h4">
            Which sections would you like to include?<br />
            <small>You can always change these later</small>
          </div>
          <div class="row row-padded">
            <label for="encounter.locale" class="col-sm-3 control-label"
              data-bind="text: $parent[section.property]().name">
            </label>
            <div class="col-sm-8">
              <input type="checkbox" class="form-control" id=""
                     data-bind="checked: $parent[section.property]().visible" />
            </div>
          </div>
          <!-- /ko -->
          <!-- /ko -->
          <div class="modal-footer">
            <div class="form-group">
              <div class="col-xs-offset-7 col-xs-5">
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal">Done</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
