<div class="row">
  <div class="col-xs-12">
    <div class="h2">
      Encounters<br/>
      <small>Create and manage events and sections of your campaign. Group encounters under a common topic, or...</small>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-heading">
              <div class="h4">
                Encounters
                <div class="pull-right">
                  <span class="glyphicon glyphicon-plus" style="cursor:pointer;"
                    data-bind="click: openAddModal"></span>
                </div>
              </div>
            </div>
            <nested-list params="cells: encounterCells,
              selectedCell: selectedCell, ondelete: deleteEncounter,
              onadd: openAddModalWithParent">
            </nested-list>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <!-- ko if: encounterDetailViewModel -->
        <div data-bind="template: {
          name: 'encounter_detail.tmpl',
          templateUrl: 'templates/dm',
          data: encounterDetailViewModel
        }"></div>
        <!-- /ko -->
        <!-- ko ifnot: encounterDetailViewModel -->
        <div class="encounter-detail-place-holder well text-center"
          style="cursor:pointer;" data-bind="click: openAddModal">
          <p class="lead text-muted heading">Add a new encounter to get started.</p>
        </div>
        <!-- /ko -->
      </div>
    </div>
  </div>
</div>

<!-- Add Modal -->
<div class="modal fade" tabindex="-1" role="dialog"
   data-bind="modal: {
      open: modalEncounter,
      onopen: modalFinishedOpening,
      onclose: modalFinishedClosing
    }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"> <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          Add a new Encounter
        </h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" onsubmit="return false">
          <div class="form-group" data-bind="with: modalEncounter">
            <div class="row row-padded">
              <label for="encounter.name" class="col-sm-3 control-label">
                Encounter Name
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id=""
                       data-bind="value: name,
                        hasFocus: $parent.nameHasFocus" />
              </div>
            </div>
            <div class="row row-padded">
              <label for="encounter.location" class="col-sm-3 control-label">
                Location
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control"
                       data-bind="value: encounterLocation" />
              </div>
            </div>
          </div>
          <!-- Encounter Section Show/Hide -->
          <hr />
          <div class="h4">
            Which sections would you like to include?<br />
            <small>You can always change these later</small>
          </div>
          <!-- ko foreach: { data: visibilityViewModels } -->
          <hr class="no-top-or-bottom-margin">
          <div class="row text-left">
            <div class="col-sm-8 col-sm-offset-1 h5"
              data-bind="text: name">
            </div>
            <div class="col-sm-3">
              <input type="checkbox" class="form-control" id=""
                     data-bind="checked: visible" />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-1">
              <i class="text-muted" data-bind="text: tagline"></i>
            </div>
          </div>
          <!-- /ko -->
          <div class="spacer"></div>
          <div class="modal-footer">
            <div class="form-group">
              <div class="col-xs-offset-7 col-xs-5">
                <button type="button"
                        class="btn btn-primary"
                        data-bind="click: addEncounter"
                        data-dismiss="modal">Add</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
