<ul class="nav nav-tabs tabs">
  <li role="presentation" data-bind="click: activateOverviewTab, css: overviewTabStatus">
    <a href="#campaign-header" aria-controls="overview-tab" role="tab" data-toggle="tab" class="tab-subtext">
      <img class="tab-icon" src="/images/tab_icons/bookmarklet.svg"></img></br>
      <span class="text-center"><small>Overview</small></span>
    </a>
  </li>
  <li role="presentation" data-bind="click: activateEncounterTab, css: encounterTabStatus">
    <a href="#encounter-header" aria-controls="encounter-tab" role="tab" data-toggle="tab" class="tab-subtext">
      <img class="tab-icon" src="/images/tab_icons/treasure-map.svg"></img></br>
      <span class="text-center"><small>Encounters</small></span>
    </a>
  </li>
  <li role="presentation" data-bind="click: activateDmScreenTab, css: dmscreenTabStatus">
    <a href="#dmscreen-header" aria-controls="dmscreen-tab" role="tab" data-toggle="tab" class="tab-subtext">
      <img class="tab-icon" src="/images/tab_icons/gift-of-knowledge.svg"></img></br>
      <span class="text-center"><small>Screen</small></span>
    </a>
  </li>
  <li role="presentation" data-bind="click: activatePartyTab, css: partyTabStatus">
    <a href="#party-header" aria-controls="party-tab" role="tab" data-toggle="tab" class="tab-subtext">
      <img class="tab-icon" src="/images/tab_icons/backup.svg"></img></br>
      <span class="text-center"><small>Party</small></span>
    </a>
  </li>
  <li role="presentation" data-bind="click: activateChatTab, css: chatTabStatus">
    <a href="#chat-header" aria-controls="chat-tab" role="tab" data-toggle="tab" class="tab-subtext">
      <img class="tab-icon" src="/images/tab_icons/conversation.svg"></img></br>
      <span class="text-center"><small>Chat</small></span>
    </a>
  </li>
  <li role="presentation" data-bind="click: activateNotesTab, css: notesTabStatus">
    <a href="#notes" aria-controls="notes" role="tab" data-toggle="tab" class="tab-subtext">
      <img class="tab-icon" src="/images/tab_icons/quill-ink.svg"></img></br>
      <span class="text-center"><small>Notes</small></span>
    </a>
  </li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane" id="overview-tab" data-bind="with: campaignTabViewModel, css: overviewTabStatus">
    <div id="dm.tab.overview" data-bind="template: { name: 'overview.tmpl', templateUrl: 'templates/dm', data: campaignOverviewViewModel }"></div>
  </div>
  <div role="tabpanel" class="tab-pane" id="encounter-tab" data-bind="with: encounterTabViewModel, css: encounterTabStatus">
    <div id="dm.tab.encounters" data-bind="template: { name: 'encounter.tmpl', templateUrl: 'templates/dm', data: encounterViewModel }"></div>
  </div>
  <div role="tabpanel" class="tab-pane" id="dmscreen-tab" data-bind="css: dmscreenTabStatus">
    <div id="dm.tab.dmscreen" data-bind="template: { name: 'dmscreen.tmpl', templateUrl: 'templates/dm' }"></div>
  </div>
  <div role="tabpanel" class="tab-pane" id="party-tab" data-bind="css: partyTabStatus">
    <div id="dm.tab.party" data-bind="template: { name: 'party.tmpl', templateUrl: 'templates/dm', data: partyTabViewModel }"></div>
  </div>
  <div role="tabpanel" class="tab-pane" id="chat-tab" data-bind="css: chatTabStatus">
    <div id="dm.tab.chat" data-bind="template: { name: 'master.tmpl', templateUrl: 'templates/common/master-detail', data: chatTabViewModel }"></div>
  </div>
<div role="tabpanel" class="tab-pane" id="notes" data-bind="with: notesTabViewModel, css: notesTabStatus">
  <div class="row">
    <div class="col-sm-12 col-padded">
      <div class="h3">
        Notes<br />
        <small>“The Lady of the Lake, her arm clad in the purest shimmering samite held aloft Excalibur from the bosom of the water, signifying by divine providence that I, Arthur, was to carry Excalibur. THAT is why I am your king.” -King Arthur</small>
      </div>
      <div data-bind="template: { name: 'notes.tmpl', templateUrl: 'templates/common', data: notesViewModel }">
      </div>
    </div>
  </div>
</div>
</div>
