<div class="row">
    <div class="col-sm-4 col-lg-3 hidden-xs">
      <img alt="A heart icon" src="/images/compass.svg">
    </div>
  <div class="col-md-8 col-lg-9 col-xs-12">
    <div class="h2">
      Campaign<br />
      <small>You know who you are, but just in case you forget...</small>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row row-padded">
          <div class="col-md-12 col-padded">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">DM Name</span>
                <input type="text" class="form-control" aria-describedby="basic-addon2"
                  data-bind='textInput: playerName' />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-padded">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">Setting</span>
                <input type="text" class="form-control" aria-describedby="basic-addon2"
                  data-bind='textInput: setting' />
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer text-center">
        <i><small data-bind="text: timeSinceLabel"></small></i>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="h2">
      Notes<br />
      <small>What is special about your world? Or what isn't?</small>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <markdown-edit-preview params="text: notes"></markdown-edit-preview>
        </div>
      </div>
    </div>
  </div>
</div>
