k-expand-for(size)
  -kgs-expand-for size

k-ignore-media-queries()
  -kgs-ignore-media 1

k-always-expand()
  -kgs-always-expand 1

k-container-baby()
  box-sizing border-box
  padding 0 (_goldilocks_padding) 0 (_goldilocks_padding)
  width 100%
  margin auto

k-container-daddy()
  box-sizing border-box
  padding 0 (_goldilocks_padding * 2) 0 (_goldilocks_padding * 2)
  margin-left auto
  margin-right auto
  max-width (_goldilocks * 2 + _goldilocks_padding * 4)

k-container-mummy()
  box-sizing border-box
  width (_goldilocks + _goldilocks_padding * 4)

k-container()
  +cache('k-container')
    k-container-baby()
    @media daddy
      k-container-daddy()
    @media mummy
      k-container-mummy()

k-row(columns = _grid_columns)
  k-clearfix()
  +cache('k-row', columns, @-kgs-expand-for == 'mummy', @-kgs-ignore-media == 1)
    box-sizing border-box
    display block
    width 100%
    padding 0
    margin 0
    unless @-kgs-ignore-media == 1
      @media daddy
        _generate_row(2, columns)
      @media mummy
        _generate_row(1, _grid_columns) if @-kgs-expand-for == 'mummy'
        _generate_row(1, columns) if @-kgs-expand-for != 'mummy'

k-columns(span = 1)
  +cache('k-columns', span, @-kgs-expand-for is defined, @-kgs-ignore-media == 1, @-kgs-expand-for == 'mummy')
    box-sizing border-box
    float left
    margin-right 0
    padding-left 0
    padding-right 0

    -kgs-always-expand 1 if @-kgs-expand-for is defined

    if @-kgs-always-expand != 1 && span <= (_grid_columns * _grid_expand_min_proportion)
      width round(((span / _grid_columns)*100)%)
    else
      width 100%

    unless @-kgs-ignore-media == 1
      @media daddy
        _generate_column(span, 2)
      @media mummy
        if @-kgs-expand-for == 'mummy'
          width 100%
        else
          _generate_column(span)

k-offset(span = 1)
  @media daddy
    margin-left (_get_span_width(span, 2) + _gutter_width * 2)!important
  @media mummy
    margin-left (_get_span_width(span) + _gutter_width * 2)!important

k-pull-right()
  float right

_get_column_width(size_multiple = 1)
  ( (_goldilocks * size_multiple) - (_grid_columns - 1) * _gutter_width ) / (_grid_columns)

_get_span_width(columns, size_multiple = 1)
  columns * _get_column_width(size_multiple) + (columns - 1) * _gutter_width

_generate_row(size_multiple = 1, columns = _grid_columns)
  width (_get_span_width(columns, size_multiple) + _gutter_width)
  margin-left (_gutter_width * -1)

_generate_column(size, size_multiple = 1)
  // Fix for unpredictable rounding in some browsers
  width (_get_span_width(size, size_multiple) - 0.01em)
  margin-left _gutter_width
