rotate(degrees)
  transform 'rotate(%s)' % degrees

scale(ratio)
  transform 'scale(%s)' % ratio

translate(x, y)
  transform 'translate(%s, %s)' % (x y)

skew(x, y)
  transform 'skew(%s, %s)' % (x y)

translate3d(x, y, z)
  transform 'translate(%s, %s, %s)' % (x y z)

