<div class="collapse" data-bind="well: { open: wellOpen }">
  <div class="well well-no-padding well-top-shadow">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <div class="h3 no-top-margin">
          Resting<br />
          <small><span class="text-primary">Take a break to replenish your abilities and hit points.</span></small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <button type="button" class="btn btn-sm btn-default" style="width:49%;"
         data-bind="click: shortRestButton">
         <img class="action-bar-icon" src="/images/meditation.svg"></img>
        &nbsp;&nbsp;&nbsp;Short Rest
        </button>
        <button type="button" class="btn btn-sm btn-primary" style="width:49%;"
         data-bind="click: longRestButton">
         <img class="action-bar-icon" src="/images/camping-tent.svg"></img>
         &nbsp;&nbsp;&nbsp;Long Rest
        </button>
     </div>
   </div>
  </div>
</div>
