<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-responsive table-ac-bordered table-hover">
      <thead>
        <tr>
          <th data-bind="click: function(){sortBy('armorName');}">
            Armor
            <span data-bind="css: sortArrow('armorName')"></span>
          </th>
          <th data-bind="click: function(){sortBy('armorBonus');}">
            AC Bonus
            <span data-bind="css: sortArrow('armorBonus')"></span>
          </th>
          <th class="hidden-sm hidden-xs" data-bind="click: function(){sortBy('armorType');}">
            Type
            <span data-bind="css: sortArrow('armorType')"></span>
          </th>
          <th class="hidden-sm hidden-xs" data-bind="click: function(){sortBy('armorDexBonus');}">
            Dex Bonus
            <span data-bind="css: sortArrow('armorDexBonus')"></span>
          </th>
          <th class="hidden-sm hidden-xs" data-bind="click: function(){sortBy('armorCheckPenalty');}">
            AC Penalty
            <span data-bind="css: sortArrow('armorCheckPenalty')"></span>
          </th>
          <th class="hidden-sm hidden-xs" data-bind="click: function(){sortBy('armorProficiency');}">
            Proficiency
            <span data-bind="css: sortArrow('armorProficiency')"></span>
          </th>
          <th>
            <a data-toggle="modal"
               data-target="#addArmor" href="#">
              <i class="glyphicon glyphicon-plus"></i>
            </a>
          </th>
        </tr>
      </thead>
      <tbody data-bind='foreach: filteredAndSortedArmors'>
        <tr style="cursor:pointer;">
          <td data-bind="text: armorName, click: $parent.editArmor"
               href="#"
               data-toggle="modal"
               data-target="#viewArmor"></td>
          <td data-bind="text: armorBonus, click: $parent.editArmor"
               href="#"
               data-toggle="modal"
               data-target="#viewArmor"></td>
          <td class="hidden-sm hidden-xs" data-bind="text: armorType, click: $parent.editArmor"
               href="#"
               data-toggle="modal"
               data-target="#viewArmor"></td>
          <td class="hidden-sm hidden-xs" data-bind="text: armorDexBonus, click: $parent.editArmor"
               href="#"
               data-toggle="modal"
               data-target="#viewArmor"></td>
          <td class="hidden-sm hidden-xs" data-bind="text: armorCheckPenalty, click: $parent.editArmor"
               href="#"
               data-toggle="modal"
               data-target="#viewArmor"></td>
          <td data-bind="click: $parent.editArmor"
               href="#"
               data-toggle="modal"
               data-target="#viewArmor"><span data-bind="css: proficiencyLabel"></span></td>
          <td>
            <a data-bind="click: $parent.removeArmor" href="#">
              <i class="glyphicon glyphicon-remove">
              </i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <!-- Add Modal -->
    <div class="modal fade"
         id="addArmor"
         tabindex="-1"
         role="dialog"
         aria-labelledby="addArmorLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"
                id="addArmorLabel">Add an armor price to your armory.</h4>
        </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="armorName"
                       class="col-sm-2 control-label">Armor</label>
                <div class="col-sm-10">
                  <input type="text"
                         class="form-control"
                         id="armorName"
                         placeholder="Chain Mail"
                         data-bind='textInput: blankArmor().armorName'>
                </div>
              </div>
              <div class="form-group">
                <label for="armorType"
                       class="col-sm-2 control-label">Type</label>
                  <div class="col-sm-10">
                  <select class="form-control"
                          data-bind="options: blankArmor().armorTypeOptions,
                                     value: blankArmor().armorType"></select>
                  </div>
              </div>
              <div class="form-group">
                <label for="armorProficiency"
                       class="col-sm-2 control-label">Proficiency</label>
                  <div class="col-sm-10">
                    <input type="checkbox"
                           class="form-control"
                           id="armorProficiency"
                           data-bind='checked: blankArmor().armorProficiency'>
                  </div>
              </div>
              <div class="form-group">
                <label for="armorPrice"
                       class="col-sm-2 control-label">Price</label>
                  <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           id="armorPrice"
                           placeholder="5"
                           data-bind='textInput: blankArmor().armorPrice'>
                  </div>
              </div>
              <div class="form-group">
                <label for="armorWeight"
                       class="col-sm-2 control-label">Weight</label>
                  <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           id="armorWeight"
                           placeholder="6"
                           data-bind='textInput: blankArmor().armorWeight'>
                  </div>
              </div>
              <div class="form-group">
                <label for="armorDexBonus"
                       class="col-sm-2 control-label">Dex Bonus</label>
                  <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           id="armorDexBonus"
                           placeholder="3"
                           data-bind='textInput: blankArmor().armorDexBonus'>
                  </div>
              </div>
              <div class="form-group">
                <label for="armorSize"
                       class="col-sm-2 control-label">AC Penalty</label>
                  <div class="col-sm-10">
                  <input type="text"
                         class="form-control"
                         id="armorCheckPenalty"
                         placeholder="3"
                         data-bind='textInput: blankArmor().armorCheckPenalty'>
                  </div>
              </div>
              <div class="form-group">
                <label for="armorDescription"
                       class="col-sm-2 control-label">Description</label>
                  <div class="col-sm-10">
                    <textarea type="password"
                              class="form-control"
                              id="armorDescription"
                              rows="4"
                              placeholder="Armor of damage blocking"
                              data-bind='textInput: blankArmor().armorDescription'>
                    </textarea>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal">Cancel</button>
                <button type="button"
                        class="btn btn-primary"
                        data-bind='click: addArmor'
                        data-dismiss="modal">Add</button>
              </div>
            </form>
          </div> <!-- Modal Body -->
        </div> <!-- Modal Content -->
      </div> <!-- Modal Dialog -->
    </div> <!-- Modal Fade -->

    <!-- ViewEdit Modal -->
    <div data-bind="with: selecteditem">
        <div class="modal fade"
         id="viewArmor"
         tabindex="-1"
         role="dialog"
         aria-labelledby="viewArmorLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"
                id="viewArmorLabel">View an armor piece from your armory.</h4>
        </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="armorName"
                       class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input type="text"
                         class="form-control"
                         id="armorName"
                         placeholder="Chain Mail"
                         data-bind='textInput: armorName'>
                </div>
              </div>
              <div class="form-group">
                <label for="armorType"
                       class="col-sm-2 control-label">Type</label>
                  <div class="col-sm-10">
                  <select class="form-control"
                          data-bind="options: armorTypeOptions,
                                     value: armorType"></select>
                  </div>
              </div>
              <div class="form-group">
                <label for="armorProficiency"
                       class="col-sm-2 control-label">Proficiency</label>
                  <div class="col-sm-10">
                    <input type="checkbox"
                           class="form-control"
                           id="armorProficiency"
                           data-bind='checked: armorProficiency'>
                  </div>
              </div>
              <div class="form-group">
                <label for="armorPrice"
                       class="col-sm-2 control-label">Price</label>
                  <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           id="armorPrice"
                           placeholder="5"
                           data-bind='textInput: armorPrice'>
                  </div>
              </div>
              <div class="form-group">
                <label for="armorWeight"
                       class="col-sm-2 control-label">Weight</label>
                  <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           id="armorWeight"
                           placeholder="6"
                           data-bind='textInput: armorWeight'>
                  </div>
              </div>
              <div class="form-group">
                <label for="armorDexBonus"
                       class="col-sm-2 control-label">Dex Bonus</label>
                  <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           id="armorDexBonus"
                           placeholder="3"
                           data-bind='textInput: armorDexBonus'>
                  </div>
              </div>
              <div class="form-group">
                <label for="armorSize"
                       class="col-sm-2 control-label">AC Penalty</label>
                  <div class="col-sm-10">
                  <input type="text"
                         class="form-control"
                         id="armorCheckPenalty"
                         placeholder="3"
                         data-bind='textInput: armorCheckPenalty'>
                  </div>
              </div>
              <div class="form-group">
                <label for="armorDescription"
                       class="col-sm-2 control-label">Description</label>
                  <div class="col-sm-10">
                    <textarea type="password"
                              class="form-control"
                              id="armorDescription"
                              rows="4"
                              placeholder="Armor of damage blocking"
                              data-bind='textInput: armorDescription'>
                    </textarea>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal">Done</button>
              </div>
            </form>
          </div> <!-- Modal Body -->
        </div> <!-- Modal Content -->
      </div> <!-- Modal Dialog -->
    </div> <!-- Modal Fade -->
    </div> <!-- End with statement -->
</div> <!-- Panel -->

