<div class="panel panel-default" data-bind="visible: connected">
	<div class="panel-body">
		<div class="form-horizontal">
			<form data-bind="submit: sendMessage">
			  <div class="container-fluid">
				  <ul class="list-group" style="overflow:auto; height: 200px;"
				    data-bind="foreach: log, bottomsUp: {trim: 1000}">
					  <li class="list-group-item">
					    <span data-bind="html: message"></span>
					  </li>
				  </ul>
			  </div>
			  <div class="row">
          <div class="col-sm-12">
            <div class="input-group">
              <input type='text' class="form-control" id="text" 
                data-bind="textInput: message" autocomplete="off">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default">Send</button>
              </span>
          </div>
  			</div>
			</div>
		</div>
  </div>
</div>
