<div class="panel panel-default bio">
  <div class="panel-body" data-bind="with: featsProf">
  <div class="panel-body">
    <div class="form-horizontal">
      <div class="form-group">
        <div class="">
          <label for="proficiencies">Proficiencies and Languages:</label>
          <textarea id="proficiencies" class="form-control dark-area" rows="6"
             data-bind="textInput: proficiencies"></textarea>
          <br />
          <label for="feats">Feats:</label>
          <textarea id="feats" class="form-control dark-area" rows="6"
            data-bind="textInput: feats"></textarea>
          <br />
          <label for="specialAbilities">Special Abilities:</label>
          <textarea id="specialAbilities" class="form-control dark-area" rows="6"
            data-bind="textInput: specialAbilities"></textarea>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
