<div class="circular-profile no-padding" 
  data-bind="fileDrag: image, attr: {
    height: playerImageHeight,
    width: playerImageWidth,
  }, css: imageBorderClass">
  <div class="image-upload-preview text-center">
    <!-- ko if: hasImage -->
    <img class="img-circle"
      data-bind="attr: { 
        src: playerImageSrc,
        height: playerImageHeight,  
      }, visible: playerImageSrc">
    <!-- /ko -->
    <!-- ko ifnot: hasImage -->
    <div class="text-muted" style="margin-top:7px;">
      Drop a profile pic here</div>
    <!-- /ko -->
  </div>
  <div class="image-upload-input">
    <input type="file" style="display:none;" 
      data-bind="fileInput: image">
  </div>
</div>
