<div class="panel panel-default">
  <div class="panel-body" data-bind="with: spellStats">
    <div class="row">
      <div class="col-md-12 col-padded">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Spell Casting Ability</span>
          <select class="form-control"
                  data-bind="options: spellcastingAbilityOptions,
                             value: spellcastingAbility"></select>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-padded">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Spell Save DC</span>
          <input type="number"
                 class="form-control"
                 min="0"
                 max="30"
                 data-bind='textInput: spellSaveDc'>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-padded">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Spell Attack Bonus</span>
          <input type="number"
                 class="form-control"
                 min="0"
                 max="15"
                 data-bind='textInput: spellAttackBonus'>
        </div>
      </div>
    </div>
  </div>
</div>
