<div class="panel panel-default bio">
  <div class="panel-body">
    <div class="row row-padded">
    </div>
	<!--Health items -->
    <div class="row row-padded">
      <div class="col-md-6 col-padded stats-health-border">
        <div class="progress" data-bind="with: health">
          <div id="regularHitPoints" class="progress-bar" role="progressbar" aria-valuemin="0"
            data-bind="style: { width: regularProgressWidth }, css: progressType,
              text: progressLabel">
            <span class="sr-only"></span>
          </div>
          <div id="tempHitPoints" class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0"
            data-bind="style: { width: tempProgressWidth }" aria-describedby="hitpointsCounter">
            <span class="sr-only"></span>
          </div>
          <div class="progress-text col-xs-3 col-xs-offset-5"
            id="hitpointsCounter" data-bind="text: hitpointsText">
          </div>
        </div>
        <table class="table table-responsive table-ac-bordered table-hover">
          <thead>
            <tr>
              <th class="col-md-2"></th>
              <th class="text-center col-md-2">Max</th>
              <th class="text-center col-md-5">Damage</th>
              <th class="text-center col-md-3">Reset</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-content-vertical clickable"
                data-toggle="modal" data-target="#viewHealth"><b>Hit Points:</b></td>
              <td class="col-content-vertical text-center clickable"
                data-toggle="modal" data-target="#viewHealth">
                  <span data-bind="text: health().maxHitpoints"></span>
              </td>
              <td>
                <div class="input-group daily-feature-used-slots">
                    <button type="button" class="btn btn-default" data-bind="click: increaseDamage">
                      <i class="fa fa-plus fa-color"> </i>
                    </button>
                    <span data-bind="text: health().damage" class="used-slot-span"></span>
                    <button type="button" class="btn btn-default" data-bind="click: decreaseDamage">
                      <i class="fa fa-minus fa-color"> </i>
                    </button>
                </div>
              </td>
              <td class="text-center col-content-vertical">
                <a data-bind="click: resetDamage" href="#">
                  <i class="fa fa-refresh fa-color"> </i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="input-group">
          <span class="input-group-addon">Hit Dice:</span>
          <div class="form-control hit-dice-list">
            <!-- ko foreach: hitDiceList -->
            <span data-bind="attr: { id: $index, name: $index },
              css: hitDiceIcon, click: toggleHitDice"></span>
            <!-- /ko -->
            <!-- ko if: hitDiceList().length == 0 -->
            <span class="hit-dice-list-empty-fill">&nbsp;</span>
            <!-- /ko -->
          </div>
          <span class="input-group-addon">
              <select data-bind="options: hitDiceType().hitDiceOptions,
                         value: hitDiceType().hitDiceType,
                         select2: {theme: 'classic'}"></select>
           </span>
        </div>
      </div>

    <!--AC, Initiative, Speed-->
      <div class="col-md-3 col-padded">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">AC</span>
            <input type="number" class="form-control" aria-describedby="basic-addon2"
              data-bind='textInput: otherStats().ac' min="10">
          </div>
        </div>

        <div class="col-md-3 col-padded">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">Proficiency Bonus</span>
            <input type="number" class="form-control" aria-describedby="basic-addon2"
              data-bind='textInput: otherStats().proficiency' min="0">
          </div>
        </div>

        <div class="col-md-3 col-padded">
          <div class="input-group">
            <span class="input-group-addon"
                  id="basic-addon2"
                  data-bind="tooltip: { title: initiativeTooltip }">Initiative</span>
            <input type="number" class="form-control" aria-describedby="basic-addon2"
              data-bind='textInput: otherStats().initiative'>
          </div>
        </div>

        <div class="col-md-3 col-padded">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">Inspiration</span>
            <input type="number" class="form-control" aria-describedby="basic-addon2"
              data-bind='textInput: otherStats().inspiration' min="0">
          </div>
        </div>

        <div class="col-md-3 col-padded">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">Speed</span>
              <input type="number" class="form-control" aria-describedby="basic-addon2"
                data-bind='textInput: otherStats().speed' min="0">
          </div>
        </div>
        <div class="col-md-3 col-padded">
            <div class="input-group">
              <span class="input-group-addon">Death Save Successes</span>
              <div class="form-control" data-bind="foreach: deathSaveSuccessList">
                <input type="checkbox" data-bind="attr: { id: $index, name: $index }, checked: deathSaveSuccess"/>
              </div>
            </div>
          </div>

        <div class="col-md-3 col-padded">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">Passive Wisdom</span>
            <span class="input-group-addon" id="basic-addon3"
              data-bind="text: otherStats().passiveWisdom"></span>
          </div>
        </div>

      <!-- Death Saving throws -->

          <br>
          <div class="col-md-3 col-padded">
            <div class="input-group">
              <span class="input-group-addon">Death Save Failures&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <div class="form-control" data-bind="foreach: deathSaveFailureList">
                <input type="checkbox" data-bind="attr: { id: $index, name: $index }, checked: deathSaveFailure"/>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
<!--End Panel-->
	<div class="modal fade" id="viewHealth" tabindex="-1" role="dialog" aria-labelledby="viewHealthLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
					<h4 class="modal-title" id="healthLabel">
						Health
					</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">Max HP</label>
						<div class="col-sm-10">
              <input type="number" class="form-control"
                data-bind='textInput: health().maxHitpoints' min="0">
						</div>
					</div>
					<div class="form-group">
						<label for="bonus" class="col-sm-2 control-label">Damage</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" min="0" data-bind='textInput: health().damage'>
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">Temporary HP</label>
						<div class="col-sm-10">
              <input type="number" class="form-control"
                data-bind='textInput: health().tempHitpoints' min="0">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
					</div>
				</form>
			</div>
<!-- Modal Body -->
		</div>
<!-- Modal Content -->
	</div>
<!-- Modal Dialog -->
</div>
<!-- Modal Fade -->
