<div class="panel panel-default bio" data-bind="with: treasure">
  <div class="panel-body">
    <div class="row row-padded">
      <div class="col-sm-4">
        <label>
          <img src="/images/misc_icons/cash.svg" width="30px" />
          Coins
        </label>
      </div>
      <div class="col-sm-8">
        <label>
          <img src="/images/misc_icons/locked-chest.svg" width="30px" />
          Treasure
        </label>
      </div>
    </div>
    <div class="row row-padded">
      <div class="col-sm-4">
        <div class="row row-padded">
          <div class="col-sm-12">
            <div class="input-group ">
              <span class="input-group-addon">PP</span>
                <input type="number"
                       class="form-control"
                       min="1"
                       data-bind='value: platinum'/>
            </div> <!-- end input-group-->
          </div> <!-- end col-sm-6 -->
        </div> <!-- end row -->
        <div class="row row-padded">
          <div class="col-sm-12">
            <div class="input-group ">
              <span class="input-group-addon">GP</span>
                <input type="number"
                       class="form-control"
                       min="1"
                       data-bind='value: gold'/>
            </div> <!-- end input-group-->
          </div> <!-- end col-sm-6 -->
        </div> <!-- end row -->
        <div class="row row-padded">
          <div class="col-sm-12">
            <div class="input-group ">
              <span class="input-group-addon">EP</span>
                <input type="number"
                       class="form-control"
                       min="1"
                       data-bind='value: electrum'>
            </div> <!-- end input-group-->
          </div> <!-- end col-sm-6 -->
        </div> <!-- end row -->
        <div class="row row-padded">
          <div class="col-sm-12">
            <div class="input-group ">
              <span class="input-group-addon">SP</span>
                <input type="number"
                       class="form-control"
                       min="1"
                       data-bind='value: silver'>
            </div> <!-- end input-group-->
          </div> <!-- end col-sm-6 -->
        </div> <!-- end row -->
        <div class="row row-padded">
          <div class="col-sm-12">
            <div class="input-group">
              <span class="input-group-addon">CP</span>
                <input type="number"
                       class="form-control"
                       min="1"
                       data-bind='value: copper'>
            </div> <!-- end input-group-->
          </div> <!-- end col-sm-6 -->
        </div> <!-- end row -->
      </div> <!-- end col 6 -->
      <div class="col-sm-8">
          <textarea type="text"
                    rows="11"
                    class="form-control dark-area"
                    data-bind='textInput: misc'></textarea>
      </div>  <!-- end col 6 -->
    </div> <!-- end top row -->
  </div> <!-- end panel body  -->
  <div class="container-fluid panel-footer">
     <span class="pull-right">Total:&nbsp;~<span data-bind='text: worth_in_gold'></span><i>&nbsp;GP</i></span>
  </div> <!-- end panel footer -->
</div> <!-- end panel -->

