<div class="row">
  <div class="col-xs-12">
    <div class="container">
      <div class="center-block">
        <!-- Begin About Section -->
        <div class="row">
          <div class="col-sm-offset-1 col-sm-11 col-xs-12">
            <div class="h1">Welcome to Adventurers Codex!<br />
              <small>A tool to help tabletop RPG players keep their ducks in a row.</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-1 col-sm-7 col-xs-12">
            <div class="h2">What is Adventurer's Codex?</div>
            </p>A fun, easy to use, <a href="https://github.com/adventurerscodex/adventurerscodex.github.io">Open Source tool</a> for tabletop RPG players to manage their characters, campaigns, and parties. Our goal is to help you focus more on the game by bringing your paper character sheets into the 21st century.</p>
            <ul>
              <li>If you're looking for information about the project, <a href="https://adventurerscodex.com/blog/">check out our home page.</a></li>
              <li>For news and updates on upcoming features, or how-to guides, <a href="https://adventurerscodex.com/blog/blog.html">check out our blog</a>.</li>
            </ul>
            <div class="h3">Already have a Character?</div>
            <p>
              Have you used Adventurer's Codex before? If so import your existing character by clicking below. We'll skip the formalities and get you right to your game.
            </p>
            <div class="row">
              <div class="col-xs-offset-3 col-sm-offset4 col-xs-4">
                <button class="btn btn-default btn-sm" data-toggle="collapse"
                  data-bind="click: toggleWellOpen"
                  data-target="#importCollapse" aria-expanded="false"
                  aria-controls="importCollapse">
                    Import an Existing Character
                    <i data-bind="css: arrowIconClass" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="collapse" id="importCollapse">
              <div class="well well-no-padding well-top-shadow">
                <div class="row">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-5">
                    <h3>Import from file:</h3>
                    <p>If you've exported you character data before, you can import it here!</p>
                    <input type="file" id="file" name="file"
                      data-bind="file: { data: fileContents, reader: fileReader }"/>
                  </div>
                  <div class="col-sm-5">
                    <h3>Or from your favorite cloud service:</h3>
                    <p>Dropbox!</p>
                    <div id="dropbox-container"></div>
                  </div>
                    <div class="col-sm-1"></div>
                </div>
                <br/>
                <div class="row">
                  <div class="text-center">
                    <button type="button" class="btn btn-primary"
                      data-bind="click: importFromFile">Import</button>
                  </div>
                </div>
               </div>
              </div>
            <!-- Begin Create A new Character Section -->
            <div class="h3">Make a new Character!</div>
            <p>If you're new to Adventurer's Codex, welcome! You can get started making your first character by clicking "Next". If you've never made a character before, don't worry! We'll guide you through the process.
            </p>
          </div>
          <div class="col-sm-3 hidden-xs">
            <img src="/images/logo-full-circle.png" width="100%">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
