<div class="row">
  <div class="col-xs-12">
    <div class="container">
      <div class="center-block">
        <div class="text-center center-block">
          <h3>Welcome to Adventurers Codex!</h3>
          <p>
            To get started, click the <em>Create</em> button below.<br/>
            If you have an existing character, click <em>Import</em>.
          </p>
          <button class="btn btn-default" data-toggle="collapse"
            data-bind="click: toggleWellOpen"
            data-target="#importCollapse" aria-expanded="false"
            aria-controls="importCollapse">
              Import
              <i data-bind="css: arrowIconClass" aria-hidden="true"></i>
          </button>
            <p>PUT EXPLANATORY TEXT HERE!</p>
        </div>
        <br/>
        <div class="collapse" id="importCollapse">
          <div class="well well-no-padding well-top-shadow">
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-5">
                <h3>Import from file:</h3>
                <p>If you've exported you character data before, you can import it here!</p>
                <input type="file" id="file" name="file"
                  data-bind="file: { data: fileContents, reader: fileReader }"/>
              </div>
      				<div class="col-sm-5">
                <h3>Or from your favorite cloud service:</h3>
      				  <p>Dropbox!</p>
      				  <div id="dropbox-container"></div>
              </div>
                <div class="col-sm-1"></div>
            </div>
            <br/>
            <div class="row">
              <div class="text-center">
                <button type="button" class="btn btn-primary"
                  data-bind="click: importFromFile">Import</button>
              </div>
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
